.footer {
	&__content {
		background: #f2f3f5;
	}

	&__bottom {
		padding: 20px 0;
		background: #fafafa;

		&__cards {
			margin: 20px 0;
		}
	}

	&__phone {
		padding: 20px 0;
		text-align: center;

		&__number {
			font-size: 17px;
			font-weight: 700;
			color: #21a73f;

			i {
				font-size: 0.8em;
			}
		}

		&__help {
			margin-top: 5px;
			font-size: 11px;
			font-weight: 500;
		}
	}

	&__apps {
		padding-bottom: 15px;

		&__item {
			display: block;
			width: 200px;
			margin: 0 auto;
			margin-top: 8px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&__social {
		display: flex;
		justify-content: center;

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 4px;
			width: 1em;
			height: 1em;
			border: 1px solid #d9d9d9;
			border-radius: 5px;
			background: #fff;
			font-size: 50px;

			&:hover {
				border-color: #21a73f;
			}

			i {
				font-size: 0.5em;
				color: #21a73f;
			}
		}
	}

	&__cards {
		&__title {
			margin-bottom: 5px;
			font-size: 15px;
			text-align: center;
		}

		&__icons {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 36px;
				margin: 0 2px;
			}
		}
	}

	&__author {
		font-size: 15px;
		text-align: center;
	}
}

@media (max-width: 991.98px) {
	.footer {
		&__bottom {
			&__center {
				padding-bottom: 60px;
			}
		}

		&__nav {
			&__group {
				margin: 0 -20px;
				border-bottom: 1px solid #e7e7e8;
				padding: 0 23px;
			}

			&__title {
				position: relative;
				padding: 12px 0;
				font-size: 13px;
				font-weight: 700;
				text-transform: uppercase;
				color: #21a73f;
				cursor: pointer;

				i {
					transition: all 0.2s;
					transform: rotate(180deg);
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -0.5em;
				}

				&.collapsed {
					i {
						transform: rotate(0);
					}
				}
			}

			&__list {
				padding-bottom: 10px;

				> div {
					margin-bottom: 10px;
				}
			}
		}
	}
}

@media (max-width: 767.98px) {
	.footer {
		&__nav {
			&__group {
				margin: 0 -10px;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.footer {
		&__content {
			&__touch {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding: 50px 0;
			}
		}

		&__bottom {
			&__center {
				padding-right: 30px;
				padding-left: 30px;
			}
		}

		&__nav {
			&__group {
				padding: 0 30px;
			}

			&__title {
				padding: 21px 0;
				font-size: 24px;
			}
		}

		&__phone {
			flex: 0 0 auto;
			padding: 0;
			text-align: left;
			padding-right: 90px;

			&__number {
				font-size: 24px;
			}

			&__help {
				margin-top: 0;
				font-size: 16px;
			}
		}

		&__apps {
			flex: 0 0 auto;
			padding: 0;
			width: 50%;
			display: flex;

			&__item {
				margin: 0 7px 0 0;
				width: 150px;
			}
		}
	}
}

@media (min-width: 768px) {
	.footer {
		&__bottom {
			&__center {
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
			}

			&__social,
			&__author {
				flex: 0 0 auto;
				width: 25%;
			}

			&__cards {
				margin: 0;
				flex: 0 0 auto;
				width: 50%;
			}
		}

		&__social {
			justify-content: flex-end;

			&__item {
				font-size: 58px;
			}
		}

		&__cards {
			&__title {
				font-size: 18px;
			}

			&__icons {
				img {
					width: 40px;
				}
			}
		}

		&__author {
			font-size: 18px;
			text-align: left;
		}
	}
}

@media (min-width: 992px) {
	.footer {
		&__content {
			padding-top: 35px;
			padding-bottom: 7px;

			&__center {
				display: flex;
			}

			&__touch {
				padding-right: 25px;
				order: -1;
			}

			&__nav {
				flex-grow: 1;
			}
		}

		&__bottom {
			padding: 25px 0;
		}

		&__nav {
			display: flex;
			flex-wrap: wrap;

			&__group {
				flex: 1 0 185px;
				padding-left: 30px;
				margin-bottom: 30px;
			}

			&__title {
				font-size: 15px;
				font-weight: 700;
				text-transform: uppercase;
				color: #21a73f;

				i {
					display: none;
				}
			}

			&__list {
				> div {
					margin-top: 8px;
					font-size: 15px;
				}
			}

			.collapse {
				display: block !important;
			}
		}

		&__phone {
			padding: 0;
		}

		&__apps {
			padding-bottom: 0;
			margin-top: 22px;

			&__item {
				width: 125px;
				margin-top: 5px;
			}
		}

		&__social {
			&__item {
				font-size: 44px;
			}
		}

		&__cards {
			img {
				width: 30px;
			}
		}
	}
}
