.form-panel {
	border: 1/16 + em solid #f2f3f5;
	border-radius: 4/16 + em;
	background: #fff;
	margin-bottom: 20/16 + em;

	&:last-child {
		margin-bottom: 0;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 14/16 + em;
		height: 60/16 + em;
		border-bottom: 1/16 + em solid #f2f3f5;
		font-weight: 700;
	}

	&__step {
		color: #e7e7e8;
	}

	&__body {
		padding: 14/16 + em;
	}

	&__label {
		display: block;
		margin-bottom: 4/16 + em;
		font-size: 12/16 + em;
		font-weight: 500;
		color: #151515;
	}

	&__label-lg {
		margin-bottom: 8/22 + em;
		font-size: 22/16 + em;
	}

	&__check {
		position: relative;
		display: block;
		padding-left: 35/17 + em;
		font-size: 17/16 + em;
		font-weight: 500;
		margin-top: 13/17 + em;

		&:first-child {
			margin-top: 0;
		}

		&--radio {
			&.active {
				color: #21a73f;
			}
		}

		&--agree {
			span {
				font-size: 12/16 + em;
				font-weight: 400;
			}
		}

		input {
			position: absolute;
			opacity: 0;
		}

		a {
			color: #21a73f;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		flex: 0 0 auto;
		width: 100%;
	}

	&__list {
		margin-top: -20/16 + em;
	}

	&__item {
		margin-top: 20/16 + em;
	}

	&__sep {
		border-top: 1/16 + em solid #f2f3f5;
		margin: 20/16 + em (-14/16) + em;
	}

	&__date {
		margin-top: 15/16 + em;
		width: 10em;
	}

	&__total {
		margin-top: 10/22 + em;
		font-size: 22/16 + em;

		span {
			font-weight: 700;

			span {
				font-size: 13/22 + em;
			}
		}
	}

	&__attn {
		font-size: 22/16 + em;
		font-weight: 700;

		span {
			color: #ef1a1a;
		}
	}

	&__actions {
		margin-top: 20/16 + em;

		button {
			display: block;
			width: 100%;
			margin-top: (6/17) + em;
			padding: (9/17) + em (15/17) + em;
			font-size: 17/16 + em;
		}
	}

	&__auth {
		&__desc {
			font-size: 12/16 + em;
		}

		&__icons {
			display: flex;
			margin-top: 7px;

			&__item {
				padding: 10/22 + em;
				font-size: 22/16 + em;
				line-height: 0;

				&--vk {
					color: #627da1;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.form-panel {
		&__header {
			height: 64px;
		}

		&__title {
			font-size: 24px;
		}

		&__step {
			font-size: 18px;
		}

		&__row {
			padding-right: 30px;
		}

		&__col {
			padding-right: 40px;

			&--6 {
				width: 50% !important;
			}
		}

		&__check {
			font-size: 18px;
		}

		&__label-lg {
			font-size: 24px;
		}

		&__attn {
			font-size: 18px;
		}

		&__actions {
			display: flex;

			button {
				padding: (10/16) + em (45/16) + em;
				width: auto;
				margin-right: 12px;
				margin-top: 0;
				font-size: 16px;
			}
		}

		&__auth {
			&__desc {
				font-size: 14px;
			}
		}
	}
}
