.gallery {
	&__image {
		position: relative;

		&:before {
			content: " ";
			padding-top: 100%;
			display: block;
		}

		&__default {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__zoomed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}
	}

	&__nav {
		margin-top: 10/16 + em;
		overflow: hidden;

		&__window {
			padding-bottom: 12/16 + em;
		}

		&__list {
			display: flex;
		}

		&__item {
			flex: 0 0 auto;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 5/16 + em;
			border: 1px solid #e7e7e8;
			border-radius: 4/16 + em;
			width: 75/15 + em;
			height: 75/15 + em;
			overflow: hidden;
			cursor: pointer;
			opacity: 0.7;

			&.active {
				opacity: 1;

				&:before {
					content: " ";
					position: absolute;
					height: 100%;
					left: 0;
					width: 2/16 + em;
					background: #21a73f;
				}
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__prev,
		&__next {
			display: none;
		}
	}
}

@media (min-width: 1200px) {
	.gallery {
		position: relative;

		&__image {
			margin-left: 75px;
		}

		&__nav {
			position: absolute;
			top: 0;
			left: 0;
			width: 70px;
			height: 100%;
			margin-top: 0;

			&__window {
				padding-bottom: 0;
				height: 100%;
			}

			&__list {
				display: block;
			}

			&__item {
				width: 70px;
				height: 70px;
				margin-right: 0;
				margin-top: 5px;

				&:first-child {
					margin-top: 0;
				}
			}

			&__prev,
			&__next {
				position: absolute;
				width: 45px;
				height: 45px;
				font-size: 16px;
				display: flex;
				justify-content: center;
				align-items: center;
				box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.04),
					0px 0px 16px rgba(51, 51, 51, 0.08);
				background: #fff;
				border-radius: 4px;
				left: 12px;
			}

			&__prev {
				top: 20px;
			}

			&__next {
				bottom: 20px;
			}
		}

		.simplebar-track.simplebar-vertical {
			display: none;
		}
	}
}
