.header {
	position: relative;
	z-index: 400;
	background: #fff;

	&__main {
		display: flex;
		align-items: center;
		height: 80px;

		&__logo {
			flex: 0 0 auto;
			width: 120px;
			margin: 0 2%;

			img {
				width: 100%;
			}
		}

		&__city {
			max-width: 200px;
			margin: 0 2% 0 2%;
		}

		&__search-area {
			position: relative;
			flex-grow: 1;
			align-self: stretch;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__call {
			padding: 10px 20px;
			font-weight: 700;
			white-space: nowrap;

			&__phone {
				color: #21a73f;

				i {
					font-size: 0.9em;
					margin-right: 5px;
				}
			}

			&__time {
				font-size: 12px;
			}
		}

		&__own {
			display: flex;
			padding: 0 10px;

			a {
				position: relative;
				padding: 13px;

				&:before {
					content: " ";
					border-left: 1px solid #c4c4c4;
					position: absolute;
					height: 18px;
					top: 50%;
					margin-top: -9px;
					left: 0;
				}

				&:first-child {
					&:before {
						display: none;
					}
				}
			}

			i {
				font-size: 21px;
			}

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 3px;
				right: 3px;
				width: 18px;
				height: 18px;
				background: #ef7f1a;
				border-radius: 50%;
				font-size: 12px;
				font-weight: 700;
				color: #fff;
			}
		}

		&__burger,
		&__search-button {
			display: none;
		}
	}

	&__menu {
		display: flex;
		background: #21a73f;
		border-radius: 5px;
		overflow: hidden;

		a {
			transition: all 0.3s;
			flex: 1 1;
			position: relative;
			border-right: 2px solid #fff;
			padding: 10px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			color: #fff;

			&:last-child {
				border: none;
			}
		}

		i {
			margin-right: 5px;
			font-size: 12px;
			color: #007334;
		}
	}

	&__city {
		padding: 10px;
		font-size: 18px;
		font-weight: 500;
		white-space: nowrap;

		&__icon {
			font-size: 13/18 + em;
		}
	}
}

@media (max-width: 991.98px) {
	.header {
		&__menu,
		&__main__city,
		&__main__search-area,
		&__main__call,
		&__main__own {
			display: none;
		}

		&__main {
			height: 60px;
			box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.04),
				0px 0px 16px rgba(51, 51, 51, 0.08);

			&__logo {
				flex-grow: 1;
				text-align: center;

				img {
					max-width: 116px;
				}
			}

			&__burger {
				display: block;
				font-size: 0;
			}

			&__search-button {
				display: block;
				font-size: 24px;
			}
		}
	}
}

@media (max-width: 767.98px) {
	.header {
		&__main {
			&__logo {
				img {
					max-width: 100px;
				}
			}

			&__search-button {
				font-size: 20px;
			}
		}
	}
}
