@media (min-width: 992px) {
	.layout-order {
		&__center {
			display: flex;
		}

		&__main {
			flex-grow: 1;
			padding-right: 17px;
		}

		&__side {
			flex: 0 0 auto;
			width: 330px;
			font-size: 14px;
		}
	}
}
