.my-cards {
	&__header {
		display: flex;
		align-items: center;
		height: 40px;
		padding: 0 15px;
		font-size: 18px;
		font-weight: 700;
		border: 1px solid #f2f3f5;
		border-radius: 5px 5px 0 0;
		background: #fff;
		margin-bottom: -1px;
	}

	&__body {
		border: 1px solid #f2f3f5;
		border-radius: 0 0 5px 5px;
		background: #fff;
		padding: 15px;
	}

	&__item {
	}

	&__col-image {
	}

	&__col-desc {
	}

	&__demo {
		background: #f68219 url(../images/image.svg) no-repeat 50% 50%;
		background-size: 16% auto;
		border-radius: 5px;
	}

	&__name {
		margin-top: 33px;
		font-size: 24px;
		font-weight: 700;
	}

	&__balance {
		margin-top: 20px;
		font-size: 20px;
		font-weight: 700;
	}

	&__info {
		margin-top: 23px;
		font-size: 17px;
		color: #979797;
	}

	&__menu {
		margin-top: 18px;
		display: flex;
		flex-wrap: wrap;
		font-size: 15px;

		> * {
			margin: 7px 20px 0 0;
		}
	}
}

@media (min-width: 768px) {
	.my-cards {
		&__header {
			height: 80px;
			padding: 0 35px;
			font-size: 24px;
		}

		&__body {
			padding: 35px;
		}

		&__item {
		}

		&__col-image {
		}

		&__col-desc {
		}

		&__demo {
		}

		&__name {
			margin-top: 65px;
			font-size: 32px;
		}

		&__balance {
			margin-top: 17px;
			font-size: 24px;
		}

		&__info {
			margin-top: 22px;
			font-size: 18px;
		}

		&__menu {
			margin-top: 16px;
			font-size: 18px;
		}
	}
}

@media (min-width: 992px) {
	.my-cards {
		&__header {
			height: 60px;
			padding: 0 20px;
		}

		&__body {
			padding: 20px;
		}

		&__item {
			display: flex;
		}

		&__col-image {
			flex: 0 0 auto;
			width: 295px;
		}

		&__col-desc {
			flex: 0 0 auto;
			width: calc(100% - 295px);
			padding-left: 20px;
		}

		&__demo {
		}

		&__name {
			margin-top: 0;
		}

		&__balance {
		}

		&__info {
		}

		&__menu {
		}
	}
}
