.my-cards {
	&__wrapper {
		padding: 25/16 + em 18/16 + em;
		border: 2/16 + em solid #f2f3f5;
		border-radius: 6/16 + em;
		background: #fff;
	}

	&__title {
		margin-bottom: 10/18 + em;
		font-size: 18/16 + em;
		font-weight: 700;
	}

	&__list {
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		border: 1px solid #f2f3f5;
		padding: 17/16 + em 20/17 + em;
		margin-bottom: -1/16 + em;
		background: #fff;

		&:first-child {
			border-radius: 5/16 + em 5/16 + em 0 0;
		}

		&:last-child {
			border-radius: 0 0 5/16 + em 5/16 + em;
		}

		&--new {
			min-height: 155/16 + em;

			.my-cards__image {
				position: relative;
				border-color: #e9e2e2;
				background: none;

				i {
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -0.5em 0 0 -0.5em;
					font-size: 32/16 + em;
					color: #e7e7e8;
				}
			}
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

	&__image {
		flex: 0 0 auto;
		width: 100/16 + em;
		border: 1px solid transparent;
		border-radius: 5/16 + em;
		background: #f2f3f5 url(../images/no-image--small.svg) no-repeat 50% 50%;
		background-size: 50% auto;

		&:before {
			content: " ";
			display: block;
			padding-top: 75%;
		}
	}

	&__desc {
		flex: 0 0 auto;
		padding-left: 10/16 + em;
	}

	&__name {
		font-size: 18/16 + em;
	}

	&__number {
		margin-top: 10/13 + em;
		font-size: 13/16 + em;
		color: #adb5bd;
	}

	&__menu {
		margin-top: 15/13 + em;
		display: flex;
		flex-wrap: wrap;
		font-size: 13/16 + em;

		a {
			margin-right: 20/13 + em;
			color: #21a73f;
		}
	}

	&__score {
		flex: 0 0 auto;
		margin-top: 15/16 + em;
		padding: 15/16 + em;
		width: 100%;
		text-align: center;

		&__label {
			font-size: 18/16 + em;
		}
		&__value {
			font-size: 32/16 + em;
			font-weight: 700;
		}
	}

	&__add-new {
		font-size: 18/16 + em;
		color: #21a73f;
	}
}

@media (min-width: 992px) {
	.my-cards {
		&__wrapper {
			max-width: 580px;
			padding: 0;
			border: 0;
			background: none;
		}

		&__title {
			margin-bottom: 7px;
		}

		&__item {
			padding: 16px;

			&--new {
				min-height: auto;
			}
		}

		&__name {
			font-size: 14px;
		}

		&__menu {
			font-size: 10px;
		}

		&__score {
			width: auto;
			margin: 0;
			padding: 0;
			text-align: right;
			align-self: flex-start;
			margin-left: auto;

			&__label {
				font-size: 14px;
			}

			&__value {
				margin-top: 10px;
				font-size: 24px;
			}
		}

		&__add-new {
			font-size: 14px;
		}
	}
}
