.nav-bottom {
	transition: all 0.1s;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	align-items: center;
	background: #fff;
	text-align: center;
	height: 70px;

	&.hidden {
		transform: translateY(100%);
	}

	&__item {
		position: relative;
		flex: 1 1 auto;
		padding: 0 em 0.5em;

		&:before {
			content: " ";
			border-left: 1/16 + em solid #727271;
			position: absolute;
			top: 50%;
			right: 0;
			height: 1em;
			transform: translateY(-50%);
		}

		&:last-child {
			&:before {
				display: none;
			}
		}

		&.active {
			color: #21a73f;
		}
	}

	&__icon {
		position: relative;
		width: 20/16 + em;
		height: 20/16 + em;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		i {
			font-size: 16/16 + em;
		}

		&--catalog i {
			font-size: 14/16 + em;
		}

		&--home i {
			font-size: 20/16 + em;
		}
	}

	&__count {
		position: absolute;
		top: -4/8 + em;
		right: -6/8 + em;
		width: 12/8 + em;
		height: 12/8 + em;
		background: #ef7f1a;
		border-radius: 50%;
		font-size: 8/16 + em;
		line-height: (12/8);
		color: #fff;
	}

	&__text {
		margin-top: 4/10 + em;
		text-transform: uppercase;
		font-size: 8/16 + em;
	}
}

@media (min-width: 768px) {
	.nav-bottom {
		height: 80px;
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	.nav-bottom {
		display: none;
	}
}
