.order-info {
	&__item {
		margin-top: 15/16 + em;

		&:first-child {
			margin-top: 0;
		}
	}

	&__table {
		border: 1px solid #e7e7e8;
		border-radius: 4/16 + em;
		overflow: hidden;
	}

	&__row {
		display: flex;

		&:last-child {
			.order-info__prop,
			.order-info__data {
				border-bottom: 0;
			}
		}
	}

	&__prop {
		background: #f2f3f5;
		border-right: 1px solid #e7e7e8;
		color: #2e2e2e;
	}

	&__prop,
	&__data {
		flex: 0 0 auto;
		width: 50%;
		padding: 9/18 + em 10/18 + em;
		border-bottom: 1px solid #e7e7e8;
		font-size: 18/16 + em;
		font-weight: 500;
	}

	&__data {
		text-align: center;
		background: #fff;
		color: #000;
	}

	&__completed {
		color: #21a73f;
	}

	&__progress {
		color: #ef7f1a;
	}

	&__control {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10/16 + em;
	}

	&__toggle {
		display: flex;
		align-items: center;
		font-size: 14/16 + em;
		font-weight: 500;
		color: #21a73f;

		&.collapsed {
			i {
				transform: rotate(0);
			}
		}

		i {
			transition: all 0.2s;
			transform: rotate(180deg);
			margin-left: 0.5em;
			font-size: 0.8em;
		}
	}

	&__menu {
		display: flex;
		align-items: center;

		a {
			font-size: 24/16 + em;
			margin-left: 15/16 + em;
			line-height: 1;
		}
	}

	&__body {
		padding-top: 15/16 + em;
	}
}

@media (max-width: 991.98px) {
	.order-info {
		padding: 10/16 + em 6/16 + em;
		border: 2/16 + em solid #f2f3f5;
		border-radius: 4/16 + em;
		background: #fff;
	}
}

@media (min-width: 992px) {
	.order-info {
		&__item {
			border: 1px solid #e7e7e8;
			border-radius: 4px;
			background: #fff;
			overflow: hidden;
		}

		&__table {
			display: flex;
			border: none;
		}

		&__row {
			display: block;
			flex: 1 1 auto;

			&:last-child {
				.order-info__prop,
				.order-info__data {
					border-right: 0;
				}
			}
		}

		&__prop {
			width: auto;
			padding: 12px 10px;
			text-align: center;
			border-bottom: 1px solid #e7e7e8 !important;
			font-size: 17px;
			font-weight: 700;
		}

		&__data {
			width: auto;
			padding: 20px 10px;
			border-bottom: 1px solid #e7e7e8 !important;
			border-right: 1px solid #e7e7e8;
			font-size: 17px;
		}

		&__table {
			border-radius: 4px 4px 0 0;
			border-bottom: 0;
		}

		&__control {
			padding: 10px 15px;
		}

		&__toggle {
			font-size: 17px;
		}

		&__menu {
			a {
				margin-left: 10px;
			}
		}

		&__body {
			padding: 15px;
		}
	}
}
