.page {
	&__center {
		box-sizing: content-box;
		padding: 0 10px;
		max-width: 1180px;
		margin: 0 auto;

		.page__center {
			padding: 0 !important;
		}
	}

	&__outer {
		margin: 0 -10px;
	}

	&__inner {
		padding: 0 10px;
	}

	&__scroll {
		display: none;
	}

	&__more {
		margin: 20px 0;
	}

	&__bg-mobile {
		transition: all 0.2s;
		position: fixed;
		z-index: 200;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0;
		visibility: hidden;

		&.active {
			visibility: visible;
			opacity: 0.2;
		}
	}

	&__lock-mobile {
		overflow: hidden;
	}

	&__lock {
		overflow: hidden;
	}
}

@media (min-width: 768px) {
	.page {
		&__center {
			padding: 0 20px;
		}
		&__outer {
			margin: 0 -20px;
		}

		&__inner {
			padding: 0 20px;
		}

		&__more {
			.button {
				height: 60px;
				font-size: 18px;
			}
		}
	}
}

@media (min-width: 992px) {
	.page {
		&__more {
			margin: 25px 0;

			.button {
				height: auto;
				font-size: 15px;
			}
		}

		&__bg-mobile {
			display: none;
		}

		&__lock-mobile {
			overflow: visible;
		}
	}
}
@media (min-width: 1400px) {
	.page {
		&__scroll {
			position: fixed;
			display: block;
			bottom: 10%;
			right: 30px;

			&.hidden {
				display: none;
			}
		}
	}
}
