.page {
	&__center {
		box-sizing: content-box;
		padding: 0 10px;
		max-width: 1180px;
		margin: 0 auto;

		.page__center {
			padding: 0 !important;
		}
	}

	&__outer {
		margin: 0 -10px;
	}

	&__inner {
		padding: 0 10px;
	}

	&__paper {
		padding: 15px;
		border: 2px solid #f2f3f5;
		border-radius: 4px;
		background: #fff;
	}

	&__scroll {
		display: none;
	}

	&__more {
		margin: 20px 0;
	}
}

@media (max-width: 767.98px) {
	.page {
		&__paper {
			&--compact {
				padding: 10px;
			}
		}
	}
}

@media (min-width: 768px) {
	.page {
		&__center {
			padding: 0 20px;
		}
		&__outer {
			margin: 0 -20px;
		}

		&__inner {
			padding: 0 20px;
		}

		&__paper {
			padding: 30px;
		}

		&__more {
			.button {
				padding: 19px 20px;
				font-size: 18px;
			}
		}
	}
}

@media (min-width: 992px) {
	.page {
		&__more {
			margin: 25px 0;

			.button {
				padding: 10px 20px;
				font-size: 15px;
			}
		}
	}
}
@media (min-width: 1400px) {
	.page {
		&__scroll {
			position: fixed;
			display: block;
			bottom: 10%;
			right: 30px;

			&.hidden {
				display: none;
			}
		}
	}
}
