.popup-status {
	max-width: 300px;

	&__icon {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		font-size: 12px;

		&--error {
			background: #f9e3e3;
			color: #db524e;
		}

		&--success {
			background: rgba(#27ae60, 0.12);
			color: #27ae60;
		}
	}

	&__message {
		margin-top: 10px;
		text-align: center;
		font-size: 15px;
	}
}

@media (min-width: 768px) {
	.popup-status {
		max-width: 450px;

		&__message {
			margin-top: 35px;
			font-size: 18px;
		}
	}
}

@media (min-width: 992px) {
	.popup-status {
		max-width: 600px;

		&__icon {
			width: 85px;
			height: 85px;
			font-size: 18px;
		}
	}
}
