.product-reviews {
	padding: 13px;
	border: 1px solid #f2f3f5;
	border-radius: 5px;
	background: #fff;

	&__button {
		width: 100%;
		font-size: 13px;
	}

	&__header {
		margin-bottom: 10px;

		&__sorting {
			width: 215px;
			margin-top: 35px;
			font-size: 12px;
		}
	}

	&__item {
		margin-top: 50px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__author {
		font-size: 15px;

		&__name {
			font-weight: 700;
		}

		&__city {
			margin-top: 0.65em;
		}

		&__time {
			margin-top: 0.65em;
			font-size: 13px;
		}
	}

	&__rating {
		margin-top: 0.65em;
		font-size: 16px;
	}

	&__text {
		margin-top: 15px;
		font-size: 13px;

		h6 {
			margin-bottom: 0.5em;
			font-weight: 700;
		}

		p {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__reply {
	}

	&__likes {
		display: flex;
		margin: 1em 0;
		font-size: 19px;

		> * {
			margin-right: 0.5em;
		}
	}

	&__write {
		margin-top: 1.5em;
		font-size: 18px;
	}

	&__form {
		padding-top: 10px;

		&__input {
			textarea {
				font-size: 11px;
			}
		}

		&__button {
			margin-top: 10px;
		}
	}

	&__more {
		margin: 30px 0 0 0;
	}
}

@media (min-width: 768px) {
	.product-reviews {
		border-width: 2px;
		padding: 25px;

		&__button {
			height: 60px;
			font-size: 18px;
		}

		&__header {
			margin-bottom: 20px;

			&__sorting {
				width: 300px;
				margin-top: 20px;
				font-size: 17px;
			}
		}

		&__author {
			font-size: 32px;

			&__time {
				font-size: 24px;
			}
		}

		&__rating {
			font-size: 30px;
		}

		&__text {
			margin-top: 30px;
			font-size: 24px;
		}

		&__likes {
			font-size: 34px;
		}

		&__write {
			font-size: 24px;
		}

		&__form {
			&__input {
				textarea {
					font-size: 24px;
				}
			}

			&__button {
				margin-top: 20px;
			}
		}

		&__more {
			margin: 50px 0 0 0;
		}
	}
}

@media (min-width: 992px) {
	.product-reviews {
		border-width: 1px;
		border-radius: 0 0 5px 5px;

		&__button {
			height: auto;
			min-width: 200px;
			font-size: 15px;
		}

		&__header {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 25px;

			&__sorting {
				margin-top: 0;
				font-size: 13px;
				line-height: 1.6;
			}
		}

		&__item {
			display: flex;
		}

		&__author {
			flex: 0 0 auto;
			padding-right: 20px;
			width: 150px;
			font-size: 18px;

			&__time {
				font-size: 13px;
			}
		}

		&__desc {
			flex: 0 0 auto;
			width: calc(100% - 150px);
		}

		&__rating {
			margin-top: 0;
			font-size: 20px;
		}

		&__text {
			margin-top: 15px;
			font-size: 18px;
		}

		&__reply {
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
			flex-direction: row-reverse;
			align-items: center;
		}

		&__likes {
			margin: 0;
			font-size: 22px;
		}

		&__write {
			margin: 0;
			font-size: 18px;
		}

		&__form {
			padding-top: 20px;

			&__input {
				textarea {
					font-size: 15px;
				}
			}

			&__button {
				display: inline-block;
				margin-top: 15px;
			}
		}

		&__more {
			margin: 30px 0 0 0;
		}
	}
}
