.pros {
	padding: 10px 0;
	background: #fff;

	&__center {
		position: relative;
	}

	&__list {
		display: flex;
		margin-bottom: 10px;
		color: #000;
	}

	&__item {
		flex: 0 0 auto;
		width: 260px;
		padding: 0 20px;
		text-align: center;

		&__icon {
			height: 90px;

			&--return-box {
				padding-bottom: 10px;
			}

			img {
				max-height: 100%;
				width: auto;
			}
		}

		&__title {
			font-size: 20px;
			font-weight: 500;
		}

		&__desc {
			font-size: 15px;
		}
	}

	&__sep {
		border-left: 1px solid #727271;
		margin-top: 20px;
		height: 85px;
	}
}

@media (min-width: 992px) {
	.pros {
		&__item {
			&__title {
				font-size: 18px;
			}
			&__desc {
				font-size: 13px;
			}
		}
	}
}

@media (min-width: 1200px) {
	.pros {
		&__item {
			flex: 1 0 19%;
		}
	}
}
