.pros {
	padding: 20px 0;
	background: #fff;

	&__center {
		position: relative;
	}

	&__list {
		display: flex;
		padding: 10px 0;
	}

	&__item {
		flex: 0 0 auto;
		width: 50%;
		max-width: 230px;
		padding: 0 10px;
		text-align: center;
		color: #000;

		&__icon {
			height: 50px;

			&--return-box {
				padding-bottom: 10px;
			}

			img {
				max-height: 100%;
				width: auto;
			}
		}

		&__title {
			font-size: 12px;
			font-weight: 500;
		}

		&__desc {
			font-size: 9px;
		}
	}
}

@media (min-width: 768px) {
	.pros {
		&__list {
			padding: 15px 0;
			margin-top: 10px;
		}

		&__item {
			padding: 0 20px;

			&__icon {
				height: 80px;
				margin-bottom: 10px;
			}

			&__title {
				font-size: 18px;
			}
			&__desc {
				font-size: 13px;
			}
		}
	}
}

@media (min-width: 992px) {
	.pros {
		&__item {
			color: #323232;

			&__title {
			}
			&__desc {
				font-size: 15px;
			}
		}
	}
}

@media (min-width: 1220px) {
	.pros {
		padding-top: 25px;

		&__item {
			width: 20%;
			max-width: none;
		}
	}
}
