.shops-cards {
	&__item {
		flex-grow: 1;
		border: 1px solid #f2f3f5;
		border-radius: 5px;
		background: #fff;
		overflow: hidden;
	}

	&__image {
		background-size: cover;
		background-position: 50% 50%;

		&:before {
			content: " ";
			padding-top: 100%;
			display: block;
		}
	}

	&__desc {
		padding: 10px;
	}

	&__title {
		font-size: 11px;
		font-weight: 500;
		color: #21a73f;
	}

	&__text {
		font-size: 9px;
	}
}

@media (min-width: 768px) {
	.shops-cards {
		&__desc {
			padding: 20px;
		}

		&__title {
			font-size: 16px;
		}

		&__text {
			font-size: 15px;
		}
	}
}

@media (min-width: 992px) {
	.shops-cards {
		&__desc {
			padding: 25px;
		}

		&__title {
			font-size: 18px;
		}

		&__text {
			font-size: 14px;
		}
	}
}
