.slider-shops {
	position: relative;

	&__row {
		display: flex;
	}

	&__gap {
		flex: 0 0 auto;
		width: 10px;

		&:last-child {
			width: 5px;
		}
	}

	&__col {
		flex: 0 0 auto;
		width: calc((100% - 20px) / 2);
		padding-right: 5px;
		max-width: 250px;
		display: flex;
		flex-direction: column;
	}

	.button-slider {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.slider-shops {
		&__gap {
			width: 20px;

			&:last-child {
				width: 12px;
			}
		}

		&__col {
			padding-right: 8px;
		}
	}
}
@media (min-width: 992px) {
	.slider-shops {
		&__gap {
			&:last-child {
				width: 6px;
			}
		}

		&__col {
			padding-right: 14px;
		}
	}
}

@media (min-width: 1220px) {
	.slider-shops {
		margin-bottom: -15px;

		&__gap {
			width: 13px !important;
		}

		&__col {
			// 13 * 2 + 2 (makes border visible when scroll via button)
			width: calc((100% - 28px) / 4);
			padding: 0 7px;
			max-width: none;
		}

		.button-slider {
			display: flex !important;
		}

		.button-slider--prev {
			left: -20px;
		}

		.button-slider--next {
			right: -20px;
		}

		.simplebar-horizontal {
			display: none;
		}
	}
}
