.slider-main {
	margin-top: 10px;
	overflow: hidden;

	&__list {
		margin: 0 -10px;
		line-height: 0;
	}

	&__item {
		padding: 0 10px;
		display: none;

		&:first-child {
			display: block;
		}
	}

	&__slide {
		background: #e7e7e8;
		height: 300px;
		border-radius: 5px;
	}

	.slick-list {
		overflow: visible;
	}

	.button-slider {
		display: none !important;
	}

	.button-slider--prev {
		left: 0;
	}

	.button-slider--next {
		right: 0;
	}

	.slick-dots {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 5px;
		display: flex;

		li {
			margin: 0 3px;

			button {
				transition: all 0.2s;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
				width: 5px;
				height: 5px;
				text-indent: 20px;
				background: #fff;
				border-radius: 10px;
				overflow: hidden;
			}

			&.slick-active {
				button {
					width: 15px;
					background: #21a73f;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.slider-main {
		margin-top: 20px;

		&__list {
			margin: 0 -20px;
		}

		&__item {
			padding: 0 20px;
		}

		&__slide {
			height: 240px;
		}
	}
}

@media (min-width: 992px) {
	.slider-main {
		margin-top: 30px;

		&__slide {
			height: 400px;
		}

		.button-slider {
			display: flex !important;
		}
	}
}

@media (min-width: 1230px) {
	.slider-main {
		&__list {
			margin: 0 -25px;
		}

		&__item {
			padding: 0 25px;
		}

		.slick-dots {
			bottom: 10px;
		}

		.button-slider--prev {
			left: 5px;
		}

		.button-slider--next {
			right: 5px;
		}
	}
}
