.subscribe {
	padding-bottom: 25px;
	background: #fff;

	&__header {
		margin-bottom: 20px;
	}

	&__title {
		display: flex;
		align-items: center;
		height: 36px;

		&__icon {
			flex: 0 0 auto;
			width: 30px;
			margin-right: 7px;
		}

		&__text {
			flex-grow: 1;
			font-size: 15px;
			font-weight: 500;
			color: #000;
		}
	}

	&__desc {
		font-size: 13px;
		color: #21a73f;
	}

	&__form {
	}

	&__input {
	}

	&__button {
		margin-top: 10px;

		.button {
			width: 100%;
		}
	}
}

@media (min-width: 768px) {
	.subscribe {
		padding-top: 25px;
		padding-bottom: 35px;

		&__header {
			display: flex;
			align-items: center;
			margin-bottom: 25px;
		}

		&__title {
			flex: 0 0 auto;
			padding-right: 10px;
			width: 50%;

			&__icon {
				width: 40px;
				margin-right: 20px;
			}

			&__text {
				font-size: 18px;
			}
		}

		&__desc {
			flex: 0 0 auto;
			padding-left: 10px;
			width: 50%;
			font-size: 16px;
		}

		&__form {
			display: flex;
		}

		&__input {
			flex: 0 0 auto;
			padding-right: 10px;
			width: 50%;

			.input-classic {
				padding: 18px 20px;
				font-size: 18px;
			}
		}

		&__button {
			margin-top: 0;
			flex: 0 0 auto;
			padding-left: 10px;
			width: 50%;

			.button {
				padding: 18px 20px;
				font-size: 18px;
			}
		}
	}
}

@media (min-width: 1220px) {
	.subscribe {
		padding-bottom: 50px;
		padding-top: 0;
		margin-top: -20px;

		&__center {
			display: flex;
			align-items: center;
		}

		&__header {
			position: relative;
			display: block;
			margin-bottom: 0;
			padding-left: 60px;
		}

		&__title {
			display: block;
			height: auto;
			width: auto;
			padding: 0;

			&__icon {
				width: 40px;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-53%);
			}

			&__text {
				font-size: 24px;
			}
		}

		&__desc {
			width: auto;
			padding: 0;
			font-size: 18px;
		}

		&__form {
			flex: 0 0 auto;
			width: 40%;
			margin-left: auto;
		}

		&__input {
			width: 66.66%;
			padding: 0;

			.input-classic {
				padding: 10px 12px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: 0;
				font-size: 15px;

				&:focus {
					border-color: darken(#e7e7e8, 10%) !important;
				}
			}
		}

		&__button {
			padding: 0;
			width: 33.33%;

			.button {
				padding: 10px 12px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				font-size: 15px;
			}
		}
	}
}
