.popup {
	&.loading {
		.popup__overlay {
			display: block;
		}
	}

	&.active {
		.popup__overlay {
			display: block;
		}

		.popup__window {
			transform: translateY(0);
		}
	}

	&__overlay {
		position: fixed;
		z-index: 500;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.2);
		display: none;
	}

	&__loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__window {
		position: fixed;
		z-index: 500;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		transform: translateY(-100%);
		overflow: auto;

		&:before {
			content: " ";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			width: 0;
		}
	}

	&__content {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		font-size: 1rem;
	}

	&__center {
		position: relative;
	}

	&__panel {
		background: #fff;
		box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
			0px 4px 16px rgba(51, 51, 51, 0.08);
		border-radius: 5px;
		overflow: hidden;
		margin: 0 auto;
	}

	&__header {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 60px;
		border-bottom: 1px solid #f2f3f5;
		padding: 10px 20px;
		font-size: 13px;
		font-weight: 700;
	}

	&__body {
		padding: 20px;
	}

	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 60px;
		padding: 10px 20px;
		background: #fafafa;
		font-size: 13px;

		a {
			color: #21a73f;
		}
	}

	&__close {
		border: 0;
		transition: all 0.2s;
		transform-origin: 100% 50%;
		transform: scale(0.7);
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -18px;
		width: 36px;
		height: 36px;
		font-size: 13px;
		border-radius: 50%;

		&:hover {
			background: #d9d9d9;
		}

		&--top {
			top: 34px;
		}
	}
}

@media (min-width: 768px) {
	.popup {
		&__header {
			font-size: 24px;
		}

		&__body {
			padding: 40px;
		}

		&__footer {
			font-size: 15px;
		}

		&__close {
			transform: scale(1);
		}
	}
}

@media (min-width: 992px) {
	.popup {
		&__panel {
			max-width: 590px;
		}

		&__header {
			font-size: 18px;
		}

		&__body {
		}
	}
}
