.popup-auth {
	&__panel {
		max-width: none;
	}
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
	.popup-auth {
		&__panel {
			max-width: 450px;
		}

		&__body {
			padding-top: 20px;
		}
	}
}
