.popup-gallery {
	transform: translateY(-100%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 500;
	background: #fff;

	&.active {
		transform: translateY(0);
	}

	&__header {
		position: relative;
		z-index: 10;
		padding-left: 30px;
		padding-right: 100px;
		height: 90px;
		display: flex;
		align-items: center;
	}

	&__title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 32px;
		font-weight: 700;
		color: #21a73f;
	}

	&__close {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		padding: 1.5em;
		font-size: 14px;
		line-height: 0;
	}

	&__content {
		border-top: 1px solid #f2f3f5;
		border-width: 1px 0;
	}

	&__list {
	}

	&__item {
		display: none;

		&.active,
		&:first-child {
			display: block;
		}
	}

	&__slide {
		height: calc(100vh - 90px - 100px);
		background: #fff no-repeat 50% 50%;
		background-size: contain;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__video {
		position: relative;
		width: 100%;
		height: 100%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__footer {
		position: relative;
		padding-bottom: 10px;
		border-top: 1px solid #f2f3f5;
		background: rgba(#fff, 0.9);
		display: flex;
		align-items: center;
	}

	&__nav {
		flex-grow: 1;
		text-align: right;
		white-space: nowrap;
		font-size: 0;

		&__window {
			padding: 10px 0;
		}

		&__item {
			transition: all 0.2s;
			position: relative;
			display: inline-block;
			margin-left: 5px;
			width: 70px;
			border: 1px solid #f2f3f5;
			background: 50% 50% no-repeat;
			background-size: cover;
			border-radius: 5px;
			cursor: pointer;
			opacity: 0.7;

			&--video {
				border-color: transparent;

				&:after {
					content: " ";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 36px;
					height: 36px;
					background: url(../images/play.svg) no-repeat 50% 50%;
					background-size: cover;
				}
			}

			&:first-child {
				margin-left: 10px;
			}

			&:last-child {
				margin-right: 10px;
			}

			&:hover {
				opacity: 1;
			}

			&.active {
				border-color: #21a73f;
				opacity: 1;
			}

			&:before {
				content: "";
				display: block;
				padding-top: 100%;
			}
		}
	}

	.simplebar-horizontal {
		margin: 0 10px;
	}
}

@media (max-width: 1219.98px) {
	.popup-gallery {
	}
}

@media (max-width: 767.98px) {
	.popup-gallery {
		&__header {
			height: auto;
		}

		&__title {
			display: none;
		}

		&__close {
			top: 0;
			right: 0;
			transform: none;
		}

		&__content {
			border: 0;
		}

		&__slide {
			height: calc(100vh - 100px);
		}

		&__footer {
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
		}

		&__nav {
			&__item {
				width: 60px;
			}
		}
	}
}
