.popup-city {
	&__panel {
		max-width: 240px;
	}

	&__body {
		padding: 30px;
	}

	&__footer {
		padding-right: 30px;
		padding-left: 30px;
	}

	&__title {
		margin-bottom: 20px;
		text-align: center;
		font-size: 18px;
		font-weight: 700;
	}

	&__btns-apply {
		&__item {
			margin-top: 10px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&__select,
	&__confirm {
		display: none;

		&.active {
			display: block;
		}
	}

	&__item {
		position: relative;
		display: block;
		padding: 10/18 + em 16/18 + em;
		border-radius: 5px;
		font-size: 15px;

		&:hover {
			background: #f1f1f1;
		}

		&.active {
			color: #21a73f;

			&:before {
				content: "\e90c";
				font-family: "icomoon" !important;
				font-size: 16/18 + em;
				line-height: 1;
				position: absolute;
				top: 50%;
				right: 1em;
				margin-top: -0.5em;
			}
		}
	}
}

@media (min-width: 768px) {
	.popup-city {
		&__panel {
			max-width: 380px;
		}

		&__body {
			padding: 40px;
		}

		&__footer {
			padding-right: 40px;
			padding-left: 40px;
		}

		&__title {
			margin-bottom: 35px;
			font-size: 32px;
		}

		&__btns-apply {
			&__item {
				margin-top: 15px;
			}
		}

		&__item {
			font-size: 18px;
		}
	}
}

@media (min-width: 992px) {
	.popup-city {
		&__panel {
			max-width: 450px;
		}

		&__btns-apply {
			display: flex;

			&__item {
				flex: 0 0 50%;
				padding: 0 5px;
				margin-top: 0;
			}
		}
	}
}
