.button {
	transition: all 0.2s;
	position: relative;
	display: inline-block;
	padding: (9/13) + em (10/13) + em;
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	white-space: nowrap;
	font-size: (13/16) + em;
	font-weight: 500;

	.spinner-border {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1.4em;
		height: 1.4em;
		margin: -0.7em 0 0 -0.7em;
		display: none;
	}

	&.loading {
		.spinner-border {
			display: block;
		}

		.button__icon,
		.button__text {
			opacity: 0;
		}
	}

	&.loading,
	&.disabled {
		box-shadow: none !important;
		cursor: default !important;
	}

	&--full {
		display: block;
		width: 100%;
	}

	&__icon {
		margin-right: 0.2em;
		vertical-align: middle;
		font-size: 1.5em;
	}

	&__text {
		vertical-align: middle;
	}
}

.button-green {
	background: #21a73f;
	color: #fff;

	&.loading,
	&:hover,
	&.hover {
		background: #007334;
	}

	&:active,
	&.active {
		background: #007334;
		box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
	}

	&.disabled {
		background: #e7e7e8 !important;
		color: #979797 !important;
	}
}

.button-light-green {
	background: #cfe9d5;
	color: #21a73f;

	&.loading,
	&:hover,
	&.hover {
		background: #007334;
		color: #fff;
	}

	&:active,
	&.active {
		background: #007334;
		box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
		color: #fff;
	}

	&.disabled {
		background: #f2f3f5 !important;
		color: #979797 !important;
	}
}

.button-outline-green {
	border-color: #21a73f;
	color: #21a73f;

	&.loading,
	&:hover,
	&.hover {
		background: #21a73f;
		color: #fff;
	}

	&:active,
	&.active {
		background: #21a73f;
		box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
		color: #fff;
	}

	&.disabled {
		background: none !important;
		border-color: #979797 !important;
		color: #979797 !important;
	}
}

.button-orange {
	background: #ef7f1a;
	color: #fff;

	&.loading,
	&:hover,
	&.hover {
		background: #ea5e20;
	}

	&:active,
	&.active {
		background: #ea5e20;
		box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
	}

	&.disabled {
		background: #e7e7e8 !important;
		color: #979797 !important;
	}
}

.button-light-orange {
	background: #fde6d1;
	color: #f68219;

	&.loading,
	&:hover,
	&.hover {
		background: #ea5e20;
		color: #fff;
	}

	&:active,
	&.active {
		background: #ea5e20;
		box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
		color: #fff;
	}

	&.disabled {
		background: #f2f3f5 !important;
		color: #979797 !important;
	}
}

.button-outline-orange {
	border-color: #ef7f1a;
	color: #ef7f1a;

	&.loading,
	&:hover,
	&.hover {
		background: #ef7f1a;
		color: #fff;
	}

	&:active,
	&.active {
		background: #ef7f1a;
		box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
		color: #fff;
	}

	&.disabled {
		background: none !important;
		border-color: #979797 !important;
		color: #979797 !important;
	}
}

.button-outline-white {
	border-color: #f2f3f5;
	background: #fff;

	&.loading,
	&:hover,
	&.hover {
		background: #f2f3f5;
	}

	&:active,
	&.active {
		background: #f2f3f5;
		box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
	}

	&.disabled {
		background: #f2f3f5 !important;
		color: #979797 !important;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.button {
		padding: 18px 20px;
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	.button {
		font-size: 15px;
	}
}
