.button {
	transition: all 0.2s;
	position: relative;
	display: inline-block;
	padding: (11/14) + em (15/14) + em;
	min-width: 90px;
	border: (1/14) + em solid transparent;
	border-radius: (4/14) + em;
	text-align: center;
	font-size: (14/16) + em;
	font-weight: 700;

	.spinner-border {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1.4em;
		height: 1.4em;
		margin: -0.7em 0 0 -0.7em;
		display: none;
	}

	&--disabled {
		background: #fafafa !important;
		border-color: #b2b3b3 !important;
		box-shadow: none !important;
		color: #b2b3b3 !important;
		cursor: default;
	}

	&--loading {
		.spinner-border {
			display: block;
		}
		.button__text {
			opacity: 0;
		}
	}

	&--light {
		font-weight: 500;
	}

	&--full {
		display: block;
		width: 100%;
	}

	&--size-1 {
		padding: (7/12) + em (10/12) + em;
		font-weight: 400;
		font-size: (12/16) + em;
	}
}

.button-green {
	background: #21a73f;
	color: #fff;

	&:hover,
	&--hover {
		background: #007334;
	}

	&:active,
	&--active {
		background: #007334;
		box-shadow: inset 0 (4/14) + em (4/14) + em rgba(#000, 0.3);
	}
}

.button-outline-green {
	border-color: #21a73f;
	color: #21a73f;

	&:hover,
	&--hover {
		background: #21a73f;
		color: #fff;
	}

	&:active,
	&--active {
		background: #21a73f;
		box-shadow: inset 0 (4/14) + em (4/14) + em rgba(#000, 0.3);
		color: #fff;
	}
}

.button-orange {
	background: #ef7f1a;
	color: #fff;

	&:hover,
	&--hover {
		background: #ea5e20;
	}

	&:active,
	&--active {
		background: #ea5e20;
		box-shadow: inset 0 (4/14) + em (4/14) + em rgba(#000, 0.3);
	}
}

.button-outline-orange {
	border-color: #ef7f1a;
	color: #ef7f1a;

	&:hover,
	&--hover {
		background: #ef7f1a;
		color: #fff;
	}

	&:active,
	&--active {
		background: #ef7f1a;
		box-shadow: inset 0 (4/14) + em (4/14) + em rgba(#000, 0.3);
		color: #fff;
	}
}

.button-outline-black {
	border-color: #2e2e2e;
	color: #2e2e2e;

	&:hover,
	&--hover {
		background: #2e2e2e;
		color: #fff;
	}

	&:active,
	&--active {
		background: #2e2e2e;
		box-shadow: inset 0 (4/14) + em (4/14) + em rgba(#000, 0.3);
		color: #fff;
	}
}

.button-outline-white {
	border-color: rgba(#fff, 0.7);
	color: #fff;

	&:hover,
	&--hover {
		background: #fff;
		color: #2e2e2e;
	}

	&:active,
	&--active {
		background: #fff;
		box-shadow: inset 0 (4/14) + em (4/14) + em rgba(#000, 0.3);
		color: #2e2e2e;
	}
}
