.cart-goods {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: (10/16) + em;

		&__title {
			font-weight: 700;
			font-size: (24/16) + em;
		}
	}

	&__item {
		margin-top: (8/16) + em;
		display: flex;
		flex-wrap: wrap;
		border: (1/16) + em solid #f2f3f5;
		border-radius: (4/16) + em;
		background: #fff;
	}

	&__image {
		flex: 0 0 auto;
		width: 30%;
	}

	&__desc {
		flex: 0 0 auto;
		align-self: center;
		width: 70%;
		position: relative;
		padding: 0 (60/16) + em 0 (30/16) + em;
	}

	&__close {
		position: absolute;
		top: 50%;
		right: (15/16) + em;
		margin-top: -1em;
		padding: 0.5em;
		line-height: 0;
		color: #323232;
	}

	&__code {
		font-size: (14/16) + em;
		color: #b2b3b3;
	}

	&__title {
		display: flex;
		align-items: center;
		min-height: 3em;

		a {
			font-size: (14/16) + em;
			font-weight: 700;
		}
	}

	&__rate {
		justify-content: left;
		font-size: (19/16) + em;
	}

	&__props {
		flex: 0 0 auto;
		width: 55%;
		padding: (10/15) + em (6/15) + em;
		font-size: (15/16) + em;

		&__inner {
			background: #fafafa;
			padding: (16/15) + em (11/15) + em;
		}
	}

	&__prop {
		display: flex;
		justify-content: space-between;
	}

	&__rest {
		flex: 0 0 auto;
		width: 45%;
		align-self: center;
		padding: 0 (20/16) + em;
	}

	&__price {
		font-size: (14/16) + em;
		font-weight: 700;

		span {
			font-size: (24/14) + em;
			font-weight: 500;
		}
	}

	&__points {
		font-size: (15/16) + em;

		span {
			color: #21a73f;
		}
	}

	&__count {
		margin-top: (4/16) + em;
		display: flex;
		height: (26/16) + em;

		> * {
			font-weight: 700;
			text-align: center;
			color: #2e2e2e;
		}

		button {
			width: (26/16) + em;
			background: #e7e7e8;

			&:first-child {
				border-radius: (4/16) + em 0 0 (4/16) + em;
			}

			&:last-child {
				border-radius: 0 (4/16) + em (4/16) + em 0;
			}
		}

		input {
			position: relative;
			width: (50/12) + em;
			padding: 0 (10/12) + em;
			border: (1/12) + em solid #e7e7e8;
			background: #fff;
			font-size: (12/16) + em;
		}
	}
}

@media (min-width: 992px) {
	.cart-goods {
		&__header {
			margin-bottom: 20px;

			&__title {
				font-size: 32px;
			}
		}

		&__image {
			align-self: flex-start;
			width: 15%;
		}

		&__desc {
			width: 85%;
		}
	}
}

@media (min-width: 1200px) {
	.cart-goods {
		&__item {
			position: relative;
			align-items: center;
		}

		&__image {
			width: 14%;
		}

		&__desc {
			position: static;
			width: 28%;
			padding-right: (30/16) + em;
		}

		&__props {
			width: 28%;
		}

		&__rest {
			width: 28%;
			padding: 0 (40/16) + em;
		}

		&__close {
			right: (32/16) + em;
		}
	}
}
