.cart-promo {
	margin: (25/16) + em 0;
	padding: (10/16) + em (20/16) + em;
	text-align: center;
	border-radius: (4/16) + em;
	background: rgba(#ef1a1a, 0.9);

	&__title {
		margin-bottom: (10/24) + em;
		font-size: (24/16) + em;
		font-weight: 700;
		line-height: 0.9;
		text-transform: uppercase;
		color: #f5f5f5;
	}

	&__button {
		position: relative;
		padding: (9/13) + em (15/13) + em;
		font-size: (13/16) + em;
		min-width: (150/13) + em;

		span {
			margin-right: 1em;
		}

		i {
			position: absolute;
			top: 50%;
			margin-top: -0.5em;
			right: (15/13) + em;
		}
	}
}
