.gallery {
	&__image {
		position: relative;

		&--gray {
			.backgroundblendmode & {
				background-color: #f2f3f5;

				img {
					mix-blend-mode: multiply;
				}

				.gallery__image__zoomed {
					background-color: #f2f3f5;
					background-blend-mode: multiply;
				}
			}
		}

		&:before {
			content: " ";
			padding-top: 100%;
			display: block;
		}

		&__default {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__zoomed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}
	}

	&__nav {
		margin-top: 10/16 + em;
		padding-bottom: 12/16 + em;
		overflow: auto;

		&__list {
			display: flex;
		}

		&__item {
			flex: 0 0 auto;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 5/16 + em;
			border: 1/16 + em solid #e7e7e8;
			border-radius: 4/16 + em;
			width: 75/15 + em;
			height: 75/15 + em;
			overflow: hidden;
			cursor: pointer;
			opacity: 0.7;

			&.active {
				opacity: 1;

				&:before {
					content: " ";
					position: absolute;
					height: 100%;
					left: 0;
					width: 2/16 + em;
					background: #21a73f;
				}
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}
