.header {
	&__topbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 6px 0;
		font-size: 12px;

		&__left {
			display: flex;
			align-items: center;
			font-weight: 500;
		}

		&__right {
			display: flex;

			a {
				margin-left: 6px;
				color: #2e2e2e;

				&:hover {
					border-bottom: 1px solid rgba(#2e2e2e, 0.5);
				}
			}
		}

		&__social {
			display: flex;
			margin-left: 9px;
			font-size: 18px;
			line-height: 0;

			a {
				margin-right: 4px;
				color: #2e2e2e;
			}
		}
	}

	&__main {
		padding-top: 5px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		color: #2e2e2e;

		&__logo {
			flex: 0 0 auto;
			width: 120px;
			margin: 0 2%;

			img {
				width: 100%;
			}
		}

		&__city {
			max-width: 200px;
			margin: 0 3% 0 3%;

			&__label {
				font-weight: 700;
			}

			&__name {
				font-size: 13px;

				span {
					border-bottom: 1px solid rgba(#2e2e2e, 0.5);
				}
			}
		}

		&__search-area {
			flex-grow: 1;
			position: relative;
			background: #f2f3f5;
			border-radius: 4px;

			input {
				position: relative;
				background: transparent;
				padding-left: 35px;
			}

			button {
				position: absolute;
				right: 0;
				top: 0;
				padding-bottom: 6px;
				padding-top: 6px;
				margin: 5px 5px 0 0;
			}

			i {
				position: absolute;
				top: 0;
				left: 0;
				padding: 11px;
				font-size: 17px;
				color: #b2b3b3;
			}
		}

		&__call {
			padding: 0 20px;
			font-weight: 700;

			&__phone {
				white-space: nowrap;
				color: #21a73f;

				i {
					font-size: 0.9em;
					margin-right: 5px;
				}
			}

			&__time {
				font-size: 12px;
			}
		}

		&__own {
			display: flex;
			padding: 0 10px;

			a {
				position: relative;
				padding: 13px;

				&:before {
					content: " ";
					border-left: 1px solid #c4c4c4;
					position: absolute;
					height: 18px;
					top: 50%;
					margin-top: -9px;
					left: 0;
				}

				&:first-child {
					&:before {
						display: none;
					}
				}
			}

			i {
				font-size: 21px;
			}

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 3px;
				right: 3px;
				width: 18px;
				height: 18px;
				background: #ef7f1a;
				border-radius: 50%;
				font-size: 12px;
				font-weight: 700;
				color: #fff;
			}
		}

		&__burger,
		&__search-btn {
			display: none;
		}
	}

	&__menu {
		display: flex;
		background: #21a73f;
		border-radius: 5px;
		overflow: hidden;

		a {
			transition: all 0.3s;
			flex: 1 1;
			position: relative;
			border-right: 2px solid #fff;
			padding: 10px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			color: #fff;

			&:last-child {
				border: none;
			}
		}

		i {
			margin-right: 5px;
			font-size: 12px;
			color: #007334;
		}
	}
}

@media (max-width: 991.98px) {
	.header {
		&__topbar,
		&__menu,
		&__main__city,
		&__main__search-area,
		&__main__call,
		&__main__own {
			display: none;
		}

		&__main {
			margin: 0 -20px;
			padding: 0 20px;
			height: 60px;
			box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.04),
				0px 0px 16px rgba(51, 51, 51, 0.08);

			&__logo {
				flex-grow: 1;
				text-align: center;

				img {
					max-width: 116px;
				}
			}

			&__burger {
				display: block;
				font-size: 0;
			}

			&__search-btn {
				display: block;
				font-size: 24px;
			}
		}
	}
}

@media (max-width: 767.98px) {
	.header {
		&__main {
			&__logo {
				img {
					max-width: 100px;
				}
			}

			&__search-btn {
				font-size: 20px;
			}
		}
	}
}
