.input {
	transition: all 0.2s;
}

.input--full {
	display: block;
	width: 100%;
}

.input-default {
	border: (1/14) + em solid transparent;
	border-radius: (4/14) + em;
	font-size: (14/16) + em;
	padding: (11/14) + em (10/14) + em;
	border-color: #e7e7e8;
	background: #fafafa;
	color: #727271;

	&:focus {
		border-color: #21a73f;
	}

	&::placeholder {
		color: #b2b3b3;
	}
}

.input-readonly {
	border: (1/18) + em solid transparent;
	border-radius: (4/18) + em;
	font-size: (18/16) + em;
	font-weight: 700;
	padding: (9/18) + em (10/18) + em;
	border-color: #e7e7e8;
	background: #fafafa;
	color: #2e2e2e;
}

.input-datepicker {
	position: relative;
	background: #fafafa;

	input {
		position: relative;
		z-index: 1;
		padding-right: 35/16 + em;
		background: transparent;
	}

	i {
		position: absolute;
		top: 50%;
		right: 10/16 + em;
		margin-top: -0.5em;
		font-size: 14/16 + em;
		color: rgba(0, 32, 51, 0.35);
	}
}
