.nav-path {
	margin-top: 10px;
	margin-bottom: 15px;

	a {
		font-size: 14px;
		color: #2e2e2e;

		&:hover {
			border-bottom: 1px solid rgba(#2e2e2e, 0.5);
		}
	}

	i {
		margin: 0 5px;
		font-size: 10px;
	}
}
