.nav-side {
	background: #fff;
	border: 1px solid #f2f3f5;
	border-radius: 4px;
	font-size: 13px;

	&__group {
		border-top: 1px solid #f2f3f5;

		&:first-child {
			border-top: 0;
		}
	}

	&__title {
		position: relative;
		display: block;
		padding: 19px 13px;
		text-transform: uppercase;
		font-weight: 700;
		color: #2e2e2e;

		&.collapsed {
			i {
				transform: rotate(0);
			}
		}

		i {
			transition: all 0.2s;
			transform: rotate(180deg);
			position: absolute;
			top: 50%;
			margin-top: -0.5em;
			right: 13px;
		}
	}

	&__list {
		padding-bottom: 15px;
	}

	&__link {
		display: block;
		padding: 6px 13px;

		&.active,
		&:hover {
			color: #21a73f;
		}
	}
}
