.news {
	display: flex;
	flex-wrap: wrap;
	margin: -6px -5px 0 -5px;

	&--list {
		.news__col {
			flex: 0 0 100%;
			max-width: 100%;
		}

		.news__tags__item {
			font-size: 13px;
		}

		.news__title {
			font-size: 18px;
		}

		.news__date {
			font-size: 13px;
		}
	}

	&__col {
		margin-top: 6px;
		display: flex;
		flex-direction: column;
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 5px;
		overflow: hidden;
	}

	&__item {
		flex-grow: 1;
		background: #fff;
		border: 1px solid #f2f3f5;
		border-radius: 4px;
	}

	&__desc {
		padding: 2vw;
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -10px;

		&__item {
			padding: 2px 6px;
			border-radius: 3px;
			background: #f2f3f5;
			margin: 0 10px 10px 0;
			font-size: 2vw;
			color: #21a73f;
		}
	}

	&__title {
		margin-top: 5px;
		font-size: 3vw;
		font-weight: 500;
	}

	&__date {
		display: block;
		margin-top: 5px;
		font-size: 2vw;
		text-align: right;
	}
}

@media (min-width: 768px) {
	.news {
		&--list {
			.news__item {
				display: flex;
			}

			.news__image {
				flex: 0 0 300px;
			}

			.news__desc {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}

			.news__title {
				flex-grow: 1;
			}
		}
	}
}

@media (min-width: 992px) {
	.news {
		margin: -15px -8px 0 -8px;

		&__col {
			margin-top: 15px;
			flex: 0 0 33.33%;
			padding: 0 8px;
		}

		&__desc {
			padding: 15px;
		}

		&__tags {
			&__item {
				font-size: 13px;
			}
		}

		&__title {
			font-size: 18px;
		}

		&__date {
			font-size: 13px;
		}
	}
}
