.news-item {
	margin-bottom: 40px;
	background: #fff;
	border: 1px solid #f2f3f5;
	border-radius: 4px;
	overflow: hidden;

	&__desc {
		padding: 10px;
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 3px;

		&__item {
			padding: 5px 15px;
			border-radius: 3px;
			background: #f2f3f5;
			margin: 0 10px 10px 0;
			font-size: 13px;
			color: #21a73f;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 700;
		color: #2e2e2e;
	}

	&__text {
		color: #151515;
	}

	&__share {
		display: flex;
		align-items: center;
		margin: 10px 0;

		&__label {
			margin-right: 10px;
			font-size: 18px;
			font-weight: 700;
		}
	}

	&__date {
		font-size: 18px;
		color: #151515;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.news-item {
		&__desc {
			padding: 20px;
		}

		&__tags {
			margin-bottom: 0;

			&__item {
				padding: 6px 25px;
				margin: 0 15px 15px 0;
				font-size: 19px;
			}
		}

		&__title {
			margin-bottom: 20px;
			font-size: 24px;
		}

		&__text {
			font-size: 22px;
		}

		&__footer {
			margin-top: 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__share {
			margin: 0;
		}

		&__date {
			font-size: 24px;
		}
	}
}

@media (min-width: 992px) {
	.news-item {
		&__desc {
			padding: 30px;
		}

		&__title {
			margin-bottom: 15px;
			font-size: 24px;
		}

		&__text {
			font-size: 18px;
		}

		&__date {
			font-size: 24px;
		}

		&__share {
			margin: 0;
		}

		&__footer {
			margin-top: 45px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
