.order-details {
	border: 1/16 + em solid #f2f3f5;
	border-radius: 4/16 + em;
	background: #fff;
	margin-bottom: 10/16 + em;

	&:last-child {
		margin-bottom: 0;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 6/18 + em;
		height: 32/18 + em;
		border-bottom: 1/18 + em solid #f2f3f5;
		font-size: 18/16 + em;
		font-weight: 700;
	}

	&__body {
		padding: 10/16 + em 6/16 + em;
	}

	&__label {
		display: block;
		font-weight: 500;
		color: #151515;
	}

	&__label-lg {
		margin-bottom: 8/13 + em;
		font-size: 13/16 + em;
	}

	&__total {
		margin-top: 10/13 + em;
		font-size: 13/16 + em;
	}

	&__check {
		position: relative;
		display: block;
		padding-left: 20/14 + em;
		font-size: 14/16 + em;
		font-weight: 500;
		margin-top: 13/14 + em;

		&:first-child {
			margin-top: 0;
		}

		&--radio {
			&.active {
				color: #21a73f;
			}
		}

		input {
			position: absolute;
			opacity: 0;
		}

		.iradio,
		.icheckbox {
			transform-origin: 0 50%;
			transform: scale(0.7);
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		flex: 0 0 auto;
		width: 100%;
	}

	&__list {
		margin-top: -20/16 + em;
	}

	&__item {
		margin-top: 20/16 + em;
	}

	&__date {
		margin-top: 15/16 + em;
		width: 10em;
	}

	&__actions {
		margin: 10/16 + em (-9/16) + em 0 (-9/16) + em;
		display: flex;

		button {
			flex: 1 1 50%;
			padding: (10/16) + em (15/16) + em;
			margin: 0 9/16 + em;
			font-size: 1em;
		}
	}
}

@media (min-width: 992px) {
	.order-details {
		&__header {
			height: 64px;
		}

		&__body {
			padding: 14px;
		}

		&__title {
			padding: 0 10px;
			font-size: 24px;
		}

		&__row {
			padding-right: 30px;
		}

		&__col {
			padding-right: 40px;

			&--6 {
				width: 50% !important;
			}
		}

		&__check {
			padding-left: 35/14 + em;
			font-size: 18px;

			.iradio,
			.icheckbox {
				transform: scale(1);
			}
		}

		&__label-lg {
			font-size: 24px;
		}

		&__total {
			font-size: 22px;
		}

		&__actions {
			margin: 20px 0 0 0;

			button {
				flex: 0 0 auto;
				padding: 10px 45px;
				margin-right: 12px;
				margin-left: 0;
			}
		}
	}
}
