.promo-23-feb {
	margin: 30/16 + em 0;
	padding: 0 30/16 + em;
	border-radius: 4/16 + em;
	background: #ef1a1a;
	overflow: hidden;
	font-size: 3.8vw;
	color: #fff;

	&__center {
		position: relative;
		padding: 15/16 + em 0;
		display: flex;
		align-items: center;
	}

	&__image {
		margin-left: auto;
		text-align: right;
		flex: 0 0 auto;
		width: 30%;
	}

	&__title {
		white-space: nowrap;
		font-size: 21/16 + em;
		font-weight: 700;
	}

	&__text {
		margin-top: -5/16 + em;
		font-size: 13/16 + em;
	}
}

@media (min-width: 992px) {
	.promo-23-feb {
		margin: 30px 0;
		border-radius: 4px;

		&__center {
			height: 170px;
		}
	}
}

@media (min-width: 1200px) {
	.promo-23-feb {
		font-size: 45px;
		padding: 0 80px;
	}
}
