.props {
	&--panel {
		padding: 20px 15px;
		border: 2px solid #f2f3f5;
		border-radius: 4/16 + em;
		background: #fff;
	}

	&--short {
		.props__item {
			flex-wrap: wrap;
		}
		.props__label {
			width: 100%;

			&:before {
				display: none;
			}
		}

		.props__name {
			background: transparent;
		}
	}

	&__title {
		margin-bottom: 15/13 + em;
		font-size: 13/16 + em;
		font-weight: 500;
	}

	&__see-all {
		margin-top: 15/13 + em;
		font-size: 13/16 + em;
		font-weight: 500;

		a {
			color: #21a73f;
		}
	}

	&__item {
		display: flex;
		margin-top: 15/13 + em;
		font-size: 13/16 + em;

		&:first-child {
			margin-top: 0;
		}
	}

	&__label {
		position: relative;
		flex: 0 0 auto;
		width: 50%;
		padding-right: 10/13 + em;
		font-weight: normal;
		color: #727271;

		&:before {
			content: " ";
			position: absolute;
			right: 5/13 + em;
			height: 2/13 + em;
			background: url("../images/props/dots.png") repeat-x;
			background-size: auto 100%;
			bottom: 3/13 + em;
			left: 3px;
		}
	}

	&__name {
		position: relative;
		padding-right: 5/13 + em;
		background: #fff;
	}

	&__value {
		a {
			color: #2f80ed;
		}
	}

	&__info {
		cursor: pointer;
	}
}

@media (min-width: 992px) {
	.props {
		font-size: 23px;

		&--panel {
			padding: 25px 65px;
			column-count: 2;
		}
	}
}
