.sorting {
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__modes {
		display: flex;
		padding: 4px;
		background: #e7e7e8;
		border-radius: 8px;

		&__item {
			transition: none;
			padding: 7px;
			font-size: 18px;
			line-height: 0;
			border-radius: 5px;
			color: #323232;

			&.active {
				background: #fff;
				color: #21a73f;
			}
		}
	}

	&__count {
		font-size: 13/16 + em;
		font-weight: 700;
		color: #000;

		&__value {
			padding-left: 0.3em;
			color: #21a73f;
		}
	}
}

@media (min-width: 768px) {
	.sorting {
		margin-bottom: 20px;
	}
}

@media (min-width: 992px) {
	.sorting {
		&__count {
			font-size: 14px;
		}
	}
}
