.table-areas {
	overflow: auto;
	color: #000;

	table {
		min-width: 800px;
		width: 100%;
	}

	&__col-30 {
		width: 30%;
	}

	&__col-20 {
		width: 20%;
	}

	td {
		padding: 10px 25px;
		height: 75px;
		border: 1px solid #f2f3f5;
		vertical-align: middle;
		text-align: center;
	}

	&__head {
		td {
			background: #fafafa;
			font-weight: 700;
		}

		&--small {
			td {
				font-size: 0.875em;
				font-weight: 500;
				height: auto;
			}
		}
	}

	&__desc {
		font-size: 0.625em;
	}

	&__total {
		font-size: 0.75em;
	}

	&__num {
		display: inline-block;
		width: 20px;
		padding: 1px 0;
		text-align: center;
		border-radius: 4px;
		font-size: 1em;
		font-weight: 700;
		color: #fff;

		&--1 {
			background: #21a73f;
		}

		&--2 {
			background: #f2c94c;
		}

		&--3 {
			background: #2d9cdb;
		}

		&--4 {
			background: #bb6bd9;
		}

		&--5 {
			background: #eb5757;
		}
	}

	&__map {
		margin-top: 25px;

		&__header {
			display: flex;
			margin-bottom: 8px;
		}

		&__title {
			flex-grow: 1;
			font-size: 1.25em;
			font-weight: 700;
		}

		&__demo {
			height: 250px;
			background: #f3f3f3;
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.table-areas {
		font-size: 14px;
	}
}

@media (min-width: 992px) {
	.table-areas {
		&__map {
			&__demo {
				height: 400px;
			}
		}
	}
}
