---
title: Главная
layout: default.hbs
---

<style>
	.samples__space {
		height: 100px;
	}

	.samples__group {
		padding: 20px;
		background: #fff;
	}

	.samples__group--dark {
		padding: 20px;
		background: #000;
	}

	.samples__group__name {
		margin-bottom: 20px;
		text-align: center;
		font-size: 22px;
		font-weight: 600;
		color: #000;
	}

	.samples__group__help {
		margin-bottom: 20px;
		text-align: center;
		font-size: 18px;
		color: #000;
	}

	.samples__item {
		margin-bottom: 50px;
	}

	.samples__item:last-child {
		margin-bottom: 0;
	}

	.samples__item__name {
		margin-bottom: 20px;
		font-size: 22px;
		font-weight: 600;
		color: #000;
	}

	.samples__color-white {
		color: #fff;
	}
</style>

<div class="samples__group">
	<div class="samples__group__name">Demo actions</div>

	<div class="samples__item">
		<a href="#" class="js-popup-open" data-src="#text-popup">Попап-статья</a>
		<a href="#" class="js-popup-open" data-src="#form-popup">Попап-форма</a>
	</div>

</div>

<div class="samples__space"></div>

<div class="samples__group samples__group--dark">

	<div class="samples__group__name samples__color-white">Arrows</div>
	<div class="samples__group__help samples__color-white">Female Names For C</div>

	<div class="samples__item">
		<div class="samples__item__name samples__color-white">arrow-ciara</div>
		<a href="#" class="arrow-ciara">
			<span></span>
		</a>
	</div>

	<div class="samples__item">
		<div class="samples__item__name samples__color-white">arrow-carina</div>
		<a href="#" class="arrow-carina">
			<span></span>
		</a>
	</div>

</div>