---
title: Элементы
layout: default.hbs
---

<style>
	.elems-h1 {
		margin-bottom: 1em;
		font-size: 30px;
		font-weight: 700;
	}

	.elems-h2 {
		margin-bottom: 0.5em;
		font-size: 18px;
		font-weight: 700;
	}

	.elems-wrapper {
		padding: 50px 20px;
	}

	.elems-section {
		margin-top: 50px;
	}

	.elems-section:first-child {
		margin-top: 0;
	}

	.elems-row {
		margin-top: 20px;
	}

	.elems-row:first-child {
		margin-top: 0;
	}

	.elems-item {
		float: left;
		margin: 0 20px 20px 0;
	}

	.elems-color {
		float: left;
		margin: 0 20px 20px 0;
	}

	.elems-color__square {
		width: 60px;
		height: 60px;
	}
</style>


<div class="elems-wrapper">

	<section class="elems-section">
		
		<h1 class="elems-h1">Colors</h1>

		<div class="clearfix">

			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #007334;"></div>
				<div class="elems-color__value">#007334</div>
			</div>
			
			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #21a73f;"></div>
				<div class="elems-color__value">#21a73f</div>
			</div>
			
			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #ea5e20;"></div>
				<div class="elems-color__value">#ea5e20</div>
			</div>
			
			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #ef7f1a;"></div>
				<div class="elems-color__value">#ef7f1a</div>
			</div>

			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #2e2e2e;"></div>
				<div class="elems-color__value">#2e2e2e</div>
			</div>
			
			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #727271;"></div>
				<div class="elems-color__value">#727271</div>
			</div>
			
			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #b2b3b3;"></div>
				<div class="elems-color__value">#b2b3b3</div>
			</div>
			
			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #e7e7e8;"></div>
				<div class="elems-color__value">#e7e7e8</div>
			</div>
			
			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #f2f3f5;"></div>
				<div class="elems-color__value">#f2f3f5</div>
			</div>

			<div class="elems-color">
				<div class="elems-color__square" style="background-color: #fafafa;"></div>
				<div class="elems-color__value">#fafafa</div>
			</div>

			

		</div>

	</section>


	<section class="elems-section">

		<h1 class="elems-h1">
			Buttons
		</h1>

		<div class="elems-row">
			<h2 class="elems-h2">Default</h2>
			
			<div class="clearfix">
				<div class="elems-item">
					<button class="button button-green">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-orange">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-green">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-orange">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-black">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
			</div>
		</div>

		<div class="elems-row">
			<h2 class="elems-h2">Hover</h2>
			
			<div class="clearfix">
				<div class="elems-item">
					<button class="button button-green button-green--hover">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-orange button-orange--hover">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-green button-outline-green--hover">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-orange button-outline-orange--hover">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-black button-outline-black--hover">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
			</div>
		</div>

		<div class="elems-row">
			<h2 class="elems-h2">Active</h2>
			
			<div class="clearfix">
				<div class="elems-item">
					<button class="button button-green button-green--active">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-orange button-orange--active">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-green button-outline-green--active">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-orange button-outline-orange--active">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-black button-outline-black--active">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
			</div>
		</div>

		<div class="elems-row">
			<h2 class="elems-h2">Disabled</h2>
			
			<div class="clearfix">
				<div class="elems-item">
					<button class="button button-green button--disabled">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-orange button--disabled">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-green button--disabled">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-orange button--disabled">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-black button--disabled">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
			</div>
		</div>

		<div class="elems-row">
			<h2 class="elems-h2">Loading</h2>
			
			<div class="clearfix">
				<div class="elems-item">
					<button class="button button-green button-green--active button--loading" disabled>
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-orange button-orange--active button--loading" disabled>
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-green button-outline-green--active button--loading" disabled>
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-orange button-outline-orange--active button--loading" disabled>
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-black button-outline-black--active button--loading" disabled>
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
			</div>
		</div>

		<div class="elems-row">
			<h2 class="elems-h2">Small</h2>
			
			<div class="clearfix">
				<div class="elems-item">
					<button class="button button-green button--size-1">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-orange button--size-1">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-green button--size-1">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-orange button--size-1">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
				<div class="elems-item">
					<button class="button button-outline-black button--size-1">
						<span class="spinner-border"></span>
						<span class="button__text">Кнопка</span>
					</button>
				</div>
			</div>
		</div>

	</section>
</div>


<div class="rating">
	<div class="rating__stars"><div style="width: 68%;"></div></div>
	<div class="rating__count">(23)</div>
</div>

<div class="gap-30"></div>

{{!--  результаты поиска --}}
<aside class="panel-search">
	<div class="panel-search__autocomplete">
		<div class="panel-search__autocomplete__item">обои</div>
		<div class="panel-search__autocomplete__item">обои флизелиновые</div>
		<div class="panel-search__autocomplete__item">обои под покраску</div>
		<div class="panel-search__autocomplete__item">клей для обоев</div>
		<div class="panel-search__autocomplete__item">шпатель для обоев</div>
	</div>
	<div class="panel-search__results">
		<div class="panel-search__results__list">
			<div class="panel-search__results__item">
				<div class="panel-search__results__image" style="background-image: url('');"></div>
				<div class="panel-search__results__desc">
					<div class="panel-search__results__title">Обои виниловые Elysium Авалон Е21141 (1,06х10 м)</div>
					<div class="panel-search__results__details">
						<div class="panel-search__results__info">
							<div class="panel-search__results__code">Артикул: 171-345</div>
							<div class="rating panel-search__results__rating">
								<div class="rating__stars">
									<div style="width: 68%;"></div>
								</div>
								<div class="rating__count">(23)</div>
							</div>
						</div>
						<div class="panel-search__results__price"><span>799</span> ₽ / шт</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-search__results__show-all">
			<a href="#" class="button button-green">Показать все результаты</a>
		</div>
	</div>
</aside>
{{!-- /результаты поиска --}}

<div class="gap-30"></div>

{{!--  содержимое корзины --}}
<aside class="panel-cart">
	<div class="panel-cart__header">
		Корзина
	</div>
	<div class="panel-cart__body">
		<div class="panel-cart__products">
			<div class="panel-cart__products__item">
				<div class="panel-cart__products__image" style="background-image: url('');"></div>
				<div class="panel-cart__products__desc">
					<div class="panel-cart__products__title">Обои виниловые Elysium Авалон Е21141 (1,06х10 м)</div>
					<div class="panel-cart__products__details">
						<div class="panel-cart__products__info">
							<div class="panel-cart__products__code">Артикул: 171-345</div>
							<div class="rating panel-cart__products__rating">
								<div class="rating__stars">
									<div style="width: 68%;"></div>
								</div>
								<div class="rating__count">(23)</div>
							</div>
						</div>
						<div class="panel-cart__products__price"><span>799</span> ₽ / шт</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-cart__total">
			<div class="panel-cart__total__row">
				<div class="panel-cart__total__label">Всего:</div>
				<div class="panel-cart__total__value">3 шт</div>
			</div>
			<div class="panel-cart__total__row">
				<div class="panel-cart__total__label">Общий вес:</div>
				<div class="panel-cart__total__value">3,5 кг</div>
			</div>
			<div class="panel-cart__total__row">
				<div class="panel-cart__total__label">К оплате:</div>
				<div class="panel-cart__total__value">2 377 ₽</div>
			</div>
		</div>
		<div class="panel-cart__order-btn">
			<a href="#" class="button button-green">Оформить</a>
		</div>
	</div>
</aside>
{{!-- /содержимое корзины --}}

<div class="gap-30"></div>

{{!--  выбор города --}}
<aside class="panel panel-city">
	<div class="panel__arrow"></div>
	<div class="panel__box">
		<div class="panel__header">Выберите город</div>
		<div class="panel__body">
			<a href="#" class="panel-city__item active">Архангельск</a>
			<a href="#" class="panel-city__item">Северодвинск</a>
			<a href="#" class="panel-city__item">Сыктывкар</a>
		</div>
	</div>
</aside>
{{!-- /выбор города --}}

<div class="gap-30"></div>

{{!--  обратный звонок --}}
<form action="#" class="panel panel-call">
	<div class="panel__arrow"></div>
	<div class="panel__box">
		<div class="panel__header">Заказать обратный звонок</div>
		<div class="panel__body">
			<div class="panel-call__input">
				<input type="text" class="default-input" placeholder="Ваш телефон" data-mask="+7(000)000-00-00">
			</div>
			<div class="panel-call__input">
				<input type="text" class="default-input" placeholder="Ваше имя">
			</div>
			<label class="form-panel__check panel-call__agree">
				<input type="checkbox" class="js-check-default">
				<span>Я согласен с <a href="#" target="_blank">обработку персональных данных</a></span>
			</label>
			<div class="panel-call__submit">
				<button type="button" class="button button-green">Заказать</button>
			</div>
		</div>
	</div>
</form>
{{!-- /обратный звонок --}}

{{!--  авторизация --}}
<aside action="#" class="panel panel-auth">
	<div class="panel__arrow"></div>
	<div class="panel__box">
		<div class="panel-auth__body">
			<div class="panel-auth__desc">
				Войдите или зарегистрируйтесь, чтобы делать покупки, отслеживать заказы и пользоваться персональными скидками и баллами.
			</div>
			<div class="panel-auth__button">
				<button type="button" class="button button-outline-green">Войти</button>
			</div>
			<div class="panel-auth__button">
				<button type="button" class="button button-green">Зарегистрироваться</button>
			</div>
		</div>
	</div>
</aside>
{{!-- /авторизация --}}

<div class="gap-30"></div>
