---
title: Корзина
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<nav class="nav-path">
		<div class="page__center">
			<a href="#">Главная</a>
            <i class="icon-arrow-right"></i>
            <span>Корзина</span>
		</div>
	</nav>

    <div class="page__center">
        <div class="layout-order__center">
            <div class="layout-order__main">

                <section class="scale-mobile">
                    <div class="my-goods__header">
                        <h1 class="my-goods__header__title">В корзине</h1>
                        <a href="#" class="button button-outline-black button--size-1">
                            Очистить
                        </a>
                    </div>
                    <div class="my-goods__list">
                        <div class="my-goods__item">
                            <div class="my-goods__image">
                                <div class="goods__image goods__image--gray">
                                    <div><img src="images/temp/goods/1.jpeg" alt=""></div>
                                </div>
                            </div>
                            <div class="my-goods__desc">
                                <div class="my-goods__code">Артикул: 897-356</div>
                                <div class="my-goods__title">
                                    <a href="#">Дрель AEК BE 750 R 449160</a>
                                </div>
                                <div class="goods__rate my-goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <button type="button" class="my-goods__close">
                                    <i class="icon-close"></i>
                                </button>
                            </div>
                            <div class="my-goods__props">
                                <div class="my-goods__props__inner">
                                    <div class="my-goods__prop">
                                        <div>В наличии</div>
                                        <div>7 шт</div>
                                    </div>
                                    <div class="my-goods__prop">
                                        <div>Доставка</div>
                                        <div>завтра</div>
                                    </div>
                                    <div class="my-goods__prop">
                                        <div>Самовывоз</div>
                                        <div>сегодня</div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-goods__rest">
                                <div class="my-goods__price"><span>5 120</span> ₽ / шт</div>
                                <div class="my-goods__points"><span>+42</span> балла на карту</div>
                                <div class="my-goods__count">
                                    <button type="button">-</button>
                                    <input type="text" value="2">
                                    <button type="button">+</button>
                                </div>
                            </div>
                        </div>

                        <div class="my-goods__item">
                            <div class="my-goods__image">
                                <div class="goods__image goods__image--gray">
                                    <div><img src="images/temp/goods/2.jpeg" alt=""></div>
                                </div>
                            </div>
                            <div class="my-goods__desc">
                                <div class="my-goods__code">Артикул: 897-356</div>
                                <div class="my-goods__title">
                                    <a href="#">Дрель AEК BE 750 R 449160</a>
                                </div>
                                <div class="goods__rate my-goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <button type="button" class="my-goods__close">
                                    <i class="icon-close"></i>
                                </button>
                            </div>
                            <div class="my-goods__props">
                                <div class="my-goods__props__inner">
                                    <div class="my-goods__prop">
                                        <div>В наличии</div>
                                        <div>7 шт</div>
                                    </div>
                                    <div class="my-goods__prop">
                                        <div>Доставка</div>
                                        <div>завтра</div>
                                    </div>
                                    <div class="my-goods__prop">
                                        <div>Самовывоз</div>
                                        <div>сегодня</div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-goods__rest">
                                <div class="my-goods__price"><span>5 120</span> ₽ / шт</div>
                                <div class="my-goods__points"><span>+42</span> балла на карту</div>
                                <div class="my-goods__count">
                                    <button type="button">-</button>
                                    <input type="text" value="2">
                                    <button type="button">+</button>
                                </div>
                            </div>
                        </div>

                        <div class="my-goods__item">
                            <div class="my-goods__image">
                                <div class="goods__image goods__image--gray">
                                    <div><img src="images/temp/goods/3.png" alt=""></div>
                                </div>
                            </div>
                            <div class="my-goods__desc">
                                <div class="my-goods__code">Артикул: 897-356</div>
                                <div class="my-goods__title">
                                    <a href="#">Ударная дрель Boss ДЭУ-6500 </a>
                                </div>
                                <div class="goods__rate my-goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <button type="button" class="my-goods__close">
                                    <i class="icon-close"></i>
                                </button>
                            </div>
                            <div class="my-goods__props">
                                <div class="my-goods__props__inner">
                                    <div class="my-goods__prop">
                                        <div>В наличии</div>
                                        <div>7 шт</div>
                                    </div>
                                    <div class="my-goods__prop">
                                        <div>Доставка</div>
                                        <div>завтра</div>
                                    </div>
                                    <div class="my-goods__prop">
                                        <div>Самовывоз</div>
                                        <div>сегодня</div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-goods__rest">
                                <div class="my-goods__price"><span>5 120</span> ₽ / шт</div>
                                <div class="my-goods__points"><span>+42</span> балла на карту</div>
                                <div class="my-goods__count">
                                    <button type="button">-</button>
                                    <input type="text" value="2">
                                    <button type="button">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
            <div class="layout-order__side">

                {{> cart-total }}
                
                {{> promo-best-price }}

            </div>
        </div>
    </div>

    {{> goods--favorites }}
    {{> goods--handy }}
	
	{{> pros }}

	{{> subscribe }}

	{{> footer }}

</div>