---
title: Каталог
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

    <div class="layout-catalog__mobile">

        <nav class="nav-deep" id="nav-deep">
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-1">
                    <i class="icon-arrow-down"></i>
                    <span>Автотовары</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-1">
                    <div class="nav-deep__list">
                        <div class="nav-deep__root"><a href="#">Автотовары</a></div>
                        <div><a href="#">Ароматизаторы автомобильные</a></div>
                        <div><a href="#">Безопасность и техосмотр</a></div>
                        <div><a href="#">Защита салона и кузова</a></div>
                        <div><a href="#">Мойка и уборка авто</a></div>
                        <div><a href="#">Обслуживание автомобиля</a></div>
                        <div><a href="#">Организация пространства автомобиля</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-2">
                    <i class="icon-arrow-down"></i>
                    <span>Бытовая химия</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-2">
                    <div class="nav-deep__list">
                        <div><a href="#">Уход за домом</a></div>
                        <div><a href="#">Уход за одеждой</a></div>
                    </div>
                </div>
            </div>

            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-3">
                    <i class="icon-arrow-down"></i>
                    <span>Гигиена лица и тела</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-3">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-4">
                    <i class="icon-arrow-down"></i>
                    <span>Двери и зси</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-4">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-5">
                    <i class="icon-arrow-down"></i>
                    <span>Декор окна</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-5">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-6">
                    <i class="icon-arrow-down"></i>
                    <span>Декор стены и потолка</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-6">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-7">
                    <i class="icon-arrow-down"></i>
                    <span>Зимний сад и урожай</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-7">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-8">
                    <i class="icon-arrow-down"></i>
                    <span>Инвентарь для уборки</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-8">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-9">
                    <i class="icon-arrow-down"></i>
                    <span>Инженерная сантехника</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-9">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-10">
                    <i class="icon-arrow-down"></i>
                    <span>Инструмент</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-10">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-11">
                    <i class="icon-arrow-down"></i>
                    <span>Инструмент и техника для дачи</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-11">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-12">
                    <i class="icon-arrow-down"></i>
                    <span>Интерьер и декорирование</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-12">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-13">
                    <i class="icon-arrow-down"></i>
                    <span>Конструкционные материалы</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-13">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-14">
                    <i class="icon-arrow-down"></i>
                    <span>Крепеж и такелаж</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-14">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-15">
                    <i class="icon-arrow-down"></i>
                    <span>Кровля и водоотвод</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-15">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-16">
                    <i class="icon-arrow-down"></i>
                    <span>Лакокрасочные материалы</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-16">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>
            <div class="nav-deep__group">
                <div class="nav-deep__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-deep-17">
                    <i class="icon-arrow-down"></i>
                    <span>Мебель и кухни</span>
                </div>
                <div class="collapse" data-bs-parent="#nav-deep" id="nav-deep-17">
                    <div class="nav-deep__list">
                        <div><a href="#">Пункт 1</a></div>
                        <div><a href="#">Пункт 2</a></div>
                    </div>
                </div>
            </div>

        </nav>

    </div>

	<div class="layout-catalog__desktop">

        {{> nav-path }}

        <section>
            <div class="page__center">
                
                <div class="nav-catalog__h1">Автотовары</div>

                <div class="nav-catalog__pane nav-catalog__pane--4-cols active">
        
                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Ароматизаторы автомобильные</a>
                        <div class="nav-catalog__list">
                            <a href="#">Ароматизаторы</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Безопасность и техосмотр</a>
                        <div class="nav-catalog__list">
                            <a href="#">Ароматизаторы</a>
                            <a href="#">Автокресла</a>
                            <a href="#">Аптечки автомобильные</a>
                            <a href="#">Брелки светоотражающие</a>
                            <a href="#">Жилеты сигнальные</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +3</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Защита салона и кузова</a>
                        <div class="nav-catalog__list">
                            <a href="#">Брызговики</a>
                            <a href="#">Коврики автомобильные</a>
                            <a href="#">Накидки автомобильные</a>
                            <a href="#">Оплетки для руля</a>
                            <a href="#">Шторки солнцезащитные автомобильные</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Мойка и уборка авто</a>
                        <div class="nav-catalog__list">
                            <a href="#">Губки для мойки автомобиля</a>
                            <a href="#">Очистители для кузова и стекол</a>
                            <a href="#">Очистители для салона автомобиля</a>
                            <a href="#">Очистители стекол в бачок омывателя</a>
                            <a href="#">Полироли автомобильные</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +4</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Обслуживание автомобиля</a>
                        <div class="nav-catalog__list">
                            <a href="#">Антидождь</a>
                            <a href="#">Башмаки и противооткаты</a>
                            <a href="#">Воронки автомобильные</a>
                            <a href="#">Герметики автомобильные</a>
                            <a href="#">Домкраты</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +26</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Организация пространства автомобиля</a>
                        <div class="nav-catalog__list">
                            <a href="#">Держатели автомобильные</a>
                            <a href="#">Коврики противоскользящие</a>
                            <a href="#">Кружки и кипятильники для автомобиля</a>
                            <a href="#">Органайзеры автомобильные</a>
                            <a href="#">Подушки автомобильные</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +2</a>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        {{> slider-items-1 }}
        
        <section>
            <div class="page__center">
                <div class="nav-catalog__h1">Бытовая химия</div>

                <div class="nav-catalog__pane nav-catalog__pane--4-cols active">
                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Уход за домом</a>
                        <div class="nav-catalog__list">
                            <a href="#">Атмосфера в доме</a>
                            <a href="#">Инсектициды</a>
                            <a href="#">Салфетки влажные для уборки</a>
                            <a href="#">Средства для мытья полов</a>
                            <a href="#">Средства для мытья стекол</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +6</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Уход за одеждой</a>
                        <div class="nav-catalog__list">
                            <a href="#">Гели для стирки</a>
                            <a href="#">Капсулы для стирки</a>
                            <a href="#">Кондиционеры для белья</a>
                            <a href="#">Отбеливатели, красители</a>
                            <a href="#">Порошки стиральные</a>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        {{> benefits }}

        {{> subscribe }}

        {{> footer }}
        
    </div>

	{{> nav-bottom }}

</div>