---
title: Каталог
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

    <div class="layout-catalog__mobile">

        <nav class="nav-deep" id="nav-deep">
            
            <div class="nav-deep__list">
                <div class="nav-deep__back"><a href="#">Автотовары</a></div>
                <div><a href="#">Ароматизаторы автомобильные</a></div>
                <div><a href="#">Безопасность и техосмотр</a></div>
                <div><a href="#">Защита салона и кузова</a></div>
                <div><a href="#">Мойка и уборка авто</a></div>
                <div><a href="#">Обслуживание автомобиля</a></div>
                <div><a href="#">Организация пространства автомобиля</a></div>
            </div>
        </nav>

    </div>

	<div class="layout-catalog__desktop">

        {{> nav-path }}

        <section>
            <div class="page__center">
                
                <div class="nav-catalog__h1">Автотовары</div>

                <div class="nav-catalog__pane nav-catalog__pane--4-cols active">
        
                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Ароматизаторы автомобильные</a>
                        <div class="nav-catalog__list">
                            <a href="#">Ароматизаторы</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Безопасность и техосмотр</a>
                        <div class="nav-catalog__list">
                            <a href="#">Ароматизаторы</a>
                            <a href="#">Автокресла</a>
                            <a href="#">Аптечки автомобильные</a>
                            <a href="#">Брелки светоотражающие</a>
                            <a href="#">Жилеты сигнальные</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +3</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Защита салона и кузова</a>
                        <div class="nav-catalog__list">
                            <a href="#">Брызговики</a>
                            <a href="#">Коврики автомобильные</a>
                            <a href="#">Накидки автомобильные</a>
                            <a href="#">Оплетки для руля</a>
                            <a href="#">Шторки солнцезащитные автомобильные</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Мойка и уборка авто</a>
                        <div class="nav-catalog__list">
                            <a href="#">Губки для мойки автомобиля</a>
                            <a href="#">Очистители для кузова и стекол</a>
                            <a href="#">Очистители для салона автомобиля</a>
                            <a href="#">Очистители стекол в бачок омывателя</a>
                            <a href="#">Полироли автомобильные</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +4</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Обслуживание автомобиля</a>
                        <div class="nav-catalog__list">
                            <a href="#">Антидождь</a>
                            <a href="#">Башмаки и противооткаты</a>
                            <a href="#">Воронки автомобильные</a>
                            <a href="#">Герметики автомобильные</a>
                            <a href="#">Домкраты</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +26</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Организация пространства автомобиля</a>
                        <div class="nav-catalog__list">
                            <a href="#">Держатели автомобильные</a>
                            <a href="#">Коврики противоскользящие</a>
                            <a href="#">Кружки и кипятильники для автомобиля</a>
                            <a href="#">Органайзеры автомобильные</a>
                            <a href="#">Подушки автомобильные</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +2</a>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        {{> slider-items-1 }}
        
        <section>
            <div class="page__center">
                <div class="nav-catalog__h1">Бытовая химия</div>

                <div class="nav-catalog__pane nav-catalog__pane--4-cols active">
                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Уход за домом</a>
                        <div class="nav-catalog__list">
                            <a href="#">Атмосфера в доме</a>
                            <a href="#">Инсектициды</a>
                            <a href="#">Салфетки влажные для уборки</a>
                            <a href="#">Средства для мытья полов</a>
                            <a href="#">Средства для мытья стекол</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +6</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Уход за одеждой</a>
                        <div class="nav-catalog__list">
                            <a href="#">Гели для стирки</a>
                            <a href="#">Капсулы для стирки</a>
                            <a href="#">Кондиционеры для белья</a>
                            <a href="#">Отбеливатели, красители</a>
                            <a href="#">Порошки стиральные</a>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        {{> benefits }}

        {{> subscribe }}

        {{> footer }}
        
    </div>

    {{> nav-bottom }}
	
</div>