---
title: Каталог
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<nav class="nav-path" id="nav-path">
		<div class="page__center">
			<a href="#">Главная</a>
			<i class="icon-arrow-right"></i>
			<a href="#">Инструмент</a>
			<i class="icon-arrow-right"></i>
			<a href="#">Электро-бензоинструмент</a>
			<i class="icon-arrow-right"></i>
			<span>Дрели электрические, перфораторы</span>
		</div>
	</nav>

	<section>
		<div class="page__center">

            <h1 class="h2">Дрели электрические, перфораторы (117)</h1>

			<div class="layout-basic__center">
				<div class="layout-basic__side">

					<form action="#" class="form-filter" id="form-filter">
						<div class="form-filter__overlay"></div>
						<div class="form-filter__panel">
							<div class="form-filter__group">
								<a href="#" class="form-filter__title" data-bs-toggle="collapse" data-bs-target="#filter-1">
									<span>Наличие в магазинах</span>
									<i class="icon-arrow-down form-filter__title__arrow"></i>
								</a>
								<div class="form-filter__crop collapse show" id="filter-1">
									
									<div class="form-filter__body">

										<div class="form-filter__props">
											<div class="form-filter__props__title">
												Архангельск
											</div>

											<div class="form-filter__props__list">
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox" checked></div>
													<div class="check-border__text">пр. Московский, 25</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">пр. Ленинградский, 255</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">пр. Никольский, 33, корп. 1 пр. Никольский, 33, корп. 1</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">ул. Гагарина, 46</div>
												</label>
											</div>
										</div>

										<div class="form-filter__props">
											<div class="form-filter__props__title">
												Северодвинск
											</div>

											<div class="form-filter__props__list">
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">пр. Никольский, 33, корп. 1</div>
												</label>
											</div>
										</div>

										<div class="form-filter__props">
											<div class="form-filter__props__title">
												Северодвинск
											</div>

											<div class="form-filter__props__list">
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">пр. Никольский, 33, корп. 1</div>
												</label>
											</div>
										</div>

									</div>
									
								</div>
							</div>
							<div class="form-filter__group form-filter__group--orange">
								<a href="#" class="form-filter__title collapsed" data-bs-toggle="collapse" data-bs-target="#filter-2">
									<span>Товары под заказ </span>
									<i class="icon-help-circle form-filter__title__info js-tooltip"  title="Перейти к товарам данной категории"></i>
									<i class="icon-arrow-down form-filter__title__arrow"></i>
								</a>
								<div class="form-filter__crop collapse" id="filter-2">
									<div class="form-filter__body">
										<div class="form-filter__props">
											<div class="form-filter__props__list">
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox" checked></div>
													<div class="check-border__text">Совместный просмотр (421)</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Да</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Нет</div>
												</label>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="form-filter__group">
								<a href="#" class="form-filter__title" data-bs-toggle="collapse" data-bs-target="#filter-3">
									<span>Цена</span>
									<i class="icon-arrow-down form-filter__title__arrow"></i>
								</a>
								<div class="form-filter__crop collapse show" id="filter-3">
									<div class="form-filter__body">

										<div class="form-filter__range js-range">
											<div class="form-filter__range__fields">
												<div class="form-filter__range__input">
													<div class="input-top-label">
														<label class="input-top-label__label">Мин</label>
														<input type="text" class="input-top-label__input text-center js-range__from" value="0">
													</div>
												</div>
												<div class="form-filter__range__space"></div>
												<div class="form-filter__range__input">
													<div class="input-top-label">
														<label class="input-top-label__label">Макс</label>
														<input type="text" class="input-top-label__input text-center js-range__to" value="2000">
													</div>
												</div>
											</div>
											<div class="form-filter__range__slider">
												<input type="hidden" class="js-range__hidden" value="0,2000" data-from="0" data-to="2000" />
											</div>
										</div>

									</div>

								</div>
							</div>
							<div class="form-filter__group">
								<a href="#" class="form-filter__title" data-bs-toggle="collapse" data-bs-target="#filter-4">
									<span>Бренд</span>
									<i class="icon-arrow-down form-filter__title__arrow"></i>
								</a>
								<div class="form-filter__crop collapse show" id="filter-4">
									<div class="form-filter__body">
										<div class="form-filter__props">
											<div class="form-filter__props__list">
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox" checked></div>
													<div class="check-border__text">Aroma Line (28)</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Dr. Huter (31)</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Freshco (46)</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Aromalight (11)</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Areon (2)</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">RYC (8)</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Aromatique (14)</div>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-filter__group">
								<a href="#" class="form-filter__title collapsed" data-bs-toggle="collapse" data-bs-target="#filter-5">
									<span>Вид</span>
									<i class="icon-arrow-down form-filter__title__arrow"></i>
								</a>
								<div class="form-filter__crop collapse" id="filter-5">
									

								</div>
							</div>
							<div class="form-filter__group">
								<a href="#" class="form-filter__title collapsed" data-bs-toggle="collapse" data-bs-target="#filter-6">
									<span>Объем</span>
									<i class="icon-arrow-down form-filter__title__arrow"></i>
								</a>
								<div class="form-filter__crop collapse" id="filter-6">
									

								</div>
							</div>
							<div class="form-filter__group">
								<a href="#" class="form-filter__title collapsed" data-bs-toggle="collapse" data-bs-target="#filter-7">
									<span>Монтаж</span>
									<i class="icon-arrow-down form-filter__title__arrow"></i>
								</a>
								<div class="form-filter__crop collapse" id="filter-7">
									

								</div>
							</div>
							<div class="form-filter__group form-filter__group--red">
								<a href="#" class="form-filter__title" data-bs-toggle="collapse" data-bs-target="#filter-8">
									<span>Акции</span>
									<i class="icon-arrow-down form-filter__title__arrow"></i>
								</a>
								<div class="form-filter__crop collapse show" id="filter-8">
									<div class="form-filter__body">
										<div class="form-filter__props">
											<div class="form-filter__props__list">
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox" checked></div>
													<div class="check-border__text">Суперцена</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Распродажа</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Товар дня</div>
												</label>
												<label class="check-border form-filter__check">
													<div class="check-border__input"><input type="checkbox"></div>
													<div class="check-border__text">Только онлайн</div>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-filter__ctrl">
								<div class="form-filter__ctrl__list">
									<div class="form-filter__ctrl__item">
										<button type="button" class="button button-green">
											Применить
										</button>
									</div>
									<div class="form-filter__ctrl__item">
										<button type="button" class="button button-outline-green">
											Сбросить
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
                    
				</div>
				<div class="layout-basic__main">
                    
                    {{> form-sorting }}
                    
					{{> grid-goods }}
                    
                    {{> slider-items-1 }}

					{{> grid-goods }}

					{{> page-more }}

					{{> nav-pages }}

                    <section class="section section--inner">
                        <div class="page__center">
                            <div class="section__header">
                                <h3 class="section__header__title">Вам понадобится</h3>
                                <div class="section__header__link">
                                    <a href="#" class="button-more">
                                        Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                                    </a>
                                </div>
                            </div>

                            {{> slider-goods }}
                        </div>
                    </section>
					
				</div>
			</div>
		</div>
	</section>

	{{> benefits }}

	{{> subscribe }}

	{{> footer }}

    {{> nav-bottom }}

</div>