---
title: Каталог
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	{{> nav-path }}

	<section>
		<div class="page__center">

            <h1 class="h2">Дрели электрические, перфораторы (117)</h1>

			<div class="layout-basic__center">
				<div class="layout-basic__side">

					{{> form-filter }}
                    
				</div>
				<div class="layout-basic__main">
                    
                    <form action="#" class="page__outer form-sorting">
						<div class="form-sorting__row">

							<div class="form-sorting__gap"></div>

							<div class="form-sorting__col form-sorting__col--select">
								<select>
									<option>По популярности (убывание)</option>
									<option>По популярности (возрастание)</option>
									<option>По рейтингу (убывание)</option>
									<option>По рейтингу (возрастание)</option>
									<option>По цене (убывание)</option>
									<option>По цене (возрастание)</option>
								</select>
							</div>
							
							<div class="form-sorting__col form-sorting__col--filter">
								<button class="button button-outline-white js-filter-show">
									<i class="icon-filter button__icon"></i>
									<span class="spinner-border"></span>
									<span class="button__text">Все фильтры</span>
								</button>
							</div>
							
							<div class="form-sorting__col form-sorting__col--right">
								<nav class="form-sorting__modes">
									<a href="catalog-grid.html" class="form-sorting__modes__item active">
										<i class="icon-menu"></i>
									</a>
									<a href="catalog-list.html" class="form-sorting__modes__item">
										<i class="icon-list"></i>
									</a>
								</nav>
							</div>

							<div class="form-sorting__gap"></div>
						</div>
					</form>
                    
					{{> goods-grid }}
                    
                    {{> slider-items-1 }}

					{{> goods-grid }}

					{{> page-more }}

					{{> nav-pages }}

                    <section class="section section--inner">
                        <div class="page__center">
                            <div class="section__header">
                                <h3 class="section__header__title">Вам понадобится</h3>
                                <div class="section__header__link">
                                    <a href="#" class="button-more">
                                        Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                                    </a>
                                </div>
                            </div>

                            {{> slider-goods }}
                        </div>
                    </section>
					
				</div>
			</div>
		</div>
	</section>

	{{> benefits }}

	{{> subscribe }}

	{{> footer }}

    {{> nav-bottom }}

</div>