---
title: Главная
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<div class="page__center">
		<nav class="header__path">
            <a href="#">Главная</a>
            <i class="icon-arrow-right"></i>
			<a href="#">Доставка</a>
        </nav>
	</div>

	<section>
		<div class="page__center">

			интернет-магазин

			О магазине
			Оплата
			Гарантия
			Доставка
			Товары под заказ
			Помощь покупателю
			Персональные данные
			Договор оферты
			Вопросы
			
			сервисы
			компания
			советы
			партнерство


			Единые правила доставки
			Цены в Архангельске
			Цены в Северодвинске
			Цены в Сыктывкаре
			Самовывоз
			
			<div class="t-areas" data-simplebar="">
				<table>
					<colgroup>
						<col>
						<col class="t-areas__col-30">
						<col class="t-areas__col-20">
						<col class="t-areas__col-20">
						<col class="t-areas__col-20">
					</colgroup>
					<tr class="t-areas__head">
						<td rowspan="2">№</td>
						<td rowspan="2">Зона доставки</td>
						<td rowspan="2">Зона доставки</td>
						<td colspan="2">Доставка при сумме покупки</td>
					</tr>
					<tr class="t-areas__head t-areas__head--small">
						<td>При сумме < 3000 р.</td>
						<td>При сумме > 3000 р.</td>
					</tr>
					<tr class="t-areas__data">
						<td><span class="t-areas__num t-areas__num--1">1</span></td>
						<td class="t-areas__desc">г. Северодвинск, ГСК в черте города Подводников, 22</td>
						<td class="t-areas__desc"><b>500 ₽</b></td>
						<td class="t-areas__total"><b>300 ₽</b></td>
						<td class="t-areas__total"><b>Бесплатно</b></td>
					</tr>
					<tr class="t-areas__data">
						<td><span class="t-areas__num t-areas__num--2">2</span></td>
						<td class="t-areas__desc">Водогон, пос. ГСК: 14 (Подводников 4), Автомобилист, Беломорец, Водоснабженец, Волна, Двина, Звезда, Кардан, Коммунальник, Контакт, Марьяна, Машиностроитель, Мечта, Моряк, Моряна, Мотор, На Октябрьской, Параниха, Прибой, Приморье, Строитель, Темп, Чайка, Чаячий, Лодочная станция у ГСК "Чайка", Старое кладбище</td>
						<td class="t-areas__desc"><b>950 ₽</b></td>
						<td class="t-areas__total"><b>450 ₽</b></td>
						<td class="t-areas__total"><b>400 ₽</b></td>
					</tr>
					<tr class="t-areas__data">
						<td><span class="t-areas__num t-areas__num--3">3</span></td>
						<td class="t-areas__desc">Дачи: Автомобилист, Березка, Большая Кудьма, Волна,Гавань, Двина-1, Двина-2, Космос, Космос-1, Космос-2,Лая, Кудьма, Лисьи борки, Медик, Отрада, Пеньки,Поморочка, Приозерный, Радуга, Родник, Рябинушка, Северное Сияние, Спектр, Таборы, Тайга-1, Тайга-2, Тайга-3, Три сосны, Уйма, Шихириха</td>
						<td class="t-areas__desc"><b>500 ₽</b></td>
						<td class="t-areas__total"><b>300 ₽</b></td>
						<td class="t-areas__total"><b>900 ₽</b></td>
					</tr>
					<tr class="t-areas__data">
						<td><span class="t-areas__num t-areas__num--4">4</span></td>
						<td class="t-areas__desc">Рикасиха станция (по 104), Дачи: Беломор, Высота, Дружба, Зеленый бор, Зеленый бор-2, Лайское, Лесная поляна, Малиновка, Надежда, Никольский, Никольское, Онега, Онежский тракт, Песчаный, Пихталы, Полярные зори, Север, Солза (до моста), Строитель, Теремок-1, Теремок-2, Ягринское</td>
						<td class="t-areas__desc"><b>500 ₽</b></td>
						<td class="t-areas__total"><b>300 ₽</b></td>
						<td class="t-areas__total"><b>1000 ₽</b></td>
					</tr>
					<tr class="t-areas__data">
						<td><span class="t-areas__num t-areas__num--5">5</span></td>
						<td class="t-areas__desc">Архангельск, Новодвинск, Рикасиха, Сот Рикасиха (по Арх.), Лайский Док, Цигломень</td>
						<td class="t-areas__desc"><b>500 ₽</b></td>
						<td class="t-areas__total"><b>300 ₽</b></td>
						<td class="t-areas__total"><b>1300 ₽</b></td>
					</tr>
					<tr class="t-areas__head">
						<td colspan="5" class="text-left">Дополнительные услуги</td>
					</tr>
					<tr class="t-areas__data">
						<td colspan="2" class="t-areas__desc">Доставка "точно в срок" интервал ожидания 10 минут! (доплата)</td>
						<td class="t-areas__desc"><b>500 ₽</b></td>
						<td class="t-areas__total"><b>300 ₽</b></td>
						<td class="t-areas__total"><b>1300 ₽</b></td>
					</tr>
					<tr class="t-areas__data">
						<td colspan="2" class="t-areas__desc">Доставка длинномерных пиломатериалов (более 4 м. доплата)</td>
						<td class="t-areas__desc"><b>500 ₽</b></td>
						<td class="t-areas__total"><b>300 ₽</b></td>
						<td class="t-areas__total"><b>1300 ₽</b></td>
					</tr>
					<tr class="t-areas__data">
						<td colspan="2" class="t-areas__desc">Подъем товара</td>
						<td colspan="3" class="t-areas__total"><b>1,5 ₽*1КГ*1 ЭТАЖ; МИНИМАЛЬНАЯ СУММА 250 ₽.</b></td>
					</tr>
					<tr class="t-areas__data">
						<td colspan="2" class="t-areas__desc">Пронос товара (расчитывается также как подъем, 10 метров=1 этаж)</td>
						<td colspan="3" class="t-areas__total"><b>1,5 ₽*1КГ*10 МЕТРОВ; МИНИМАЛЬНАЯ СУММА 250 ₽.</b></td>
					</tr>
				</table>
			</div>
																
			<div class="t-areas__map">
				<div class="t-areas__map__header">
					<div class="t-areas__map__title">Северодвинск</div>
					<div class="t-areas__map__nums">
						<a href="#" class="t-areas__num t-areas__num--1">1</a>
						<a href="#" class="t-areas__num t-areas__num--2">2</a>
						<a href="#" class="t-areas__num t-areas__num--3">3</a>
						<a href="#" class="t-areas__num t-areas__num--4">4</a>
						<a href="#" class="t-areas__num t-areas__num--5">5</a>
					</div>
				</div>
				<div class="t-areas__map__demo"></div>
			</div>
			
		</div>
	</section>

	
	<section class="advantages">
		<div class="page__center">
			<div class="advantages__center">
				<h3 class="advantages__h1">Наши преимущества</h3>
				<div class="advantages__window" data-simplebar>
					<div class="advantages__list">
						<div class="advantages__item">
							<div class="advantages__item__icon">
								<img src="images/advantages/shopping-cart.svg" alt="">
							</div>
							<div class="advantages__item__title">Широкий ассортимент</div>
							<div class="advantages__item__desc">Свыше 300.000 товаров</div>
						</div>
						<div class="advantages__sep"></div>
						<div class="advantages__item">
							<div class="advantages__item__icon">
								<img src="images/advantages/insurance.svg" alt="">
							</div>
							<div class="advantages__item__title">Гарантия низких цен</div>
							<div class="advantages__item__desc">Нашли дешевле - вернем 150% разницы</div>
						</div>
						<div class="advantages__sep"></div>
						<div class="advantages__item">
							<div class="advantages__item__icon">
								<img src="images/advantages/delivery-truck.svg" alt="">
							</div>
							<div class="advantages__item__title">Бесплатная доставка</div>
							<div class="advantages__item__desc">Бесплатная доставка по городу при покупке от 3 000 рублей</div>
						</div>
						<div class="advantages__sep"></div>
						<div class="advantages__item">
							<div class="advantages__item__icon">
								<img src="images/advantages/real-estate.svg" alt="">
							</div>
							<div class="advantages__item__title">Скидки новоселам</div>
							<div class="advantages__item__desc">Карта со скидкой до 5% на ассортимент</div>
						</div>
						<div class="advantages__sep"></div>
						<div class="advantages__item">
							<div class="advantages__item__icon advantages__item__icon--return-box">
								<img src="images/advantages/return-box.svg" alt="">
							</div>
							<div class="advantages__item__title">Легкий возврат</div>
							<div class="advantages__item__desc">Возврат в течении 120 дней</div>
						</div>
					</div>
				</div>
				<a href="#" class="button button-outline-black button--small advantages__see-all">
					Смотреть все
				</a>
			</div>
		</div>
	</section>

	<section class="subscribe">
		<div class="page__center">
			<div class="subscribe__center">
				<h3 class="subscribe__h1">
					<div class="subscribe__h1__icon">
						<img src="images/subscribe/email.svg" alt="">
					</div>
					<div class="subscribe__h1__text">
						Подпишись на новости, скидки и акции компании 
					</div>
				</h3>
				<div class="subscribe__form">
					<div class="subscribe__fields">
						<input type="text" class="input input-default input--full subscribe__input" placeholder="Ваш email">
					</div>
					<div class="subscribe__submit">
						<button type="button" class="button button-orange button--full subscribe__button">
							Подписаться
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	{{> footer }}

</div>