---
title: Главная
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<section class="slider-main slider-dots-1" id="slider-main">
		<div class="page__center">
			<div class="slider-main__list">
				<div class="slider-main__item">
					<div class="slider-main__slide"></div>
				</div>
				<div class="slider-main__item">
					<div class="slider-main__slide"></div>
				</div>
				<div class="slider-main__item">
					<div class="slider-main__slide"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="slider-items-3">
		<div class="page__center">
			<div class="slider-items-3__list">
				<div class="slider-items-3__item">
					<div class="slider-items-3__slide"></div>
				</div>
				<div class="slider-items-3__item">
					<div class="slider-items-3__slide"></div>
				</div>
				<div class="slider-items-3__item">
					<div class="slider-items-3__slide"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
        <div class="page__center">
            
            <div class="section__header">
                <h3 class="section__header__title">Новинки</h3>
                <div class="section__header__link">
                    <a href="#" class="button-more">
                        Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                    </a>
                </div>
            </div>

			{{> slider-goods }}

        </div>
    </section>

	{{> slider-items-1 }}

	<section class="section">
        <div class="page__center">
            
            <div class="section__header">
                <h3 class="section__header__title">Суперцена</h3>
                <div class="section__header__link">
                    <a href="#" class="button-more">
                        Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                    </a>
                </div>
            </div>

			{{> slider-goods }}

        </div>
    </section>

	{{> slider-items-1 }}

	<section class="section">
        <div class="page__center">
            
            <div class="section__header">
                <h3 class="section__header__title">Товар месяца</h3>
                <div class="section__header__link">
                    <a href="#" class="button-more">
                        Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                    </a>
                </div>
            </div>

			{{> slider-goods }}

        </div>
    </section>

	<section class="section">
        <div class="page__center">
            
            <div class="section__header">
                <h3 class="section__header__title">Наши марки</h3>
                <div class="section__header__link">
                    <a href="#" class="button-more">
                        Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                    </a>
                </div>
            </div>
			
			<div class="section__hidden">

                <div class="page__outer section__window" data-simplebar>
                    <div class="brands">
						<div class="brands__gap"></div>
                        <div class="brands__col">
							<div class="brands__item">
								<img src="images/temp/brands/1.png" alt="">
							</div>
                        </div>
						<div class="brands__col">
							<div class="brands__item">
								<img src="images/temp/brands/2.png" alt="">
							</div>
                        </div>
						<div class="brands__col">
							<div class="brands__item">
								<img src="images/temp/brands/3.png" alt="">
							</div>
                        </div>
						<div class="brands__col">
							<div class="brands__item">
								<img src="images/temp/brands/4.png" alt="">
							</div>
                        </div>
						<div class="brands__col">
							<div class="brands__item">
								<img src="images/temp/brands/5.png" alt="">
							</div>
                        </div>
						<div class="brands__gap"></div>
                    </div>
                </div>
            </div>  
			

        </div>
    </section>

	<section class="section">
		<div class="page__center">
			<div class="section__header">
				<div class="section__header__title">Наши магазины</div>
				<div class="section__header__link">
					<a href="#" class="button-more">
						Смотреть все <i class="icon-arrow-right button-more__icon"></i>
					</a>
				</div>
			</div>
			
			<div class="slider-shops js-slider-cards">

				<div class="section__hidden">

					<div class="page__outer section__window" data-simplebar>
						<div class="slider-shops__row js-slider-cards__row">
							<div class="slider-shops__gap"></div>
							<div class="slider-shops__col">
								<div class="shops-cards__item">
									<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Архангельск.jpg');"></div>
									<div class="shops-cards__desc">
										<div class="shops-cards__title">ТК Мега Архангельск</div>
										<div class="shops-cards__text">пр. Московский, 25</div>

									</div>
								</div>
							</div>
							<div class="slider-shops__col">
								<div class="shops-cards__item">
									<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Северодвинск.jpg');"></div>
									<div class="shops-cards__desc">
										<div class="shops-cards__title">ТК Мега Северодвинск</div>
										<div class="shops-cards__text">ул. Железнодорожная, 37</div>

									</div>
								</div>
							</div>
							<div class="slider-shops__col">
								<div class="shops-cards__item">
									<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Сыктывкар.jpg');"></div>
									<div class="shops-cards__desc">
										<div class="shops-cards__title">ТК Мега Сыктывкар</div>
										<div class="shops-cards__text">пр. Октябрьский, 131/4</div>

									</div>
								</div>
							</div>
							<div class="slider-shops__col">
								<div class="shops-cards__item">
									<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Лайт Соломбала.jpg');"></div>
									<div class="shops-cards__desc">
										<div class="shops-cards__title">ТК Мега Лайт Соломбала</div>
										<div class="shops-cards__text">пр. Никольский, 33, корп. 1</div>

									</div>
								</div>
							</div>
							<div class="slider-shops__col">
								<div class="shops-cards__item">
									<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Лайт Петромост.jpg');"></div>
									<div class="shops-cards__desc">
										<div class="shops-cards__title">ТК Мега Лайт Петромост</div>
										<div class="shops-cards__text">пр. Ленинградский, 255</div>

									</div>
								</div>
							</div>
							<div class="slider-shops__col">
								<div class="shops-cards__item">
									<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Лайт в БУМ.jpg');"></div>
									<div class="shops-cards__desc">
										<div class="shops-cards__title">ТК Мега Лайт в БУМ</div>
										<div class="shops-cards__text">ул. Гагарина, 46</div>
									</div>
								</div>
							</div>
							<div class="slider-shops__gap"></div>
						</div>
					</div>

				</div>

				<button type="button" class="button-slider button-slider--prev js-slider-cards-prev">
					<i class="icon-arrow-left"></i>
				</button>

				<button type="button" class="button-slider button-slider--next js-slider-cards-next">
					<i class="icon-arrow-right"></i>
				</button>
				
			</div>

		</div>
	</section>



	{{> benefits }}

	{{> subscribe }}

	{{> footer }}

</div>