---
title: Главная
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<section class="slider-main" id="slider-main">
		<div class="page__center">
			<div class="slider-main__list">
				<div class="slider-main__item">
					<div class="slider-main__slide"></div>
				</div>
				<div class="slider-main__item">
					<div class="slider-main__slide"></div>
				</div>
				<div class="slider-main__item">
					<div class="slider-main__slide"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="slider-addon">
		<div class="page__center">
			<div class="slider-addon__list">
				<div class="slider-addon__item">
					<div class="slider-addon__slide"></div>
				</div>
				<div class="slider-addon__item">
					<div class="slider-addon__slide"></div>
				</div>
				<div class="slider-addon__item">
					<div class="slider-addon__slide"></div>
				</div>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="page__center">
			<div class="section__header">
				<div class="section__header__title">Наши магазины</div>
				<div class="section__header__link">
					<a href="#" class="button-more">
						Смотреть все <i class="icon-arrow-right button-more__icon"></i>
					</a>
				</div>
			</div>
			<div class="section__hidden">

				<div class="page__outer section__window" data-simplebar>
					<div class="shops-cards__row-line">
						<div class="shops-cards__gap-line"></div>
						<div class="shops-cards__col-line">
							<div class="shops-cards__item">
								<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Архангельск.jpg');"></div>
								<div class="shops-cards__body">
									<div class="shops-cards__title">ТК Мега Архангельск</div>
									<div class="shops-cards__address">пр. Московский, 25</div>
									<div class="shops-cards__list">
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-time"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Режим работы:</div>
												<div class="shops-cards__value">с 9:00 до 21:00</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-bus"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Автобусы:</div>
												<div class="shops-cards__value">№5, №5Э, №33, №62, №64, №65, №8</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-shopping-cart"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Способы покупки:</div>
												<div class="shops-cards__value">
													- В магазине
													<br>- По телефону
													<br>- В интернет-магазине
												</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-package"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Получение:</div>
												<div class="shops-cards__value">Доставка и самовывоз</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="shops-cards__col-line">
							<div class="shops-cards__item">
								<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Северодвинск.jpg');"></div>
								<div class="shops-cards__body">
									<div class="shops-cards__title">ТК Мега Северодвинск</div>
									<div class="shops-cards__address">ул. Железнодорожная, 37</div>
									<div class="shops-cards__list">
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-time"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Режим работы:</div>
												<div class="shops-cards__value">с 9:00 до 21:00</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-bus"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Автобусы:</div>
												<div class="shops-cards__value">№3, №22, №25</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-shopping-cart"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Способы покупки:</div>
												<div class="shops-cards__value">
													- В магазине
												</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-package"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Получение:</div>
												<div class="shops-cards__value">Доставка и самовывоз</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="shops-cards__col-line">
							<div class="shops-cards__item">
								<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Сыктывкар.jpg');"></div>
								<div class="shops-cards__body">
									<div class="shops-cards__title">ТК Мега Сыктывкар</div>
									<div class="shops-cards__address">пр. Октябрьский, 131/4</div>
									<div class="shops-cards__list">
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-time"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Режим работы:</div>
												<div class="shops-cards__value">с 9:00 до 21:00</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-shopping-cart"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Способы покупки:</div>
												<div class="shops-cards__value">
													- В магазине
												</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-package"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Получение:</div>
												<div class="shops-cards__value">Доставка и самовывоз</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="shops-cards__col-line">
							<div class="shops-cards__item">
								<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Лайт Соломбала.jpg');"></div>
								<div class="shops-cards__body">
									<div class="shops-cards__title">ТК Мега Лайт Соломбала</div>
									<div class="shops-cards__address">пр. Никольский, 33, корп. 1</div>
									<div class="shops-cards__list">
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-time"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Режим работы:</div>
												<div class="shops-cards__value">с 9:00 до 21:00</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-bus"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Автобусы:</div>
												<div class="shops-cards__value">№6, №7, №7у, №42, №61, №73</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-shopping-cart"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Способы покупки:</div>
												<div class="shops-cards__value">
													- В магазине
												</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-package"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Получение:</div>
												<div class="shops-cards__value">Доставка и самовывоз</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="shops-cards__col-line">
							<div class="shops-cards__item">
								<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Лайт Петромост.jpg');"></div>
								<div class="shops-cards__body">
									<div class="shops-cards__title">ТК Мега Лайт Петромост</div>
									<div class="shops-cards__address">пр. Ленинградский, 255</div>
									<div class="shops-cards__list">
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-time"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Режим работы:</div>
												<div class="shops-cards__value">с 9:00 до 21:00</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-bus"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Автобусы:</div>
												<div class="shops-cards__value">№5, №5Э, №64, №42, №44, №22, №104</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-shopping-cart"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Способы покупки:</div>
												<div class="shops-cards__value">
													- В магазине
													<br>- В интернет-магазине
												</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-package"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Получение:</div>
												<div class="shops-cards__value">Доставка и самовывоз</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="shops-cards__col-line">
							<div class="shops-cards__item">
								<div class="shops-cards__image" style="background-image: url('images/shops/ТК Мега Лайт в БУМ.jpg');"></div>
								<div class="shops-cards__body">
									<div class="shops-cards__title">ТК Мега Лайт в БУМ</div>
									<div class="shops-cards__address">ул. Гагарина, 46</div>
									<div class="shops-cards__list">
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-time"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Режим работы:</div>
												<div class="shops-cards__value">
													- пн-пт с 10:00 до 20:00; 
													<br>- сб вс с 10:00 до 19:00
												</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-bus"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Автобусы:</div>
												<div class="shops-cards__value">№ 10, 70, 83, 69, 62, 7, 76, 180</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-shopping-cart"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Способы покупки:</div>
												<div class="shops-cards__value">
													- В магазине
												</div>
											</div>
										</div>
										<div class="shops-cards__prop">
											<div class="shops-cards__icon">
												<i class="icon-package"></i>
											</div>
											<div class="shops-cards__desc">
												<div class="shops-cards__label">Получение:</div>
												<div class="shops-cards__value">Доставка и самовывоз</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="shops-cards__gap-line"></div>
					</div>
				</div>

			</div>
		</div>
	</section>



	{{> pros }}

	{{> subscribe }}

	{{> footer }}

</div>