---
title: Главная
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<section class="error-404">
		<div class="page__center">
			<div class="error-404__center">
				<div class="error-404__left">

					<img src="images/error-404/car.jpg" alt="Not Found">

				</div>
				<div class="error-404__right">
					<h1 class="error-404__h1">
						Страница не найдена
					</h1>

					<div class="error-404__desc">
						Возможно, неправильно набран адрес или такой страницы не существует. <br>
						Вернитесь на главную страницу страницу, перейдите в каталог или воспользуйтесь поиском
					</div>

					<div class="error-404__right__image">
						<img src="images/error-404/car.jpg" alt="Not Found">
					</div>
					
					<div class="error-404__links">
						<a href="#" class="button button-outline-green button--full">
							На главную
						</a>
						<a href="#" class="button button-green button--full">
							Перейти в каталог
						</a>
						<button type="button" class="button button-orange button--full">
							Заказать обратный звонок
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="subscribe">
		<div class="page__center">
			<div class="subscribe__center">
				<h3 class="subscribe__h1">
					<div class="subscribe__h1__icon">
						<img src="images/icons/subscribe/email.svg" alt="">
					</div>
					<div class="subscribe__h1__text">
						Подпишись на новости, скидки и акции компании 
					</div>
				</h3>
				<div class="subscribe__form">
					<div class="subscribe__fields">
						<input type="text" class="input input-default input--full subscribe__input" placeholder="Ваш email">
					</div>
					<div class="subscribe__submit">
						<button type="button" class="button button-orange button--full subscribe__button">
							Подписаться
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	{{> footer }}

</div>