---
title: Новости
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	{{> nav-path }}

	<section>
		<div class="page__center">

            <h1 class="h2">Новости (152)</h1>

			<div class="layout-basic__center">
				<div class="layout-basic__side">

					<nav class="nav-side" id="nav-side">
						<div class="nav-side__group">
							<a href="#" class="nav-side__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-side-1">
								<span>Интернет-магазин</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse" id="nav-side-1" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">О магазине</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Оплата</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Гарантия</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link active">Доставка</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Товары под заказ</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Помощь покупателю</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Персональные данные</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Договор оферты</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Вопросы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="nav-side__group">
							<a href="#" class="nav-side__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-side-2">
								<span>Сервисы</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse" id="nav-side-2" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Удобнее</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Забрать</a>
									</div>
								</div>
							</div>
						</div>
						<div class="nav-side__group">
							<a href="#" class="nav-side__title" data-bs-toggle="collapse" data-bs-target="#nav-side-3">
								<span>Компания</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse show" id="nav-side-3" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">О компании</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Магазины</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Вакансии</a>
									</div>
                                    <div class="nav-side__item">
										<a href="#" class="nav-side__link">Истории успеха</a>
									</div>
                                    <div class="nav-side__item">
										<a href="#" class="nav-side__link">Новости</a>
									</div>
                                    <div class="nav-side__item">
										<a href="#" class="nav-side__link">Контакты</a>
									</div>
								</div>
							</div>
						</div>
						<div class="nav-side__group">
							<a href="#" class="nav-side__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-side-4">
								<span>Советы</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse" id="nav-side-4" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Накладную</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Схема проезда на буферную зону</a>
									</div>
								</div>
							</div>
						</div>
						<div class="nav-side__group">
							<a href="#" class="nav-side__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-side-5">
								<span>Партнерство</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse" id="nav-side-5" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Документов</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Необходимые</a>
									</div>
								</div>
							</div>
						</div>
					</nav>

				</div>
				<div class="layout-basic__main">
                    
                    {{> form-sorting }}
                    
					<div class="news-cards">
						<div class="news-cards__row">
							{{#repeat 10}}
							<div class="news-cards__col">
								<article class="news-cards__item">
									<div class="news-cards__image">
										<div class="image-box image-box--50"></div>
										<a href="#" class="link-area"></a>
									</div>
									<div class="news-cards__desc">
										<div class="news-cards__tags">
											<div class="labels">
												<a href="#" class="labels__light-green">Хэштег статьи</a>
											</div>
										</div>
										<h3 class="news-cards__title">
											<a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fugit aperiam incidunt corporis, facere doloremque obcaecati ex repellendus dolor cupiditate nulla dolorem voluptate dolorum repudiandae ipsa exercitationem nobis ratione. Harum.</a>
										</h3>
										<time class="news-cards__time" datetime="2020-06-07" pubdate>7. 06. 2020</time>
									</div>
								</article>
							</div>
							{{/repeat}}
						</div>
					</div>

					{{> page-more }}

					{{> nav-pages }}
					
				</div>
			</div>
		</div>
	</section>
	
	{{> benefits }}

	{{> subscribe }}

	{{> footer }}

	{{> nav-bottom }}

</div>