---
title: Новости
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<nav class="nav-path">
		<div class="page__center">
			<a href="#">Главная</a>
			<i class="icon-arrow-right"></i>
			<a href="#">Новости</a>
            <i class="icon-arrow-right"></i>
            <span>Инструмент — лучший подарок мужчине на 23 февраля</span>
		</div>
	</nav>

	<section>
		<div class="page__center">

			<div class="layout-basic__center">
				<div class="layout-basic__side">

					<nav class="nav-side" id="nav-side">
						<div class="nav-side__group">
							<a href="#" class="nav-side__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-side-1">
								<span>Интернет-магазин</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse" id="nav-side-1" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">О магазине</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Оплата</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Гарантия</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link active">Доставка</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Товары под заказ</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Помощь покупателю</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Персональные данные</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Договор оферты</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Вопросы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="nav-side__group">
							<a href="#" class="nav-side__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-side-2">
								<span>Сервисы</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse" id="nav-side-2" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Удобнее</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Забрать</a>
									</div>
								</div>
							</div>
						</div>
						<div class="nav-side__group">
							<a href="#" class="nav-side__title" data-bs-toggle="collapse" data-bs-target="#nav-side-3">
								<span>Компания</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse show" id="nav-side-3" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">О компании</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Магазины</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Вакансии</a>
									</div>
                                    <div class="nav-side__item">
										<a href="#" class="nav-side__link">Истории успеха</a>
									</div>
                                    <div class="nav-side__item">
										<a href="#" class="nav-side__link">Новости</a>
									</div>
                                    <div class="nav-side__item">
										<a href="#" class="nav-side__link">Контакты</a>
									</div>
								</div>
							</div>
						</div>
						<div class="nav-side__group">
							<a href="#" class="nav-side__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-side-4">
								<span>Советы</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse" id="nav-side-4" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Накладную</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Схема проезда на буферную зону</a>
									</div>
								</div>
							</div>
						</div>
						<div class="nav-side__group">
							<a href="#" class="nav-side__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-side-5">
								<span>Партнерство</span>
								<i class="icon-arrow-down"></i>
							</a>
							<div class="nav-side__crop collapse" id="nav-side-5" data-bs-parent="#nav-side">
								<div class="nav-side__list">
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Документов</a>
									</div>
									<div class="nav-side__item">
										<a href="#" class="nav-side__link">Необходимые</a>
									</div>
								</div>
							</div>
						</div>
					</nav>

				</div>
				<div class="layout-basic__main">
                    
                    <article class="news-item">

                        <div class="news-item__image">
                            <div class="content__image--empty content__image--rect"></div>
                        </div>

                        <div class="news-item__desc">

                            <div class="news-item__tags">
                                <div class="news-item__tags__item">Инструменты</div>
                                <div class="news-item__tags__item">Подарки</div>
                            </div>

                            <h3 class="news-item__title">Инструмент — лучший подарок мужчине на 23 февраля</h3>
                            
                            <div class="news-item__text">
                                Большой ассортимент подарков для мужчин в ТК МЕГА. Инструмент - лучший подарок мужчине на 23 февраля. Предложение действительно с 10 февраля до 23 февраля 2021 года.
                                Подробности акции можно узнать на сатйе или по телефону 8 800 222 12 40.
                            </div>

                            <div class="news-item__footer">
                                <div class="news-item__share">
                                    <div class="news-item__share__label">Поделиться</div>
                                    <div>
                                        <div class="ya-share2" data-curtain data-shape="round" data-services="vkontakte,telegram,twitter,whatsapp"></div>
                                        <script src="https://yastatic.net/share2/share.js" defer></script>
                                    </div>
                                </div>
                                
                                <time class="news-item__date" datetime="2020-06-07" pubdate>7. 06. 2020</time>
                            </div>

                        </div>
                    </article>

                    <section class="goods-cards">
                        <h3 class="h1">Товары из акции</h3>
                        <div class="goods-cards__list">
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    <a href="#" class="goods-cards__image goods-cards__image--gray">
                                        <div><img src="images/temp/goods/1.jpeg" alt=""></div>
                                    </a>
                                    <div class="goods-cards__desc">
                                        <div class="goods-cards__code">Артикул: 897-356</div>
                                        <div class="goods-cards__title">
                                            <a href="#">Дрель AEК BE 750 R 449160</a>
                                        </div>
                                        <div class="rating">
                                            <div class="rating__stars">
                                                <div style="width: 68%;"></div>
                                            </div>
                                            <div class="rating__count">(23)</div>
                                        </div>
                                        <div class="goods-cards__price"><span>5 120</span> ₽ / шт</div>
                                        <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                            <span class="spinner-border"></span>
                                            <span class="button__text">В корзину</span>
                                        </button>
                                    </div>
                                    <div class="goods-cards__ctrl">
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-heart"></i>
                                        </button>
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-stats"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    <a href="#" class="goods-cards__image goods-cards__image--gray">
                                        <div><img src="images/temp/goods/2.jpeg" alt=""></div>
                                    </a>
                                    <div class="goods-cards__desc">
                                        <div class="goods-cards__code">Артикул: 890-000</div>
                                        <div class="goods-cards__title">
                                            <a href="#">Ударная дрель Boss ДЭУ-6500 </a>
                                        </div>
                                        <div class="rating">
                                            <div class="rating__stars">
                                                <div style="width: 68%;"></div>
                                            </div>
                                            <div class="rating__count">(23)</div>
                                        </div>
                                        <div class="goods-cards__price"><span>3 250</span> ₽ / шт</div>
                                        <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                            <span class="spinner-border"></span>
                                            <span class="button__text">В корзину</span>
                                        </button>
                                    </div>
                                    <div class="goods-cards__ctrl">
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-heart"></i>
                                        </button>
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-stats"></i>
                                        </button>
                                    </div>
                                    <div class="goods-cards__labels">
                                        <div class="goods-cards__labels__blue">
                                            Только онлайн
                                        </div>
                                        <div class="goods-cards__labels__red">
                                            Скидка
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    <a href="#" class="goods-cards__image goods-cards__image--gray">
                                        <div><img src="images/temp/goods/3.png" alt=""></div>
                                    </a>
                                    <div class="goods-cards__desc">
                                        <div class="goods-cards__code">Артикул: 397-366</div>
                                        <div class="goods-cards__title">
                                            <a href="#">Ударная дрель Boss ДЭУ-1200 </a>
                                        </div>
                                        <div class="rating">
                                            <div class="rating__stars">
                                                <div style="width: 50%;"></div>
                                            </div>
                                            <div class="rating__count">(23)</div>
                                        </div>
                                        <div class="goods-cards__price"><span>7 560</span> ₽ / шт</div>
                                        <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                            <span class="spinner-border"></span>
                                            <span class="button__text">В корзину</span>
                                        </button>
                                    </div>
                                    <div class="goods-cards__ctrl">
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-heart"></i>
                                        </button>
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-stats"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    <a href="#" class="goods-cards__image goods-cards__image--gray">
                                        <div><img src="images/temp/goods/4.png" alt=""></div>
                                    </a>
                                    <div class="goods-cards__desc">
                                        <div class="goods-cards__code">Артикул: 813-316</div>
                                        <div class="goods-cards__title">
                                            <a href="#">Аккумуляторная дрель-шуруповерт Торнадо ДА-18Л-2К 72/14/9</a>
                                        </div>
                                        <div class="rating">
                                            <div class="rating__stars">
                                                <div style="width: 38%;"></div>
                                            </div>
                                            <div class="rating__count">(33)</div>
                                        </div>
                                        <div class="goods-cards__price"><span>5 120</span> ₽ / шт</div>
                                        <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                            <span class="spinner-border"></span>
                                            <span class="button__text">В корзину</span>
                                        </button>
                                    </div>
                                    <div class="goods-cards__ctrl">
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-heart"></i>
                                        </button>
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-stats"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    <a href="#" class="goods-cards__image goods-cards__image--gray">
                                        <div><img src="images/temp/goods/1/5.png" alt=""></div>
                                    </a>
                                    <div class="goods-cards__desc">
                                        <div class="goods-cards__code">Артикул: 853-311</div>
                                        <div class="goods-cards__title">
                                            <a href="#">Ударная дрель Boss SBE 760 </a>
                                        </div>
                                        <div class="rating">
                                            <div class="rating__stars">
                                                <div style="width: 68%;"></div>
                                            </div>
                                            <div class="rating__count">(26)</div>
                                        </div>
                                        <div class="goods-cards__price"><span>2 884</span> ₽ / шт</div>
                                        <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                            <span class="spinner-border"></span>
                                            <span class="button__text">В корзину</span>
                                        </button>
                                    </div>
                                    <div class="goods-cards__ctrl">
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-heart"></i>
                                        </button>
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-stats"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    <a href="#" class="goods-cards__image goods-cards__image--gray">
                                        <div><img src="images/temp/goods/1/6.png" alt=""></div>
                                    </a>
                                    <div class="goods-cards__desc">
                                        <div class="goods-cards__code">Артикул: 134-331</div>
                                        <div class="goods-cards__title">
                                            <a href="#">Ударная дрель Boss GSB 20-2 </a>
                                        </div>
                                        <div class="rating">
                                            <div class="rating__stars">
                                                <div style="width: 68%;"></div>
                                            </div>
                                            <div class="rating__count">(73)</div>
                                        </div>
                                        <div class="goods-cards__price"><span>4 200</span> ₽ / шт</div>
                                        <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                            <span class="spinner-border"></span>
                                            <span class="button__text">В корзину</span>
                                        </button>
                                    </div>
                                    <div class="goods-cards__ctrl">
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-heart"></i>
                                        </button>
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-stats"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    <a href="#" class="goods-cards__image goods-cards__image--gray">
                                        <div><img src="images/temp/goods/1/7.png" alt=""></div>
                                    </a>
                                    <div class="goods-cards__desc">
                                        <div class="goods-cards__code">Артикул: 891-378</div>
                                        <div class="goods-cards__title">
                                            <a href="#">Аккумуляторная дрель-шуруповерт DeWalt BR 114li 180201405</a>
                                        </div>
                                        <div class="rating">
                                            <div class="rating__stars">
                                                <div style="width: 50%;"></div>
                                            </div>
                                            <div class="rating__count">(29)</div>
                                        </div>
                                        <div class="goods-cards__price"><span>4 284</span> ₽ / шт</div>
                                        <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                            <span class="spinner-border"></span>
                                            <span class="button__text">В корзину</span>
                                        </button>
                                    </div>
                                    <div class="goods-cards__ctrl">
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-heart"></i>
                                        </button>
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-stats"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    <a href="#" class="goods-cards__image goods-cards__image--gray">
                                        <div><img src="images/temp/goods/1/8.png" alt=""></div>
                                    </a>
                                    <div class="goods-cards__desc">
                                        <div class="goods-cards__code">Артикул: 876-334</div>
                                        <div class="goods-cards__title">
                                            <a href="#">Дрель Skills DP 4010</a>
                                        </div>
                                        <div class="rating">
                                            <div class="rating__stars">
                                                <div style="width: 38%;"></div>
                                            </div>
                                            <div class="rating__count">(1002)</div>
                                        </div>
                                        <div class="goods-cards__price"><span>2 784</span> ₽ / шт</div>
                                        <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                            <span class="spinner-border"></span>
                                            <span class="button__text">В корзину</span>
                                        </button>
                                    </div>
                                    <div class="goods-cards__ctrl">
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-heart"></i>
                                        </button>
                                        <button type="button" class="goods-cards__ctrl__item">
                                            <i class="icon-stats"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

					<div class="content__more">
						<button class="button button-outline-green button--full">
							<span class="spinner-border"></span>
							<span class="button__text">Показать ещё</span>
						</button>
					</div>

					<nav class="nav-pages">
						<a href="#" class="nav-pages__link"><i class="icon-first-page"></i></a>
						<a href="#" class="nav-pages__link"><i class="icon-arrow-left"></i></a>
						<a href="#" class="nav-pages__link nav-pages__text">1</a>
						<span class="nav-pages__text nav-pages__text--sep">/</span>
						<span class="nav-pages__text">7</span>
						<a href="#" class="nav-pages__link"><i class="icon-arrow-right"></i></a>
						<a href="#" class="nav-pages__link"><i class="icon-last-page"></i></a>
					</nav>
					
				</div>
			</div>
		</div>
	</section>
	
	{{> pros }}

	{{> subscribe }}

	{{> footer }}

</div>