---
title: Оформление заказа
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<div class="desktop-only">
        {{> nav-path }}
    </div>
    
    <div class="page__center">
        <div class="layout-order__center">
            <div class="layout-order__main">

                <section>

                    <div class="form-panel">
                        <div class="form-panel__header">

                            <div class="form-panel__header__title">Информация о заказе</div>
                            
                            <div>
                                <div class="nav-print">
                                    <a href="#" class="nav-print__item">
                                        <i class="icon-print"></i>
                                    </a>
                                    <a href="#" class="nav-print__item">
                                        <i class="icon-email"></i>
                                    </a>
                                    <a href="#" class="nav-print__item">
                                        <i class="icon-download"></i>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-panel__body">

                            <div class="form-panel__item">
                                <label class="form-panel__label">№ заказа</label>
                                <input type="text" class="input-classic" value="11325" readonly>
                            </div>

                            <div class="form-panel__item">
                                <label class="form-panel__label">Дата и время</label>
                                <input type="text" class="input-classic" value="07.06.2021 13:29:21" readonly>
                            </div>

                            <div class="page-order-info__info">
                                <div>
                                    Статус: <span class="page-order-info__info__success">исполняется</span>
                                </div>
                                <div>
                                    <button type="button" class="button-collapse collapsed" data-bs-toggle="collapse">
                                        <span>Подробная информация</span>
                                        <i class="icon-arrow-up"></i>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    
                    

                    <div class="page-order-info__btns">
                        <div>
                            <a href="#" class="button button-green">Перейти в личный кабинет</a>
                        </div>
                        <div>
                            <a href="#" class="button button-outline-green">Продолжить покупки</a>
                        </div>
                    </div>

                </section>

            </div>
            <div class="layout-order__side">


            </div>
        </div>
    </div>

    <div class="gap-30"></div>

	{{> benefits }}

	{{> subscribe }}

	{{> footer }}

    {{> nav-bottom }}

</div>