---
title: Новости
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<nav class="nav-path">
		<div class="page__center">
			<a href="#">Главная</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Корзина</a>
		</div>
	</nav>

    <section class="cart">
        <div class="page__center">
            <div class="cart__center">
                <div class="cart__main">

                    <div class="cart__header">
                        <h1 class="cart__header__title">В корзине</h1>
                        <a href="#" class="button button-outline-black button--size-1">
                            Очистить
                        </a>
                    </div>
                    <div class="cart__list">
                        <div class="cart__item">
                            <div class="cart__image">
                                <div class="goods__image goods__image--gray">
                                    <div><img src="images/temp/goods/1.jpeg" alt=""></div>
                                </div>
                            </div>
                            <div class="cart__desc">
                                <div class="cart__code">Артикул: 897-356</div>
                                <div class="cart__title">
                                    <a href="#">Дрель AEК BE 750 R 449160</a>
                                </div>
                                <div class="goods__rate cart__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <button type="button" class="cart__close">
                                    <i class="icon-close"></i>
                                </button>
                            </div>
                            <div class="cart__props">
                                <div class="cart__props__inner">
                                    <div class="cart__prop">
                                        <div>В наличии</div>
                                        <div>7 шт</div>
                                    </div>
                                    <div class="cart__prop">
                                        <div>Доставка</div>
                                        <div>завтра</div>
                                    </div>
                                    <div class="cart__prop">
                                        <div>Самовывоз</div>
                                        <div>сегодня</div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__rest">
                                <div class="cart__price"><span>5 120</span> ₽ / шт</div>
                                <div class="cart__points"><span>+42</span> балла на карту</div>
                                <div class="cart__count">
                                    <button type="button">-</button>
                                    <input type="text" value="2">
                                    <button type="button">+</button>
                                </div>
                            </div>
                        </div>

                        <div class="cart__item">
                            <div class="cart__image">
                                <div class="goods__image goods__image--gray">
                                    <div><img src="images/temp/goods/2.jpeg" alt=""></div>
                                </div>
                            </div>
                            <div class="cart__desc">
                                <div class="cart__code">Артикул: 897-356</div>
                                <div class="cart__title">
                                    <a href="#">Дрель AEК BE 750 R 449160</a>
                                </div>
                                <div class="goods__rate cart__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <button type="button" class="cart__close">
                                    <i class="icon-close"></i>
                                </button>
                            </div>
                            <div class="cart__props">
                                <div class="cart__props__inner">
                                    <div class="cart__prop">
                                        <div>В наличии</div>
                                        <div>7 шт</div>
                                    </div>
                                    <div class="cart__prop">
                                        <div>Доставка</div>
                                        <div>завтра</div>
                                    </div>
                                    <div class="cart__prop">
                                        <div>Самовывоз</div>
                                        <div>сегодня</div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__rest">
                                <div class="cart__price"><span>5 120</span> ₽ / шт</div>
                                <div class="cart__points"><span>+42</span> балла на карту</div>
                                <div class="cart__count">
                                    <button type="button">-</button>
                                    <input type="text" value="2">
                                    <button type="button">+</button>
                                </div>
                            </div>
                        </div>

                        <div class="cart__item">
                            <div class="cart__image">
                                <div class="goods__image goods__image--gray">
                                    <div><img src="images/temp/goods/3.png" alt=""></div>
                                </div>
                            </div>
                            <div class="cart__desc">
                                <div class="cart__code">Артикул: 897-356</div>
                                <div class="cart__title">
                                    <a href="#">Ударная дрель Boss ДЭУ-6500 </a>
                                </div>
                                <div class="goods__rate cart__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <button type="button" class="cart__close">
                                    <i class="icon-close"></i>
                                </button>
                            </div>
                            <div class="cart__props">
                                <div class="cart__props__inner">
                                    <div class="cart__prop">
                                        <div>В наличии</div>
                                        <div>7 шт</div>
                                    </div>
                                    <div class="cart__prop">
                                        <div>Доставка</div>
                                        <div>завтра</div>
                                    </div>
                                    <div class="cart__prop">
                                        <div>Самовывоз</div>
                                        <div>сегодня</div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__rest">
                                <div class="cart__price"><span>5 120</span> ₽ / шт</div>
                                <div class="cart__points"><span>+42</span> балла на карту</div>
                                <div class="cart__count">
                                    <button type="button">-</button>
                                    <input type="text" value="2">
                                    <button type="button">+</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="cart__side">

                    <section class="cart__total">
                        <h3  class="cart__total__title">Ваш заказ</h3>
                        <div class="cart__total__body">
                            <div class="cart__total__offer">При заказе от 3 000 ₽ — доставка бесплатно!</div>
                            
                            <div class="cart__total__props">
                                <div class="cart__total__prop">
                                    <div>Товаров</div>
                                    <div>3 шт</div>
                                </div>
                                <div class="cart__total__prop">
                                    <div>Общий вес</div>
                                    <div>8,5 кг</div>
                                </div>
                            </div>
                            
                            <div class="cart__total__props">
                                <div class="cart__total__prop cart__total__prop--bonuses">
                                    <div>Товаров</div>
                                    <div>3 шт</div>
                                </div>
                                <div class="cart__total__prop cart__total__prop--total">
                                    <div>Общий вес</div>
                                    <div>8,5 кг</div>
                                </div>
                            </div>

                            <div class="cart__total__coupon">
                                <input type="text" class="input input-default input--full" placeholder="Ваш промокод">
                                <button type="button" class="button button-orange button--full">
                                    Применить
                                </button>
                            </div>

                            <div class="cart__total__order">
                                <button type="button" class="button button-green button--full">
                                    Оформить заказ
                                </button>
                                <button type="button" class="button button-outline-green button--full cart__total__order__1-click">
                                    Купить в 1 клик
                                </button>
                            </div>
                        </div>
                    </section>
                    
                    <aside class="cart__promo">
                        <h3 class="cart__promo__title">
                            Нашли дешевле?
                            <br> Cнизим цену!
                        </h3>
                        <a href="#" class="button button-outline-white cart__promo__button">
                            <span>Подробнее</span>
                            <i class="icon-arrow-forward"></i>
                        </a>
                    </aside>

                </div>
            </div>
        </div>
    </section>

    <section class="goods goods--nowrap">
        <div class="page__center">
            <div class="goods__header">
                <h3 class="h1 mb-0">В избранном</h3>
                <a href="#" class="button button-outline-black button--size-1">
                    Смотреть все
                </a>
            </div>
            <div class="goods__window" data-simplebar>
                <div class="goods__list ">
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/14.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">
                                        Теплоизоляционная плита ПЕНОПЛЭКС Комфорт 50 мм
                                    </a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <div class="goods__price"><span>284</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/15.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Пена монтажная Формула мастера  350г</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <div class="goods__price"><span>146</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                            <div class="goods__labels">
                                <div class="goods__labels__item goods__labels__item--orange">
                                    Выбор покупателя
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/16.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 136-681</div>
                                <div class="goods__title">
                                    <a href="#">Дрель Skills DP 4010</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>3 450</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                            <div class="goods__labels">
                                <div class="goods__labels__item goods__labels__item--green">
                                    Товар месяца
                                </div>
                                <div class="goods__labels__item goods__labels__item--red">
                                    Скидка
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/17.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Мойка кухонная MILENA 50DG</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>2 787</span> ₽ / шт</div>
                                <button class="button button-outline-orange button--full">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">Под заказ</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/18.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Смеситель для ванны Valta D1109500</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>5 120</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                            <div class="goods__labels">
                                <div class="goods__labels__item goods__labels__item--green">
                                    Выбор покупателя
                                </div>
                                <div class="goods__labels__item">
                                    Только онлайн
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="goods goods--nowrap">
        <div class="page__center">
            <div class="goods__header">
                <h3 class="h1 mb-0">Вам понадобится</h3>
                <a href="#" class="button button-outline-black button--size-1">
                    Смотреть все
                </a>
            </div>
            <div class="goods__window" data-simplebar>
                <div class="goods__list">
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/9.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Набор бит Boss PP-963</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <div class="goods__price"><span>1 740</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/10.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Ящик для инструментов ReWalt 40”</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <div class="goods__price"><span>2 120</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/11.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 136-681</div>
                                <div class="goods__title">
                                    <a href="#">Насадки Boss WS96-04 8 штук</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>1 778</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/12.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Набор инструментов Makita 42 предмета</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>1 778</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/13.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Ключи из нержавеюще стали Hatter 5 штук</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>985</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	{{> pros }}

	{{> subscribe }}

	{{> footer }}

</div>