---
title: Новости
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<nav class="nav-path">
		<div class="page__center">
			<a href="#">Главная</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Корзина</a>
		</div>
	</nav>
    
    <div class="page__center">
        <div class="layout-order__center">
            <div class="layout-order__main">

                <section class="order-complete">

                    <h1 class="h1">Заказ успешно сформирован</h1>

                    <div class="form-panel">
                        <div class="form-panel__header">

                            <div class="form-panel__title">Информация о заказе</div>
                            
                            <div class="form-panel__ctrl">
                                <a href="#" class="#">
                                    <i class="icon-print"></i>
                                </a>
                                <a href="#" class="#">
                                    <i class="icon-send-email"></i>
                                </a>
                                <a href="#" class="#">
                                    <i class="icon-download"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-panel__body">
                            
                            <div class="form-panel__item">
                                <label class="form-panel__label">№ заказа</label>
                                <input type="text" class="input input-default input--full" value="11325" readonly>
                            </div>

                            <div class="form-panel__item">
                                <label class="form-panel__label">Дата и время</label>
                                <input type="text" class="input input-default input--full" value="07.06.2021 13:29:21" readonly>
                            </div>

                        </div>

                    </div>
                    
                    <div class="order-complete__actions">
                        <div><a href="#" class="button button-green">Перейти в личный кабинет</a></div>
                        <div><a href="#" class="button button-outline-green">Продолжить покупки</a></div>
                    </div>

                </section>

            </div>
            <div class="layout-order__side">


            </div>
        </div>
    </div>

    <section class="goods goods--nowrap">
        <div class="page__center">
            <div class="goods__header">
                <h3 class="h1 mb-0">В избранном</h3>
                <a href="#" class="button button-outline-black button--size-1">
                    Смотреть все
                </a>
            </div>
            <div class="goods__window" data-simplebar>
                <div class="goods__list ">
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/14.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">
                                        Теплоизоляционная плита ПЕНОПЛЭКС Комфорт 50 мм
                                    </a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <div class="goods__price"><span>284</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/15.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Пена монтажная Формула мастера  350г</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <div class="goods__price"><span>146</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                            <div class="goods__labels">
                                <div class="goods__labels__item goods__labels__item--orange">
                                    Выбор покупателя
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/16.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 136-681</div>
                                <div class="goods__title">
                                    <a href="#">Дрель Skills DP 4010</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>3 450</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                            <div class="goods__labels">
                                <div class="goods__labels__item goods__labels__item--green">
                                    Товар месяца
                                </div>
                                <div class="goods__labels__item goods__labels__item--red">
                                    Скидка
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/17.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Мойка кухонная MILENA 50DG</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>2 787</span> ₽ / шт</div>
                                <button class="button button-outline-orange button--full">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">Под заказ</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/18.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Смеситель для ванны Valta D1109500</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>5 120</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                            <div class="goods__labels">
                                <div class="goods__labels__item goods__labels__item--green">
                                    Выбор покупателя
                                </div>
                                <div class="goods__labels__item">
                                    Только онлайн
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="goods goods--nowrap">
        <div class="page__center">
            <div class="goods__header">
                <h3 class="h1 mb-0">Вам понадобится</h3>
                <a href="#" class="button button-outline-black button--size-1">
                    Смотреть все
                </a>
            </div>
            <div class="goods__window" data-simplebar>
                <div class="goods__list">
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/9.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Набор бит Boss PP-963</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <div class="goods__price"><span>1 740</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/10.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Ящик для инструментов ReWalt 40”</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(23)</div>
                                </div>
                                <div class="goods__price"><span>2 120</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/11.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 136-681</div>
                                <div class="goods__title">
                                    <a href="#">Насадки Boss WS96-04 8 штук</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>1 778</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/12.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Набор инструментов Makita 42 предмета</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>1 778</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="goods__col">
                        <div class="goods__item">
                            <a href="#" class="goods__image goods__image--gray">
                                <div><img src="images/temp/goods/1/13.png" alt=""></div>
                            </a>
                            <div class="goods__desc">
                                <div class="goods__code">Артикул: 134-331</div>
                                <div class="goods__title">
                                    <a href="#">Ключи из нержавеюще стали Hatter 5 штук</a>
                                </div>
                                <div class="goods__rate">
                                    <div class="goods__rate__stars">
                                        <div style="width: 68%;"></div>
                                    </div>
                                    <div class="goods__rate__count">(21)</div>
                                </div>
                                <div class="goods__price"><span>985</span> ₽ / шт</div>
                                <button class="button button-outline-green button--full button--size-2">
                                    <span class="spinner-border"></span>
                                    <span class="button__text">В корзину</span>
                                </button>
                            </div>
                            <div class="goods__ctrl">
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-heart"></i>
                                </button>
                                <button type="button" class="goods__ctrl__item">
                                    <i class="icon-stats"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	{{> pros }}

	{{> subscribe }}

	{{> footer }}

</div>