---
title: Оформление заказа
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<div class="desktop-only">
        {{> nav-path }}
    </div>
    
    <form action="#">
        <div class="page__center">

            <div class="layout-order__center">
                <div class="layout-order__main">

                    <section>

                        {{!--  step 1 --}}
                        <div class="form-panel form-panel--col-6">
                            <div class="form-panel__header">
                                <div class="form-panel__header__title">Контактная информация</div>
                                <div class="form-panel__header__step">Шаг 1 / 3</div>
                            </div>
                            <div class="form-panel__body">
                                <div class="form-panel__row">
                                    <div class="form-panel__item">
                                        <label class="form-panel__label">Имя</label>
                                        <input type="text" class="input-classic" placeholder="Ваше имя">
                                    </div>
                                    
                                    <div class="form-panel__item">
                                        <label class="form-panel__label">Фамилия</label>
                                        <input type="text" class="input-classic" placeholder="Ваша фамилия">
                                    </div>
                                    
                                    <div class="form-panel__item">
                                        <label class="form-panel__label">Номер телефона</label>
                                        <input type="text" class="input-classic" placeholder="Ваш номер телефона">
                                    </div>
                                    
                                    <div class="form-panel__item">
                                        <label class="form-panel__label">E-mail</label>
                                        <input type="text" class="input-classic" placeholder="Ваш e-mail">
                                    </div>
                                    
                                    <div class="form-panel__item">
                                        <label class="form-panel__label">Адрес</label>
                                        <input type="text" class="input-classic" placeholder="Ваш адрес">
                                    </div>
                                </div>
                            </div>

                        </div>
                        {{!-- /step 1 --}}

                        {{!--  step 2 --}}
                        <div class="form-panel">
                            <div class="form-panel__header">
                                <div class="form-panel__header__title">Доставка</div>
                                <div class="form-panel__header__step">Шаг 2 / 3</div>
                            </div>
                            <div class="form-panel__body">

                                <div class="form-panel__item">
                                    <div class="form-panel__label form-panel__label--check">Выберите способ доставки</div>
                                    <div class="form-panel__check">
                                        <label class="check-default check-default--radio">
                                            <div class="check-default__input"><input type="radio" name="radio1" checked></div>
                                            <div class="check-default__text">Доставка</div>
                                        </label>
                                        <label class="check-default check-default--radio">
                                            <div class="check-default__input"><input type="radio" name="radio1"></div>
                                            <div class="check-default__text">Самовывоз</div>
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="form-panel__item">
                                    <div class="form-panel__label form-panel__label--check">Выберите дату доставки</div>
                                    <div class="form-panel__check">
                                        <label class="check-default check-default--radio">
                                            <div class="check-default__input"><input type="radio" name="radio2"></div>
                                            <div class="check-default__text">Сегодня</div>
                                        </label>
                                        <label class="check-default check-default--radio">
                                            <div class="check-default__input"><input type="radio" name="radio2"></div>
                                            <div class="check-default__text">Завтра</div>
                                        </label>
                                        <label class="check-default check-default--radio">
                                            <div class="check-default__input"><input type="radio" name="radio2" checked></div>
                                            <div class="check-default__text">Выбрать</div>
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="form-panel__item">
                                    <div class="form-panel__date">
                                        <div class="input-datepicker">
                                            <input type="text" class="input-datepicker__input" placeholder="ДД.ММ.ГГ">
                                            <i class="icon-calendar input-datepicker__icon"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="page-order-steps__total">
                                    <strong>Стоимость доставки для Вас составит:</strong> 600 ₽. 
                                    <br>Получателю необходимо иметь при себе документ удостоверяющий личность,
                                    где имя и фамилия получателя совпадает с Именем и Фамилией указанными выше. 
                                </div>

                                <div class="form-panel__item">
                                    <label class="form-panel__label">Комментарий к доставке</label>
                                    <textarea class="input-classic" placeholder="Ваш комментарий к доставке"></textarea>
                                </div>

                            </div>
                        </div>
                        {{!-- /step 2 --}}

                        {{!--  step 3 --}}
                        <div class="form-panel">
                            <div class="form-panel__header">
                                <div class="form-panel__header__title">Способ оплаты</div>
                                <div class="form-panel__header__step">Шаг 3 / 3</div>
                            </div>
                            <div class="form-panel__body">
                                
                                <div class="form-panel__item">
                                    <div class="form-panel__check">
                                        <label class="check-default check-default--radio">
                                            <div class="check-default__input"><input type="radio" name="radio3" checked></div>
                                            <div class="check-default__text">Безналичная оплата при получении</div>
                                        </label>
                                        <label class="check-default check-default--radio">
                                            <div class="check-default__input"><input type="radio" name="radio3"></div>
                                            <div class="check-default__text">Онлайн</div>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-panel__item">
                                    <div class="form-card">
                                        <div class="form-card__icons">
                                            <img src="images/footer/pay-cards/mir.svg" alt="Мир">
                                            <img src="images/footer/pay-cards/visa.svg" alt="Visa">
                                            <img src="images/footer/pay-cards/maestro.svg" alt="Maestro">
                                            <img src="images/footer/pay-cards/master-card.svg" alt="MasterCard">
                                        </div>
                                        <div class="form-card__fields">
                                            <div class="form-card__item form-card__item--num">
                                                <label class="form-panel__label">Номер карты</label>
                                                <input type="text" class="input-classic" placeholder="Номер карты">
                                            </div>
                                            <div class="form-card__item form-card__item--name">
                                                <label class="form-panel__label">Владелец карты</label>
                                                <input type="text" class="input-classic" placeholder="Номер карты">
                                            </div>
                                            <div class="form-card__item form-card__item--date">
                                                <label class="form-panel__label">Дата</label>
                                                <input type="text" class="input-classic" placeholder="__/__/__">
                                            </div>
                                            <div class="form-card__item form-card__item--cvc">
                                                <label class="form-panel__label">CVC</label>
                                                <input type="password" class="input-classic" placeholder="CVC">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-panel__item">
                                    <div class="form-panel__label form-panel__label--check">Баллы</div>
                                    <div class="form-panel__check">
                                        <label class="check-default check-default--radio">
                                            <div class="check-default__input"><input type="radio" name="radio4"></div>
                                            <div class="check-default__text">Применить списание баллов</div>
                                        </label>
                                        <label class="check-default check-default--radio">
                                            <div class="check-default__input"><input type="radio" name="radio4" checked></div>
                                            <div class="check-default__text">Не применять</div>
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        {{!-- /step 3 --}}

                    
                    </section>

                </div>
                <div class="layout-order__side">

                    {{> checkout-cart }}
                    
                    <div class="desktop-only">

                        <div class="page-order-steps__apply-2">
                            <button type="button" class="button button-green">Оформить заказ</button>
                        </div>

                        {{> promo-best }}
                    </div>

                </div>

                
            </div>
        
            <div class="page-order-steps__agree">
                <label class="check-default">
                    <div class="check-default__input"><input type="checkbox"></div>
                    <div class="check-default__text">Я согласен на <a href="#">обработку персональных данных</a></div>
                </label>
            </div>

            <div class="page-order-steps__apply">
                <button type="button" class="button button-green">Завершить оформление</button>
            </div>

            <div class="mobile-only">
                {{> promo-best }}
            </div>
        </div>
    </form>

    <div class="gap-30"></div>

	{{> benefits }}

	{{> subscribe }}

	{{> footer }}

    {{> nav-bottom }}

</div>