---
title: Оформление заказа
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<nav class="nav-path">
		<div class="page__center">
			<a href="#">Главная</a>
            <i class="icon-arrow-right"></i>
            <span>Корзина</span>
		</div>
	</nav>
    
    <div class="page__center">
        <div class="layout-order__center">
            <div class="layout-order__main">

                <section class="order-complete">

                    <h1 class="h1">Заказ успешно сформирован</h1>

                    <div class="form-panel">
                        <div class="form-panel__header">

                            <div class="order-complete__title">Информация о заказе</div>
                            
                            <div class="order-complete__menu">
                                <a href="#" class="order-complete__menu__item">
                                    <i class="icon-print"></i>
                                </a>
                                <a href="#" class="order-complete__menu__item">
                                    <i class="icon-email"></i>
                                </a>
                                <a href="#" class="order-complete__menu__item">
                                    <i class="icon-download"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-panel__body">
                            
                            <div class="order-complete__list">

                                <div class="order-complete__item">
                                    <label class="form-panel__label">№ заказа</label>
                                    <input type="text" class="readonly-input order-complete__number" value="11325" readonly>
                                </div>

                                <div class="order-complete__item">
                                    <label class="form-panel__label">Дата и время</label>
                                    <input type="text" class="readonly-input order-complete__date" value="07.06.2021 13:29:21" readonly>
                                </div>

                            </div>

                        </div>

                    </div>
                    
                    <div class="order-complete__actions">
                        <a href="#" class="button button-green">Перейти в личный кабинет</a>
                        <a href="#" class="button button-outline-green">Продолжить покупки</a>
                    </div>

                </section>

            </div>
            <div class="layout-order__side">


            </div>
        </div>
    </div>

    <div class="gap-30"></div>

	{{> pros }}

	{{> subscribe }}

	{{> footer }}

</div>