---
title: Оформление заказа
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<nav class="nav-path">
		<div class="page__center">
			<a href="#">Главная</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Корзина</a>
		</div>
	</nav>
    
    <div class="page__center">
        <div class="layout-order__center">
            <div class="layout-order__main">

                <section class="scale-mobile">

                    <h1 class="h1">Оформление заказа</h1>

                    {{!--  step 1 --}}
                    <form action="#" class="form-panel">
                        <div class="form-panel__header">
                            <div class="form-panel__title">Контактная информация</div>
                            <div class="form-panel__step">Шаг 1 / 4</div>
                        </div>
                        <div class="form-panel__body">
                            <div class="form-panel__list form-panel__row">
                                <div class="form-panel__item form-panel__col form-panel__col--6">
                                    <label class="form-panel__label">Имя</label>
                                    <input type="text" class="input input-default input--full" placeholder="Ваше имя">
                                </div>
                                
                                <div class="form-panel__item form-panel__col form-panel__col--6">
                                    <label class="form-panel__label">Фамилия</label>
                                    <input type="text" class="input input-default input--full" placeholder="Ваша фамилия">
                                </div>
                                
                                <div class="form-panel__item form-panel__col form-panel__col--6">
                                    <label class="form-panel__label">Номер телефона</label>
                                    <input type="text" class="input input-default input--full" placeholder="Ваш номер телефона">
                                </div>
                                
                                <div class="form-panel__item form-panel__col form-panel__col--6">
                                    <label class="form-panel__label">E-mail</label>
                                    <input type="text" class="input input-default input--full" placeholder="Ваш e-mail">
                                </div>
                                
                                <div class="form-panel__item form-panel__col">
                                    <label class="form-panel__label">Адрес</label>
                                    <input type="text" class="input input-default input--full" placeholder="Ваш адрес">
                                </div>
                            </div>
                        </div>

                    </form>
                    {{!-- /step 1 --}}

                    {{!--  step 2 --}}
                    <form action="#" class="form-panel">
                        <div class="form-panel__header">
                            <div class="form-panel__title">Выберите способ доставки</div>
                            <div class="form-panel__step">Шаг 2 / 4</div>
                        </div>
                        <div class="form-panel__body">

                            <div class="form-panel__list">
                                <div class="form-panel__item">
                                    <label class="form-panel__check form-panel__check--radio">
                                        <input type="radio" name="radio1" checked>
                                        <span>Доставка</span>
                                    </label>
                                    <label class="form-panel__check form-panel__check--radio">
                                        <input type="radio" name="radio1">
                                        <span>Доставка на основе зон в Яндекс картах (Архангельск до 5 000 ₽ )</span>
                                    </label>
                                    <label class="form-panel__check form-panel__check--radio">
                                        <input type="radio" name="radio1">
                                        <span>Самовывоз</span>
                                    </label>
                                </div>
                                
                                <div class="form-panel__sep"></div>

                                <div class="form-panel__item mt-0">
                                    <div class="form-panel__label-lg">Выберите дату доставки</div>
                                    <label class="form-panel__check form-panel__check--radio">
                                        <input type="radio" name="radio2" checked>
                                        <span>Сегодня</span>
                                    </label>
                                    <label class="form-panel__check form-panel__check--radio">
                                        <input type="radio" name="radio2">
                                        <span>Завтра</span>
                                    </label>
                                    <label class="form-panel__check form-panel__check--radio">
                                        <input type="radio" name="radio2">
                                        <span>Выбрать</span>
                                    </label>
                                </div>
                                
                                <div class="form-panel__date">
                                    <div class="input-datepicker">
                                        <input type="text" class="input input-default input--full" placeholder="ДД.ММ.ГГ">
                                        <i class="icon-calendar"></i>
                                    </div>
                                    
                                </div>

                                <div class="form-panel__total">
                                    Стоимость доставки составит: <span>650 <span>₽</span></span>
                                </div>
                                
                                <div class="form-panel__sep"></div>

                                <div class="form-panel__attn">
                                    <span>Важно:</span> получателю необходимо иметь при себе документ удостоверяющий личность.
                                </div>
                            </div>

                        </div>
                    </form>
                    {{!-- /step 2 --}}

                    {{!--  step 3 --}}
                    <form action="#" class="form-panel">
                        <div class="form-panel__header">
                            <div class="form-panel__title">Выберите способ оплаты</div>
                            <div class="form-panel__step">Шаг 3 / 4</div>
                        </div>
                        <div class="form-panel__body">
                            
                            <div class="form-panel__list">
                                <div class="form-panel__item">
                                    <label class="form-panel__check form-panel__check--radio">
                                        <input type="radio" name="radio3" checked>
                                        <span>Безналичная оплата при получении</span>
                                    </label>
                                    <label class="form-panel__check form-panel__check--radio">
                                        <input type="radio" name="radio3">
                                        <span>Онлайн</span>
                                    </label>
                                </div>

                                <div class="form-panel__item">
                                    <div class="form-card">
                                        <div class="form-card__icons">
                                            <img src="images/footer/pay-cards/mir.svg" alt="Мир">
                                            <img src="images/footer/pay-cards/visa.svg" alt="Visa">
                                            <img src="images/footer/pay-cards/maestro.svg" alt="Maestro">
                                            <img src="images/footer/pay-cards/master-card.svg" alt="MasterCard">
                                        </div>
                                        <div class="form-card__fields">
                                            <div class="form-card__item form-card__item--num">
                                                <label class="form-panel__label">Номер карты</label>
                                                <input type="text" class="input input-default input--full" placeholder="Номер карты">
                                            </div>
                                            <div class="form-card__item form-card__item--name">
                                                <label class="form-panel__label">Владелец карты</label>
                                                <input type="text" class="input input-default input--full" placeholder="Номер карты">
                                            </div>
                                            <div class="form-card__item form-card__item--date">
                                                <label class="form-panel__label">Дата</label>
                                                <input type="text" class="input input-default input--full" placeholder="__/__/__">
                                            </div>
                                            <div class="form-card__item form-card__item--cvc">
                                                <label class="form-panel__label">CVC</label>
                                                <input type="password" class="input input-default input--full" placeholder="CVC">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-panel__item">
                                    <div class="form-panel__label-lg">Бонусы</div>
                                    <label class="form-panel__check">
                                        <input type="checkbox">
                                        <span></span>Применить бонусы</span>
                                    </label>
                                </div>
                            </div>

                        </div>

                    </form>
                    {{!-- /step 3 --}}

                    {{!--  step 4 --}}
                    <form action="#" class="form-panel">
                        <div class="form-panel__header">
                            <div class="form-panel__title">Комментарий к заказу</div>
                            <div class="form-panel__step">Шаг 4 / 4</div>
                        </div>
                        <div class="form-panel__body">

                            <div class="form-panel__list">

                                <div class="form-panel__item">
                                    <textarea class="input input-default input--full" placeholder="Ваш комментарий"></textarea>
                                </div>

                                <div class="form-panel__item">
                                    <label class="form-panel__check form-panel__check--agree">
                                        <input type="checkbox">
                                        <span>Я согласен с <a href="#" target="_blank">публичной офертой</a></span>
                                    </label>
                                    <label class="form-panel__check form-panel__check--agree">
                                        <input type="checkbox">
                                        <span>Я согласен на <a href="#" target="_blank">обработку персональных данных</a></span>
                                    </label>
                                </div>

                                <div class="form-panel__actions">
                                    <button type="button" class="button button-green">
                                        Завершить оформление
                                    </button>
                                    <button type="button" class="button button-outline-green button--light">
                                        Купить в 1 клик
                                    </button>
                                </div>
                            </div>
                           
                        </div>
                    </form>
                    {{!-- /step 4 --}}

                </section>

            </div>
            <div class="layout-order__side">

                {{> cart-total }}
                
                {{> promo-best-price }}

            </div>
        </div>
    </div>

    <div class="gap-30"></div>

	{{> pros }}

	{{> subscribe }}

	{{> footer }}

</div>