---
title: Аккумуляторная дрель-шуруповерт BossGSR 18V-60
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	{{> nav-path }}

    <div class="page__center">
        <article>

            <div class="h2">Аккумуляторная дрель-шуруповерт BossGSR 18V-60</div>

            {{> product-main }}
            
            <section class="nav-info mt-0 mb-0" id="nav-info">
                <nav class="nav-info__tabs nav-info__tabs--product" id="nav-info-tabs">
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab">Описание</a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab active">Характеристики</a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab">
                        <span>Отзывы</span> 
                        <span class="nav-info__title__count">5</span>
                    </a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab">Наличие в магазинах</a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab">Аксессуары</a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab">Документы</a>
                </nav>
                <div class="nav-info__data">
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-1">
                            <span>Описание</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-1">
                            <div class="nav-info__list">
                                
                                {{> product-article }}

                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group active">
                        <a href="#" class="nav-info__title" data-bs-toggle="collapse" data-bs-target="#nav-info-2">
                            <span>Характеристики</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse show" id="nav-info-2">
                            <div class="nav-info__list">
                                
                                {{> product-props }}
                                
                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-3">
                            <span>Отзывы</span>
                            <span class="nav-info__title__count">5</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-3">
                            <div class="nav-info__list">
                                
                                {{> product-reviews }}
                                
                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-4">
                            <span>Наличие в магазинах</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-4">
                            <div class="nav-info__list">
                                
                                {{> product-lorem }}
                                
                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-5">
                            <span>Аксессуары</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-5">
                            <div class="nav-info__list">
                                
                                {{> product-lorem }}

                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-6">
                            <span>Документы</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-6">
                            <div class="nav-info__list">
                                
                                {{> product-lorem }}

                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </article>

    </div>

    {{> slider-items-1 }}

    <section class="section">
        <div class="page__center">
            
            <div class="section__header">
                <h3 class="section__header__title">С этим товаром покупают</h3>
                <div class="section__header__link">
                    <a href="#" class="button-more">
                        Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                    </a>
                </div>
            </div>

            {{> slider-goods }}
            
        </div>
    </section>
	
	{{> benefits }}

	{{> subscribe }}

	{{> footer }}

    {{> nav-bottom }}

    {{> popup-gallery }}

</div>