---
title: Аккумуляторная дрель-шуруповерт BossGSR 18V-60
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<nav class="nav-path" id="nav-path">
		<div class="page__center">
			<a href="#">Инструмент</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Электро-бензоинструмент</a>
            <i class="icon-arrow-right"></i>
            <span>Дрели электрические, перфораторы</span>
		</div>
	</nav>

    <div class="page__center">
        <article>

            <div class="h2">Аккумуляторная дрель-шуруповерт BossGSR 18V-60</div>

            <div class="product">
                <div class="product__gallery scale-mobile">
                    <section class="gallery" id="gallery">
                        <div class="gallery__image">
                            <div class="gallery__image__default">
                                <img src="images/temp/gallery/1/1.webp" alt="">
                            </div>
                            <div class="gallery__image__zoomed" style="background-image: url('images/temp/gallery/1/1.webp');"></div>
                        </div>
                        <div class="gallery__nav">
                            <div class="gallery__nav__window" data-simplebar>
                                <div class="gallery__nav__list">
                                    <div class="gallery__nav__item active">
                                        <img src="images/temp/gallery/1/1.webp" alt="">
                                    </div>
                                    <div class="gallery__nav__item">
                                        <img src="images/temp/gallery/1/2.webp" alt="">
                                    </div>
                                    <div class="gallery__nav__item">
                                        <img src="images/temp/gallery/1/3.webp" alt="">
                                    </div>
                                    <div class="gallery__nav__item">
                                        <img src="images/temp/gallery/1/1.webp" alt="">
                                    </div>
                                    <div class="gallery__nav__item">
                                        <img src="images/temp/gallery/1/2.webp" alt="">
                                    </div>
                                    <div class="gallery__nav__item">
                                        <img src="images/temp/gallery/1/3.webp" alt="">
                                    </div>
                                    <div class="gallery__nav__item">
                                        <img src="images/temp/gallery/1/2.webp" alt="">
                                    </div>
                                    <div class="gallery__nav__item">
                                        <img src="images/temp/gallery/1/3.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="gallery__nav__prev">
                                <i class="icon-arrow-up"></i>
                            </a>
                            <a href="#" class="gallery__nav__next">
                                <i class="icon-arrow-down"></i>
                            </a>
                        </div>
                    </section>
                </div>
                <div class="product__props scale-mobile">
                    <section class="props props--short">
                        <h3 class="props__title">Характеристики</h3>

                        <div class="props__list">
                            <dl class="props__item">
                                <dt class="props__label">
                                    <span class="props__name">
                                        Тип <i class="icon-help-circle props__info js-tooltip" title="Перейти к товарам данной категории"></i>
                                    </span>
                                </dt>
                                <dd class="props__value">
                                    <a href="#" class="js-tooltip" title="Перейти к товарам данной категории">Дрель-шуруповерт</a>
                                </dd>
                            </dl>
                            <dl class="props__item">
                                <dt class="props__label">
                                    <span class="props__name">
                                        Вид питания
                                    </span>
                                </dt>
                                <dd class="props__value">
                                    Сменный аккумулятор
                                </dd>
                            </dl>
                            <dl class="props__item">
                                <dt class="props__label">
                                    <span class="props__name">
                                        Напряжение аккумулятора
                                    </span>
                                </dt>
                                <dd class="props__value">
                                    18 В
                                </dd>
                            </dl>
                            <dl class="props__item">
                                <dt class="props__label">
                                    <span class="props__name">
                                        Тип аккумулятора
                                    </span>
                                </dt>
                                <dd class="props__value">
                                    Li-ion
                                </dd>
                            </dl>
                            <dl class="props__item">
                                <dt class="props__label">
                                    <span class="props__name">
                                        Количество аккумуляторов в комплекте
                                    </span>
                                </dt>
                                <dd class="props__value">
                                    2
                                </dd>
                            </dl>
                            <dl class="props__item">
                                <dt class="props__label">
                                    <span class="props__name">
                                        Функциональные особенности
                                    </span>
                                </dt>
                                <dd class="props__value">
                                    Автоотключение при перегреве
                                </dd>
                            </dl>
                        </div>

                        <div class="props__see-all">
                            <a href="#">Смотреть все характеристики</a>
                        </div>
                        
                    </section>
                </div>
                <div class="product__order">
                    <section class="order">

                        <div class="order__code">Код товара: 600864243</div>

                        <div class="rating order__rating">
                            <div class="rating__stars">
                                <div style="width: 68%;"></div>
                            </div>
                            <div class="rating__count">(23)</div>
                        </div>

                        <div class="order__labels">
                            <div class="labels">
                                <div class="labels__red">Скидка</div>
                                <div class="labels__blue">Только онлайн</div>
                            </div>
                        </div>

                        <div class="order__price">
                            2 120 <span class="rubl">₽</span>
                        </div>

                        <div class="order__score">
                            <span class="order__score__value">+49</span> баллов на карту
                        </div>

                        <div class="order__buttons">
                            <button type="button" class='button button-green order__buttons__item'>В корзину</button>
                            <button type="button" class='button button-outline-green order__buttons__item'>Купить в 1 клик</button>
                        </div>

                        <div class="order__actions">
                            <button type="button" class="order__actions__button">
                                <i class="icon-heart"></i>
                                <span>В избранное</span>
                            </button>
                            <button type="button" class="order__actions__button">
                                <i class="icon-stats"></i>
                                <span>Сравнить</span>
                            </button>
                        </div>

                        <div class="order__info">
                            <div class="order__info__line">
                                <div>В наличии</div>
                                <div>25 шт.</div>
                            </div>
                            <div class="order__info__line">
                                <div>Доставка</div>
                                <div>завтра</div>
                            </div>
                            <div class="order__info__line">
                                <div>Самовывоз</div>
                                <div>сегодня</div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
            
            <section class="nav-info mt-0 mb-0" id="nav-info">
                <nav class="nav-info__tabs nav-info__tabs--product" id="nav-info-tabs">
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab">Описание</a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab ">Характеристики</a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab active">
                        <span>Отзывы</span> 
                        <span class="nav-info__title__count">5</span>
                    </a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab">Наличие в магазинах</a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab">Аксессуары</a>
                    <a href="#" class="nav-info__tabs__item js-nav-info-tab">Документы</a>
                </nav>
                <div class="nav-info__data">
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-1">
                            <span>Описание</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-1">
                            <div class="nav-info__list">
                                
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum nobis eveniet odio tenetur porro. Tempore consequuntur accusamus delectus libero a corrupti aspernatur, magni pariatur? Esse modi fugiat voluptates assumenda placeat.
                                
                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-2">
                            <span>Характеристики</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-2">
                            <div class="nav-info__list">
                                
                                {{> product-props }}
                                
                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group active">
                        <a href="#" class="nav-info__title " data-bs-toggle="collapse" data-bs-target="#nav-info-3">
                            <span>Отзывы</span>
                            <span class="nav-info__title__count">5</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse show" id="nav-info-3">
                            <div class="nav-info__list">
                                
                                {{> product-reviews }}
                                
                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-4">
                            <span>Наличие в магазинах</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-4">
                            <div class="nav-info__list">
                                
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quasi ea nobis. Similique cupiditate aspernatur, beatae non explicabo libero quaerat assumenda autem ab alias saepe cum nisi, modi, dolorum nemo?
                                
                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-5">
                            <span>Аксессуары</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-5">
                            <div class="nav-info__list">
                                
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, tenetur aut reprehenderit nihil amet qui blanditiis deleniti a distinctio voluptatum quod, accusamus illo et. Tenetur totam omnis vel delectus quidem.
                                
                            </div>
                        </div>
                    </div>
                    <div class="nav-info__group">
                        <a href="#" class="nav-info__title collapsed" data-bs-toggle="collapse" data-bs-target="#nav-info-6">
                            <span>Документы</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <div class="nav-info__crop collapse" id="nav-info-6">
                            <div class="nav-info__list">
                                
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, tenetur aut reprehenderit nihil amet qui blanditiis deleniti a distinctio voluptatum quod, accusamus illo et. Tenetur totam omnis vel delectus quidem.
                                
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </article>

        {{> promo-1 }}

    </div>

    <section class="section">
        <div class="page__center">
            
            <div class="section__header">
                <h3 class="section__header__title">Рекомендуем</h3>
                <div class="section__header__link">
                    <a href="#" class="button-more">
                        Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                    </a>
                </div>
            </div>

            {{> slider-goods }}
            
        </div>
    </section>
	
	{{> pros }}

	{{> subscribe }}

	{{> footer }}

</div>