.panel-call {
	width: 300px;

	&__input {
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__agree {
		margin-top: 10px;
		font-size: 15px;
		font-weight: normal;
	}

	&__submit {
		margin-top: 20px;
		margin-bottom: 14px;

		.button {
			width: 100%;
			padding: 10px 15px;
			border-width: 1px;
			font-size: 15px;
			font-weight: normal;
		}
	}
}
