.panel-city {
	width: 300/16 + em;

	&__item {
		position: relative;
		display: block;
		padding: 10/18 + em 16/18 + em;
		border-radius: 4/18 + em;
		font-size: 18/16 + em;

		&:hover {
			background: #f1f1f1;
		}

		&.active {
			color: #21a73f;

			&:before {
				content: "\e90c";
				font-family: "icomoon" !important;
				font-size: 16px;
				line-height: 1;
				position: absolute;
				top: 50%;
				right: 16/16 + em;
				margin-top: -0.5em;
			}
		}
	}
}
