.panel-search {
	width: 400px;

	&--hidden {
		display: none;
		position: absolute;
		top: 100%;
		margin-top: -10px;
		left: 0;
		width: 100%;
		min-width: 400px;
		z-index: 100;
	}

	&--active {
		display: block;
	}

	&__tips {
		&__item {
			transition: all 0.2s;
			display: block;
			padding: 10px 15px;
			border-radius: 5px;
			font-size: 18px;

			&:hover {
				background: #f1f1f1;
			}
		}
	}

	&__break {
		border-top: 1px solid #f1f1f1;
		margin: 15px -30px;
	}

	&__show-all {
		margin: 15px 0;
	}
}
