.panel-cart {
	width: 400px;

	&__see-all {
		margin: 20px 0;
	}

	&__info {
		margin: 20px 0;
		padding: 10/11 + em 12/11 + em;
		border-radius: 4px;
		background: #fafafa;
		font-size: 11px;
		line-height: 1.3;

		&__row {
			display: flex;
		}

		&__label {
			flex: 0 0 auto;
			margin-right: auto;
			width: 50%;
		}

		&__value {
			font-size: 13px;
			font-weight: 700;
		}
	}

	&__checkout {
		margin-bottom: 14px;
	}
}
