.panel-auth {
	width: 275/16 + em;

	&__body {
		padding: 30/16 + em;
	}

	&__desc {
		margin-bottom: 15/16 + em;
		font-size: 15/16 + em;
	}

	&__button {
		margin-top: 10/16 + em;

		.button {
			width: 100%;
			padding: 10/15 + em 15/15 + em;
			border-width: 1/15 + em;
			font-size: 15/16 + em;
			font-weight: normal;
		}
	}
}
