.panel-auth {
	width: 275px;

	&__body {
		padding: 30px;
	}

	&__desc {
		margin-bottom: 15px;
		font-size: 15px;
	}

	&__button {
		margin-top: 10px;

		.button {
			width: 100%;
			padding: 10px 15px;
			border-width: 1px;
			font-size: 15px;
			font-weight: normal;
		}
	}
}
