.panel {
	transition: margin 0.2s, opacity 0.2s;
	position: relative;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
		0px 4px 16px rgba(51, 51, 51, 0.08);

	&.hidden {
		position: absolute;
		z-index: 200;
		transform: translateX(-50%);
		display: none;
		margin-top: 40px;
		opacity: 0;
	}

	&.ready {
		display: block;
	}

	&.active {
		margin-top: 0;
		opacity: 1;
	}

	&__arrow {
		position: absolute;
		left: 50%;
		border: 1px solid #f1f1f1;
		width: 30px;
		height: 30px;
		margin-left: -15px;
		transform: rotate(45deg);
		background: #fff;
		top: -3px;
	}

	&__box {
		position: relative;
		border-radius: 4px;
		background: #fff;
	}

	&__header {
		border-bottom: 1px solid #f1f1f1;
		padding: 19px 30px;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
	}

	&__body {
		padding: 16px 30px;
	}
}
