/*! destyle.css v1.0.7 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm
   ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration)
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition)
   ========================================================================== */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom; }

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom; }

/* Forms
   ========================================================================== */
/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

[type='checkbox'] {
  /* 1 */
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox; }

[type='radio'] {
  /* 1 */
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  padding: 0;
  /* 1 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type='search'] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Table
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border; }

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */; } }

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */; } }

.icon {
  display: inline-block; }

.icon-sprite-png-svody {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 126px;
  height: 22px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-sprite-png-svody {
      background-image: url(../images/sprite@2x.png);
      background-size: 126px 22px; } }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-ExtraLight.eot");
  src: local("KievitPro-ExtraLight"), url("../fonts/KievitPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-ExtraLight.woff") format("woff"), url("../fonts/KievitPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Light.eot");
  src: local("KievitPro-Light"), url("../fonts/KievitPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Light.woff") format("woff"), url("../fonts/KievitPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Italic.eot");
  src: local("KievitPro-Italic"), url("../fonts/KievitPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Italic.woff") format("woff"), url("../fonts/KievitPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'KievitPro-Book';
  src: url("../fonts/KievitPro-Book.eot");
  src: local("KievitPro-Book"), url("../fonts/KievitPro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Book.woff") format("woff"), url("../fonts/KievitPro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Bold.eot");
  src: local("KievitPro-Bold"), url("../fonts/KievitPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Bold.woff") format("woff"), url("../fonts/KievitPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-ExtraBold.eot");
  src: local("KievitPro-ExtraBold"), url("../fonts/KievitPro-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-ExtraBold.woff") format("woff"), url("../fonts/KievitPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Black.eot");
  src: local("KievitPro-Black"), url("../fonts/KievitPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Black.woff") format("woff"), url("../fonts/KievitPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Medium.eot");
  src: local("KievitPro-Medium"), url("../fonts/KievitPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Medium.woff") format("woff"), url("../fonts/KievitPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Thin.eot");
  src: local("KievitPro-Thin"), url("../fonts/KievitPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Thin.woff") format("woff"), url("../fonts/KievitPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Regular.eot");
  src: local("KievitPro-Regular"), url("../fonts/KievitPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Regular.woff") format("woff"), url("../fonts/KievitPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none; }

*:focus {
  outline: none; }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.is-flipped-x {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1); }

body {
  font-family: "KievitPro", sans-serif;
  line-height: 1.2; }

img {
  max-width: 100%;
  height: auto; }

.page__center {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 25px;
  max-width: 1180px;
  margin: 0 auto; }

.footer {
  background: #21a73f;
  color: #fff; }
  .footer__contacts {
    text-align: center;
    padding: 40px 0; }
  .footer__call {
    -webkit-font-feature-settings: "pnum" on, "lnum" on;
            font-feature-settings: "pnum" on, "lnum" on; }
    .footer__call__phone {
      white-space: nowrap;
      font-size: 32px;
      font-weight: 700; }
      .footer__call__phone i {
        font-size: 0.75em;
        margin-right: 6px; }
    .footer__call__desc {
      font-size: 22px; }
  .footer__social {
    font-size: 0;
    margin: 25px 0; }
    .footer__social__link {
      display: inline-block;
      width: 70px;
      margin: 0 5px; }
      .footer__social__link img {
        width: 100%; }
  .footer__pay {
    margin-top: -10px; }
    .footer__pay__title {
      margin-bottom: 0.2em;
      font-size: 26px;
      font-weight: 500; }
    .footer__pay__cards {
      font-size: 0; }
      .footer__pay__cards img {
        vertical-align: middle;
        margin: 2px;
        width: 47px; }
  .footer__apps {
    margin-top: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .footer__apps__link {
      margin: 10px 5px 0 5px;
      width: 260px; }
      .footer__apps__link img {
        width: 100%; }
  .footer__author {
    margin: 30px 0;
    text-transform: uppercase;
    -webkit-font-feature-settings: "pnum" on, "lnum" on;
            font-feature-settings: "pnum" on, "lnum" on;
    font-size: 20px;
    font-weight: 700; }

@media (min-width: 992px) {
  .footer {
    padding: 55px 0; }
    .footer__center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
    .footer__contacts {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 230px;
              flex: 0 0 230px;
      max-width: 230px;
      padding: 0; }
    .footer__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding-top: 10px; }
      .footer__links__group {
        padding-left: 25px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      .footer__links__title {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 800; }
      .footer__links__list {
        font-size: 13px;
        font-weight: 500; }
        .footer__links__list div {
          margin-top: 12px; }
    .footer__call__phone {
      font-size: 21px; }
    .footer__call__desc {
      font-size: 15px;
      font-weight: 700; }
    .footer__social {
      margin: 11px 0; }
      .footer__social__link {
        width: 44px;
        margin: 0 3px; }
    .footer__pay {
      margin-top: -3px; }
      .footer__pay__title {
        font-size: 17px; }
      .footer__pay__cards img {
        margin: 1px;
        width: 30px; }
    .footer__author {
      margin: 15px 0;
      font-size: 13px; }
    .footer__apps {
      margin-top: -5px; }
      .footer__apps__link {
        margin-top: 5px;
        width: 120px; } }

.button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  display: inline-block;
  padding: 11px 15px;
  min-width: 90px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 700; }
  .button .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.4em;
    height: 1.4em;
    margin: -0.7em 0 0 -0.7em;
    display: none; }
  .button--disabled {
    background: #fafafa !important;
    border-color: #b2b3b3 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #b2b3b3 !important;
    cursor: default; }
  .button--loading .spinner-border {
    display: block; }
  .button--loading .button__text {
    opacity: 0; }
  .button--full {
    display: block;
    width: 100%; }

.button-green {
  background: #21a73f;
  color: #fff; }
  .button-green:hover, .button-green--hover {
    background: #007334; }
  .button-green:active, .button-green--active {
    background: #007334;
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3); }

.button-outline-green {
  border-color: #21a73f;
  color: #21a73f; }
  .button-outline-green:hover, .button-outline-green--hover {
    background: #21a73f;
    color: #fff; }
  .button-outline-green:active, .button-outline-green--active {
    background: #21a73f;
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
    color: #fff; }

.button-orange {
  background: #ef7f1a;
  color: #fff; }
  .button-orange:hover, .button-orange--hover {
    background: #ea5e20; }
  .button-orange:active, .button-orange--active {
    background: #ea5e20;
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3); }

.button-outline-orange {
  border-color: #ef7f1a;
  color: #ef7f1a; }
  .button-outline-orange:hover, .button-outline-orange--hover {
    background: #ef7f1a;
    color: #fff; }
  .button-outline-orange:active, .button-outline-orange--active {
    background: #ef7f1a;
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
    color: #fff; }

.error-404 {
  padding: 90px 0; }
  .error-404__left {
    display: none; }
  .error-404__right {
    text-align: center; }
  .error-404__h1 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700; }
  .error-404__links {
    max-width: 65%;
    margin: 0 auto; }
    .error-404__links__item {
      margin-top: 6px; }

@media (min-width: 768px) and (max-width: 991.98px) {
  .error-404__h1 {
    margin-bottom: 25px;
    font-size: 56px; }
  .error-404__desc {
    font-size: 32px; }
  .error-404__links__item {
    font-size: 24px;
    padding-bottom: 15px;
    padding-top: 15px; } }

@media (min-width: 992px) {
  .error-404__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .error-404__left {
    display: block; }
  .error-404__image {
    display: none; }
  .error-404__links {
    margin-top: 16px; } }
