@charset "UTF-8";
/*! destyle.css v1.0.7 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
@import url(../../node_modules/simplebar/dist/simplebar.css);
* {
  box-sizing: border-box; }

::before,
::after {
  box-sizing: inherit; }

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm
   ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration)
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition)
   ========================================================================== */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom; }

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom; }

/* Forms
   ========================================================================== */
/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

[type='checkbox'] {
  /* 1 */
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox; }

[type='radio'] {
  /* 1 */
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  padding: 0;
  /* 1 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type='search'] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Table
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.fade {
  transition: opacity 0.15s linear; }
  @media (prefers-reduced-motion: reduce) {
    .fade {
      transition: none; } }
  .fade:not(.show) {
    opacity: 0; }

.collapse:not(.show) {
  display: none; }

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }
  @media (prefers-reduced-motion: reduce) {
    .collapsing {
      transition: none; } }

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #2e2e2e; }

.hamburger-box {
  width: 26px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 26px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -8px; }

.hamburger-inner::after {
  bottom: -8px; }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; }

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

@media (max-width: 767.98px) {
  .hamburger-box {
    width: 20px;
    height: 16px; }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 20px;
    height: 3px; }
  .hamburger-inner::before {
    top: -7px; }
  .hamburger-inner::after {
    bottom: -7px; } }

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border; }

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */; } }

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */; } }

.icon {
  display: inline-block; }

.icon-sprite-png-svody {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 126px;
  height: 22px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-sprite-png-svody {
      background-image: url(../images/sprite@2x.png);
      background-size: 126px 22px; } }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-ExtraLight.eot");
  src: local("KievitPro-ExtraLight"), url("../fonts/KievitPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-ExtraLight.woff") format("woff"), url("../fonts/KievitPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Light.eot");
  src: local("KievitPro-Light"), url("../fonts/KievitPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Light.woff") format("woff"), url("../fonts/KievitPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Italic.eot");
  src: local("KievitPro-Italic"), url("../fonts/KievitPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Italic.woff") format("woff"), url("../fonts/KievitPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'KievitPro-Book';
  src: url("../fonts/KievitPro-Book.eot");
  src: local("KievitPro-Book"), url("../fonts/KievitPro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Book.woff") format("woff"), url("../fonts/KievitPro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Bold.eot");
  src: local("KievitPro-Bold"), url("../fonts/KievitPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Bold.woff") format("woff"), url("../fonts/KievitPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-ExtraBold.eot");
  src: local("KievitPro-ExtraBold"), url("../fonts/KievitPro-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-ExtraBold.woff") format("woff"), url("../fonts/KievitPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Black.eot");
  src: local("KievitPro-Black"), url("../fonts/KievitPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Black.woff") format("woff"), url("../fonts/KievitPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Medium.eot");
  src: local("KievitPro-Medium"), url("../fonts/KievitPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Medium.woff") format("woff"), url("../fonts/KievitPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Thin.eot");
  src: local("KievitPro-Thin"), url("../fonts/KievitPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Thin.woff") format("woff"), url("../fonts/KievitPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'KievitPro';
  src: url("../fonts/KievitPro-Regular.eot");
  src: local("KievitPro-Regular"), url("../fonts/KievitPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/KievitPro-Regular.woff") format("woff"), url("../fonts/KievitPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.simplebar-track.simplebar-horizontal {
  height: 2px;
  background: #f2f3f5; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  height: 2px;
  top: 0; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
  background: #21a73f;
  opacity: 1 !important; }

::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none; }

*:focus {
  outline: none; }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.is-flipped-x {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1); }

.text-left {
  text-align: left !important; }

body {
  background: #fafafa;
  min-width: 415px;
  font-family: "KievitPro", sans-serif;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  line-height: 1.2;
  color: #000; }

img {
  max-width: 100%;
  height: auto; }

a {
  transition: all 0.2s; }

.page__center {
  box-sizing: content-box;
  padding: 0 20px;
  max-width: 1180px;
  margin: 0 auto; }

.page__paper {
  padding: 15px;
  border: 2px solid #f2f3f5;
  border-radius: 4px;
  background: #fff; }

@media (max-width: 767.98px) {
  .page__paper--compact {
    padding: 10px; } }

@media (min-width: 768px) {
  .page__paper {
    padding: 30px; } }

.footer {
  background: #21a73f;
  color: #fff; }
  .footer__contacts {
    text-align: center;
    padding: 40px 0; }
  .footer__call__phone {
    white-space: nowrap;
    font-size: 32px;
    font-weight: 700; }
    .footer__call__phone i {
      font-size: 0.75em;
      margin-right: 6px; }
  .footer__call__desc {
    font-size: 22px; }
  .footer__social {
    font-size: 0;
    margin: 25px 0; }
    .footer__social__link {
      display: inline-block;
      width: 70px;
      margin: 0 5px; }
      .footer__social__link img {
        width: 100%; }
  .footer__pay {
    margin-top: -10px; }
    .footer__pay__title {
      margin-bottom: 0.2em;
      font-size: 26px;
      font-weight: 500; }
    .footer__pay__cards {
      font-size: 0; }
      .footer__pay__cards img {
        vertical-align: middle;
        margin: 2px;
        width: 47px; }
  .footer__apps {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .footer__apps__link {
      margin: 10px 5px 0 5px;
      width: 260px; }
      .footer__apps__link img {
        width: 100%; }
  .footer__author {
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700; }

@media (max-width: 991.98px) {
  .footer__links__group {
    border-bottom: 1px solid rgba(250, 250, 250, 0.8);
    padding: 0 15px; }
  .footer__links__title {
    position: relative;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer; }
    .footer__links__title i {
      transition: all 0.2s;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 14px;
      margin-top: -0.5em; }
    .footer__links__title.collapsed i {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
  .footer__links__list > div {
    padding-bottom: 10px; }
  .footer__links__list > div > div {
    margin-bottom: 10px; } }

@media (min-width: 992px) {
  .footer {
    padding: 55px 0; }
    .footer__center {
      display: flex;
      flex-direction: row-reverse; }
    .footer__contacts {
      flex: 0 0 230px;
      max-width: 230px;
      padding: 0; }
    .footer__links {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      padding-top: 10px; }
      .footer__links__group {
        padding-left: 25px;
        margin-bottom: 30px;
        flex-basis: 190px; }
      .footer__links__title {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 800; }
        .footer__links__title i {
          display: none; }
      .footer__links__list {
        display: block !important;
        height: auto !important;
        font-size: 13px;
        font-weight: 500; }
        .footer__links__list div {
          margin-top: 12px; }
        .footer__links__list a:hover {
          border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .footer__call__phone {
      font-size: 21px; }
    .footer__call__desc {
      font-size: 15px;
      font-weight: 700; }
    .footer__social {
      margin: 11px 0; }
      .footer__social__link {
        width: 44px;
        margin: 0 3px; }
    .footer__pay {
      margin-top: -3px; }
      .footer__pay__title {
        font-size: 17px; }
      .footer__pay__cards img {
        margin: 1px;
        width: 30px; }
    .footer__author {
      margin: 15px 0;
      font-size: 13px; }
    .footer__apps {
      margin-top: -5px; }
      .footer__apps__link {
        margin-top: 5px;
        width: 120px; } }

.button {
  transition: all 0.2s;
  position: relative;
  display: inline-block;
  padding: 11px 15px;
  min-width: 90px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 700; }
  .button .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.4em;
    height: 1.4em;
    margin: -0.7em 0 0 -0.7em;
    display: none; }
  .button--disabled {
    background: #fafafa !important;
    border-color: #b2b3b3 !important;
    box-shadow: none !important;
    color: #b2b3b3 !important;
    cursor: default; }
  .button--loading .spinner-border {
    display: block; }
  .button--loading .button__text {
    opacity: 0; }
  .button--full {
    display: block;
    width: 100%; }
  .button--small {
    padding: 7px 10px;
    font-weight: 400;
    font-size: 12px; }

.button-green {
  background: #21a73f;
  color: #fff; }
  .button-green:hover, .button-green--hover {
    background: #007334; }
  .button-green:active, .button-green--active {
    background: #007334;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3); }

.button-outline-green {
  border-color: #21a73f;
  color: #21a73f; }
  .button-outline-green:hover, .button-outline-green--hover {
    background: #21a73f;
    color: #fff; }
  .button-outline-green:active, .button-outline-green--active {
    background: #21a73f;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
    color: #fff; }

.button-orange {
  background: #ef7f1a;
  color: #fff; }
  .button-orange:hover, .button-orange--hover {
    background: #ea5e20; }
  .button-orange:active, .button-orange--active {
    background: #ea5e20;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3); }

.button-outline-orange {
  border-color: #ef7f1a;
  color: #ef7f1a; }
  .button-outline-orange:hover, .button-outline-orange--hover {
    background: #ef7f1a;
    color: #fff; }
  .button-outline-orange:active, .button-outline-orange--active {
    background: #ef7f1a;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
    color: #fff; }

.button-outline-black {
  border-color: #2e2e2e;
  color: #2e2e2e; }
  .button-outline-black:hover, .button-outline-black--hover {
    background: #2e2e2e;
    color: #fff; }
  .button-outline-black:active, .button-outline-black--active {
    background: #2e2e2e;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
    color: #fff; }

.input {
  transition: all 0.2s;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px; }

.input--full {
  display: block;
  width: 100%; }

.input-default {
  padding: 11px 10px;
  border-color: #e7e7e8;
  background: #fafafa;
  color: #727271; }
  .input-default:focus {
    border-color: #b2b3b3; }
  .input-default::-webkit-input-placeholder {
    color: #b2b3b3; }
  .input-default::-moz-placeholder {
    color: #b2b3b3; }
  .input-default::-ms-input-placeholder {
    color: #b2b3b3; }
  .input-default::placeholder {
    color: #b2b3b3; }

.error-404 {
  margin-top: 20px;
  padding: 75px 0; }
  .error-404__left {
    display: none; }
  .error-404__right {
    text-align: center; }
  .error-404__h1 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700; }
  .error-404__links {
    max-width: 65%;
    margin: 0 auto; }
    .error-404__links > * {
      margin-top: 6px; }

@media (min-width: 768px) and (max-width: 991.98px) {
  .error-404 {
    margin: 75px 0; }
    .error-404__h1 {
      margin-bottom: 25px;
      font-size: 56px; }
    .error-404__desc {
      font-size: 32px; }
    .error-404__links > * {
      font-size: 24px;
      padding-bottom: 15px;
      padding-top: 15px; } }

@media (min-width: 992px) {
  .error-404 {
    margin-top: 35px;
    margin-bottom: -35px; }
    .error-404__center {
      display: flex;
      align-items: center; }
    .error-404__left, .error-404__right {
      display: block;
      flex: 0 0 50%;
      padding: 0 15px; }
    .error-404__right__image {
      display: none; }
    .error-404__links {
      margin-top: 16px; } }

.subscribe {
  padding-top: 60px;
  padding-bottom: 30px;
  background: #fff; }
  .subscribe__h1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .subscribe__h1__icon {
      flex: 0 0 11%;
      min-width: 40px;
      max-width: 80px; }
      .subscribe__h1__icon img {
        width: 100%; }
    .subscribe__h1__text {
      padding-left: 20px;
      font-size: 19px;
      font-weight: 700; }
  .subscribe__submit {
    margin-top: 10px; }

@media (max-width: 767.98px) {
  .subscribe__input {
    padding-top: 16px;
    padding-bottom: 16px; } }

@media (max-width: 991.98px) {
  .subscribe__button {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 19px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .subscribe {
    padding-bottom: 50px;
    padding-top: 70px; }
    .subscribe__center {
      padding: 0 20px; }
    .subscribe__h1 {
      margin-bottom: 40px; }
      .subscribe__h1__text {
        padding-left: 35px;
        font-size: 24px; }
    .subscribe__input {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 27px; } }

@media (min-width: 992px) {
  .subscribe__center {
    display: flex;
    align-items: center;
    padding: 0 20px; }
  .subscribe__h1 {
    flex: 0 1 auto;
    margin-bottom: 0; }
    .subscribe__h1__icon {
      max-width: 40px; }
    .subscribe__h1__text {
      font-size: 24px;
      font-weight: 400; }
  .subscribe__form {
    position: relative;
    flex: 1 0 auto;
    padding-left: 20px; }
  .subscribe__submit {
    margin: 5px 5px 0 0;
    position: absolute;
    right: 0;
    top: 0; }
  .subscribe__button {
    min-width: 150px;
    padding-bottom: 6px;
    padding-top: 6px; } }

@media (min-width: 1200px) {
  .subscribe {
    padding-top: 0;
    margin-top: -10px; } }

.advantages {
  padding: 10px 0;
  background: #fff; }
  .advantages__center {
    position: relative; }
  .advantages__see-all {
    position: absolute;
    right: 0;
    top: 5px; }
  .advantages__h1 {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 700;
    color: #2e2e2e; }
  .advantages__window {
    overflow: auto;
    margin: 0 -20px; }
  .advantages__list {
    display: flex;
    margin-bottom: 30px; }
  .advantages__item {
    flex: 0 0 260px;
    max-width: 260px;
    padding: 0 20px;
    text-align: center; }
    .advantages__item__icon {
      height: 90px; }
      .advantages__item__icon--return-box {
        padding-bottom: 10px; }
      .advantages__item__icon img {
        max-height: 100%;
        width: auto; }
    .advantages__item__title {
      font-size: 20px;
      font-weight: 500; }
    .advantages__item__desc {
      font-size: 15px; }
  .advantages__sep {
    border-left: 1px solid #727271;
    margin-top: 20px;
    height: 85px; }
  .advantages .simplebar-horizontal {
    margin: 0 20px; }

@media (min-width: 992px) {
  .advantages__h1 {
    margin-bottom: 20px;
    font-size: 32px; }
  .advantages__item__title {
    font-size: 18px; }
  .advantages__item__desc {
    font-size: 13px; } }

@media (min-width: 1200px) {
  .advantages__item {
    flex: 1 0 19%; } }

.header__topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 12px; }
  .header__topbar__left {
    display: flex;
    align-items: center;
    font-weight: 500; }
  .header__topbar__right {
    display: flex; }
    .header__topbar__right a {
      margin-left: 6px;
      color: #2e2e2e; }
      .header__topbar__right a:hover {
        border-bottom: 1px solid rgba(46, 46, 46, 0.5); }
  .header__topbar__social {
    display: flex;
    margin-left: 9px;
    font-size: 18px;
    line-height: 1; }
    .header__topbar__social a {
      margin-right: 4px;
      color: #2e2e2e; }

.header__main {
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  color: #2e2e2e; }
  .header__main__logo {
    flex: 0 0 120px;
    margin: 0 2%; }
    .header__main__logo img {
      width: 100%; }
  .header__main__city {
    max-width: 200px;
    margin: 0 3% 0 3%; }
    .header__main__city__label {
      font-weight: 700; }
    .header__main__city__name {
      font-size: 13px; }
      .header__main__city__name span {
        border-bottom: 1px solid rgba(46, 46, 46, 0.5); }
  .header__main__search-area {
    flex-grow: 1;
    position: relative;
    background: #f2f3f5;
    border-radius: 4px; }
    .header__main__search-area input {
      position: relative;
      background: transparent;
      padding-left: 35px; }
    .header__main__search-area button {
      position: absolute;
      right: 0;
      top: 0;
      padding-bottom: 6px;
      padding-top: 6px;
      margin: 5px 5px 0 0; }
    .header__main__search-area i {
      position: absolute;
      top: 0;
      left: 0;
      padding: 11px;
      font-size: 17px;
      color: #b2b3b3; }
  .header__main__call {
    padding: 0 20px;
    font-weight: 700; }
    .header__main__call__phone {
      white-space: nowrap;
      color: #21a73f; }
      .header__main__call__phone i {
        font-size: 0.9em;
        margin-right: 5px; }
    .header__main__call__time {
      font-size: 12px; }
  .header__main__own {
    display: flex;
    padding: 0 10px; }
    .header__main__own a {
      position: relative;
      padding: 13px; }
      .header__main__own a:before {
        content: " ";
        border-left: 1px solid #c4c4c4;
        position: absolute;
        height: 18px;
        top: 50%;
        margin-top: -9px;
        left: 0; }
      .header__main__own a:first-child:before {
        display: none; }
    .header__main__own i {
      font-size: 21px; }
    .header__main__own span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 3px;
      right: 3px;
      width: 18px;
      height: 18px;
      background: #ef7f1a;
      border-radius: 50%;
      font-size: 12px;
      font-weight: 700;
      color: #fff; }
  .header__main__burger, .header__main__search-btn {
    display: none; }

.header__menu {
  display: flex;
  background: #21a73f;
  border-radius: 5px;
  overflow: hidden; }
  .header__menu a {
    transition: all 0.3s;
    flex: 1 1;
    position: relative;
    border-right: 2px solid #fff;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff; }
    .header__menu a:last-child {
      border: none; }
  .header__menu i {
    margin-right: 5px;
    font-size: 12px;
    color: #007334; }

@media (max-width: 991.98px) {
  .header__topbar, .header__menu, .header__main__city, .header__main__search-area, .header__main__call, .header__main__own {
    display: none; }
  .header__main {
    margin: 0 -20px;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.04), 0px 0px 16px rgba(51, 51, 51, 0.08); }
    .header__main__logo {
      flex-grow: 1;
      text-align: center; }
      .header__main__logo img {
        max-width: 116px; }
    .header__main__burger {
      display: block;
      font-size: 0; }
    .header__main__search-btn {
      display: block;
      font-size: 24px; } }

@media (max-width: 767.98px) {
  .header__main__logo img {
    max-width: 100px; }
  .header__main__search-btn {
    font-size: 20px; } }

.table-areas {
  overflow: auto; }
  .table-areas table {
    min-width: 800px;
    width: 100%; }
  .table-areas__col-30 {
    width: 30%; }
  .table-areas__col-20 {
    width: 20%; }
  .table-areas td {
    padding: 10px 25px;
    height: 75px;
    border: 1px solid #f2f3f5;
    vertical-align: middle;
    text-align: center; }
  .table-areas__head td {
    background: #fafafa;
    font-weight: 700; }
  .table-areas__head--small td {
    font-size: 0.875em;
    font-weight: 500;
    height: auto; }
  .table-areas__desc {
    font-size: 0.625em; }
  .table-areas__total {
    font-size: 0.75em; }
  .table-areas__num {
    display: inline-block;
    width: 20px;
    padding: 1px 0;
    text-align: center;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 700;
    color: #fff; }
    .table-areas__num--1 {
      background: #21a73f; }
    .table-areas__num--2 {
      background: #f2c94c; }
    .table-areas__num--3 {
      background: #2d9cdb; }
    .table-areas__num--4 {
      background: #bb6bd9; }
    .table-areas__num--5 {
      background: #eb5757; }
  .table-areas__map {
    margin-top: 25px; }
    .table-areas__map__header {
      display: flex;
      margin-bottom: 8px; }
    .table-areas__map__title {
      flex-grow: 1;
      font-size: 1.25em;
      font-weight: 700; }
    .table-areas__map__demo {
      height: 250px;
      background: #f3f3f3; }

@media (min-width: 768px) and (max-width: 991.98px) {
  .table-areas {
    font-size: 14px; } }

@media (min-width: 992px) {
  .table-areas__map__demo {
    height: 400px; } }

.article *:last-child {
  margin-bottom: 0; }

.article *:first-child {
  margin-top: 0; }

.article h3,
.article ul,
.article ol,
.article p {
  margin: 1em 0; }

.article li {
  margin: 0.5em 0; }

.article h3 {
  font-size: 18px;
  font-weight: 700; }

.article ul li {
  position: relative;
  padding-left: 1.25em; }
  .article ul li:before {
    content: " ";
    width: 0.25em;
    height: 0.25em;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 0.5em;
    left: 0.4em; }

@media (min-width: 768px) {
  .article {
    font-size: 28px; }
    .article h3 {
      font-size: 36px; } }

@media (min-width: 992px) {
  .article {
    font-size: 14px; }
    .article h3 {
      font-size: 20px; } }

.no-image {
  position: relative;
  padding-top: 50%;
  background: #f2f3f5;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden; }
  .no-image > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .no-image > div > div {
      width: 30%;
      max-width: 260px;
      background: url(../images/no-image.svg) no-repeat 50% 50%;
      background-size: cover;
      border-radius: 0.3em;
      margin-bottom: 0.5em; }
      .no-image > div > div:before {
        content: " ";
        display: block;
        padding-top: 75%; }
    .no-image > div:after {
      content: "Изображение скоро появится"; }

@media (min-width: 768px) {
  .no-image {
    font-size: 28px; } }

.nav-path {
  margin: 20px 0; }
  .nav-path a {
    font-size: 14px;
    color: #2e2e2e; }
    .nav-path a:hover {
      border-bottom: 1px solid rgba(46, 46, 46, 0.5); }
  .nav-path i {
    margin: 0 5px;
    font-size: 10px; }

.nav-side {
  background: #fff;
  border: 1px solid #f2f3f5;
  border-radius: 4px;
  font-size: 13px; }
  .nav-side__group {
    border-top: 1px solid #f2f3f5; }
    .nav-side__group:first-child {
      border-top: 0; }
  .nav-side__title {
    position: relative;
    display: block;
    padding: 19px 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2e2e2e; }
    .nav-side__title.collapsed i {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    .nav-side__title i {
      transition: all 0.2s;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      position: absolute;
      top: 50%;
      margin-top: -0.5em;
      right: 13px; }
  .nav-side__list {
    padding-bottom: 15px; }
  .nav-side__link {
    display: block;
    padding: 6px 13px;
    font-weight: 500; }
    .nav-side__link.active, .nav-side__link:hover {
      color: #21a73f; }

@media (max-width: 991.98px) {
  .nav-info__data {
    margin: 10px 0; }
  .nav-info__group {
    margin: -2px 0; }
  .nav-info__title {
    position: relative;
    display: block;
    padding: 16px 18px;
    border: 2px solid #f2f3f5;
    border-radius: 4px;
    background: #fff;
    font-size: 20px;
    font-weight: 500;
    color: #21a73f; }
    .nav-info__title:before {
      content: " ";
      position: absolute;
      top: 0;
      height: 100%;
      left: -2px;
      border-left: 4px solid #21a73f;
      border-radius: 4px 0 0 4px; }
    .nav-info__title.collapsed {
      color: #2e2e2e; }
      .nav-info__title.collapsed:before {
        display: none; }
      .nav-info__title.collapsed i {
        -webkit-transform: rotate(0);
                transform: rotate(0); }
    .nav-info__title i {
      transition: all 0.2s;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      position: absolute;
      top: 50%;
      margin-top: -0.5em;
      right: 18px;
      font-size: 0.7em;
      color: #2e2e2e; }
  .nav-info__list {
    padding: 10px 0; }
  .nav-info__tabs {
    display: none; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .nav-info__data {
    margin: 20px 0; }
  .nav-info__title {
    font-size: 36px;
    padding: 18px 35px; }
    .nav-info__title i {
      right: 35px; } }

@media (min-width: 992px) {
  .nav-info__tabs {
    position: relative;
    z-index: 10;
    display: flex;
    border: 2px solid #f2f3f5;
    border-bottom: 0;
    background: #fff;
    margin: 20px 0 -22px 0;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center; }
    .nav-info__tabs__item {
      position: relative;
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding: 20px;
      border-bottom: 2px solid #f2f3f5;
      color: #2e2e2e; }
      .nav-info__tabs__item.active {
        border-color: #21a73f;
        color: #21a73f; }
  .nav-info__data {
    position: relative;
    margin: 20px 0; }
  .nav-info__group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0; }
    .nav-info__group.active {
      transition: all 0.2s;
      position: static;
      visibility: visible;
      opacity: 1; }
  .nav-info__crop {
    display: block !important; }
  .nav-info__title {
    display: none; } }

.content {
  padding-bottom: 20px; }
  .content__center {
    display: flex; }
  .content__side {
    display: none; }
  .content__image {
    overflow: hidden;
    border-radius: 4px;
    line-height: 1; }

@media (min-width: 992px) {
  .content__center {
    display: flex; }
  .content__side {
    display: block;
    flex: 0 0 230px; }
  .content__main {
    flex-grow: 1;
    padding-left: 17px; } }
