<section class="section benefits mb-0">
    <div class="page__center">
        <div class="benefits__center">

            <div class="section__header">
				<h3 class="section__header__title">Наши преимущества</h3>
				<div class="section__header__link">
					<a href="#" class="button-more">
						Смотреть все <i class="icon-arrow-right button-more__icon"></i>
					</a>
				</div>
			</div>

            <div class="section__hidden">

                <div class="page__outer section__window" data-simplebar>
                    <div class="benefits__list">
                        <div class="benefits__item">
                            <div class="benefits__item__icon">
                                <img src="images/benefits/shopping-cart.svg" alt="">
                            </div>
                            <div class="benefits__item__title">Широкий ассортимент</div>
                            <div class="benefits__item__desc">Свыше 300.000 товаров</div>
                        </div>
                        <div class="benefits__item">
                            <div class="benefits__item__icon">
                                <img src="images/benefits/insurance.svg" alt="">
                            </div>
                            <div class="benefits__item__title">Гарантия низких цен</div>
                            <div class="benefits__item__desc">Нашли дешевле - вернем 150% разницы</div>
                        </div>
                        <div class="benefits__item">
                            <div class="benefits__item__icon">
                                <img src="images/benefits/delivery-truck.svg" alt="">
                            </div>
                            <div class="benefits__item__title">Бесплатная доставка</div>
                            <div class="benefits__item__desc">Бесплатная доставка по городу при покупке от 3 000 рублей</div>
                        </div>
                        <div class="benefits__item">
                            <div class="benefits__item__icon">
                                <img src="images/benefits/real-estate.svg" alt="">
                            </div>
                            <div class="benefits__item__title">Скидки новоселам</div>
                            <div class="benefits__item__desc">Карта со скидкой до 5% на ассортимент</div>
                        </div>
                        <div class="benefits__item">
                            <div class="benefits__item__icon benefits__item__icon--return-box">
                                <img src="images/benefits/return-box.svg" alt="">
                            </div>
                            <div class="benefits__item__title">Легкий возврат</div>
                            <div class="benefits__item__desc">Возврат в течении 120 дней</div>
                        </div>
                    </div>
                </div>
            </div>       
               
        </div>
    </div>
</section>