

<div class="my-cards__wrapper scale-with-window">

    <section class="my-cards">

        <h3  class="my-cards__title">Карты</h3>

        <div class="my-cards__list">
            <div class="my-cards__item">
                <div class="my-cards__image"></div>
                <div class="my-cards__desc">
                    <div class="my-cards__name">Карта №1</div>
                    <div class="my-cards__number">Карточный счет *9439</div>
                    <nav class="my-cards__menu">
                        <a href="#">Закрыть</a>
                        <a href="#">Реквизиты</a>
                        <a href="#">Еще</a>
                    </nav>
                </div>
                <div class="my-cards__score">
                    <div class="my-cards__score__label">Количество баллов</div>
                    <div class="my-cards__score__value">136</div>
                </div>
            </div>
            <div class="my-cards__item my-cards__item--new">
                <div class="my-cards__image">
                    <i class="icon-plus-circle"></i>
                </div>
                <div class="my-cards__desc">
                    <div class="my-cards__add-new">Добавить карту</div>
                </div>
                <button type="button" class="my-cards__link"></button>
            </div>
        </div>

    </section>

    <section class="my-purchases">

        <h3  class="my-purchases__title">История покупок</h3>

        <div class="my-purchases__panel">
            <div class="my-purchases__header">
                <div class="my-purchases__select">
                    <select>
                        <option>Все магазины</option>
                        <option>Мега Архангельск</option>
                    </select>
                </div>
                <div class="my-purchases__select">
                    <select>
                        <option>7 дней</option>
                        <option>1 месяц</option>
                    </select>
                </div>
            </div>
            <div class="my-purchases__body">
                <div class="my-purchases__list">
                    <div class="my-purchases__item">
                        <div class="my-purchases__name">МЕГА Архангельск</div>
                        <div class="my-purchases__date">12 июня 2020, 17:58</div>
                        <div class="my-purchases__sum">–235</div>
                    </div>
                    <div class="my-purchases__item">
                        <div class="my-purchases__name">МЕГА Архангельск</div>
                        <div class="my-purchases__date">10 июня 2020, 10:20</div>
                        <div class="my-purchases__sum">–235</div>
                    </div>
                </div>
            </div>
            <div class="my-purchases__footer">
                <button type="button" class="my-purchases__show-more">
                    Показать еще
                </button>
            </div>
        </div>

    </section>

</div>

