
<aside class="cart-promo scale-with-window">
    <h3 class="cart-promo__title">
        Нашли дешевле?
        <br> Cнизим цену!
    </h3>
    <a href="#" class="button button-outline-white cart-promo__button">
        <span>Подробнее</span>
        <i class="icon-arrow-forward"></i>
    </a>
</aside>