<section class="cart-total">
    <h3  class="cart-total__title">Ваш заказ</h3>
    <div class="cart-total__body">
        <div class="cart-total__offer">При заказе от 3 000 <span class="rubl">₽</span> — доставка бесплатно!</div>
        
        <div class="cart-total__props">
            <div class="cart-total__prop">
                <div>Товаров</div>
                <div>3 шт</div>
            </div>
            <div class="cart-total__prop">
                <div>Общий вес</div>
                <div>8,5 кг</div>
            </div>
        </div>
        
        <div class="cart-total__props">
            <div class="cart-total__prop cart-total__prop--bonuses">
                <div>Товаров</div>
                <div>3 шт</div>
            </div>
            <div class="cart-total__prop cart-total__prop--total">
                <div>Общий вес</div>
                <div>8,5 кг</div>
            </div>
        </div>

        <div class="cart-total__coupon">
            <input type="text" class="input-classic" placeholder="Ваш промокод">
            <button type="button" class="button button-orange button--full">
                Применить
            </button>
        </div>

        <div class="cart-total__actions">
            <button type="button" class="button button-green button--full">
                Оформить заказ
            </button>
            <button type="button" class="button button-outline-green button--full">
                Купить в 1 клик
            </button>
        </div>
    </div>
</section>
