<section class="checkout-cart">
    <h3  class="checkout-cart__title">Ваш заказ</h3>
    <div class="checkout-cart__body">
        <div class="checkout-cart__offer">При заказе от 3 000 <span class="rubl">₽</span> — доставка бесплатно!</div>
        
        <div class="checkout-cart__props">
            <div class="checkout-cart__props__group">
                <div class="checkout-cart__props__item">
                    <div>Товаров</div>
                    <div>3 шт</div>
                </div>
                <div class="checkout-cart__props__item">
                    <div>Общий вес</div>
                    <div>8,5 кг</div>
                </div>
            </div>
            <div class="checkout-cart__props__group">
                <div class="checkout-cart__props__item checkout-cart__props__item--bonus">
                    <div>Бонусы</div>
                    <div>135</div>
                </div>
                <div class="checkout-cart__props__item">
                    <div>Итого</div>
                    <div>21 690 ₽ </div>
                </div>
            </div>
        </div>
        
        <div class="checkout-cart__coupon">
            <input type="text" class="input-classic" placeholder="Ваш промокод">
            <button type="button" class="button button-light-orange button--full">
                Применить
            </button>
        </div>
    </div>
</section>
