<section class="checkout-product">

    <div class="checkout-product__code">Код товара: 600864243</div>

    <div class="checkout-product__labels">
        <div class="labels">
            <div class="labels__green">Товар месяца</div>
        </div>
    </div>

    <div class="rating checkout-product__rating">
        <div class="rating__stars">
            <div style="width: 68%;"></div>
        </div>
        <div class="rating__count">(23)</div>
    </div>

    <div class="checkout-product__points">
        <div class="labels">
            <div class="labels__orange">Товар месяца</div>
        </div>
    </div>

    <div class="checkout-product__price">
        <span class="old-price">4 240 <span class="rubl">₽</span></span>
        <span>2 120 <span class="rubl">₽</span></span>
    </div>

    <div class="checkout-product__btns-buy">
        <div><button type="button" class='button button-green'>В корзину</button></div>
        <div><button type="button" class='button button-outline-green'>Купить в 1 клик</button></div>
    </div>

    <div class="checkout-product__btns-save">
        <button type="button" class="button-icon">
            <i class="icon-heart button-icon__icon"></i>
            <span>В избранное</span>
        </button>
        <button type="button" class="button-icon">
            <i class="icon-stats button-icon__icon"></i>
            <span>Сравнить</span>
        </button>
    </div>

    <div class="checkout-product__info">
        <div class="checkout-product__info__line">
            <div>В наличии</div>
            <div>25 шт.</div>
        </div>
        <div class="checkout-product__info__line">
            <div>Доставка</div>
            <div>завтра</div>
        </div>
        <div class="checkout-product__info__line">
            <div>Самовывоз</div>
            <div>сегодня</div>
        </div>
    </div>

</section>