<div class="my-goods my-goods--panel scale-mobile">
        
    <aside class="sorting">
        <div class="sorting__left">
            <select>
                <option>По популярности (убывание)</option>
                <option>По популярности (возрастание)</option>
                <option>По рейтингу (убывание)</option>
                <option>По рейтингу (возрастание)</option>
                <option>По цене (убывание)</option>
                <option>По цене (возрастание)</option>
            </select>
        </div>
        <div class="sorting__right">
            <div class="sorting__count">Товаров: <span class="sorting__count__value">5</span></div>
        </div>
    </aside>

    <div class="my-goods__list">
        <div class="my-goods__item my-goods__item--favorites">
            <div class="my-goods__image">
                <div class="goods__image goods__image--gray">
                    <div><img src="images/temp/goods/1.jpeg" alt=""></div>
                </div>
            </div>
            <div class="my-goods__desc">
                <div class="my-goods__code">Артикул: 897-356</div>
                <div class="my-goods__title">
                    <a href="#">Дрель AEК BE 750 R 449160</a>
                </div>
                <div class="goods__rate my-goods__rate">
                    <div class="goods__rate__stars">
                        <div style="width: 68%;"></div>
                    </div>
                    <div class="goods__rate__count">(23)</div>
                </div>
                <button type="button" class="my-goods__close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="my-goods__props">
                <div class="my-goods__props__inner">
                    <div class="my-goods__prop">
                        <div>В наличии</div>
                        <div>7 шт</div>
                    </div>
                    <div class="my-goods__prop">
                        <div>Доставка</div>
                        <div>завтра</div>
                    </div>
                    <div class="my-goods__prop">
                        <div>Самовывоз</div>
                        <div>сегодня</div>
                    </div>
                </div>
            </div>
            <div class="my-goods__rest">
                <div class="my-goods__price"><span>5 120</span> ₽ / шт</div>
                <div class="my-goods__points"><span>+42</span> балла на карту</div>
                <div class="my-goods__buttons">
                    <button type="button" class="button button-outline-green">В корзину</button>
                </div>
            </div>
            <div class="my-goods__buttons my-goods__buttons--col">
                <button type="button" class="button button-outline-green">В корзину</button>
                <button type="button" class="button button-green">Купить в 1 клик</button>
            </div>
        </div>

        <div class="my-goods__item my-goods__item--favorites">
            <div class="my-goods__image">
                <div class="goods__image goods__image--gray">
                    <div><img src="images/temp/goods/2.jpeg" alt=""></div>
                </div>
            </div>
            <div class="my-goods__desc">
                <div class="my-goods__code">Артикул: 897-356</div>
                <div class="my-goods__title">
                    <a href="#">Дрель AEК BE 750 R 449160</a>
                </div>
                <div class="goods__rate my-goods__rate">
                    <div class="goods__rate__stars">
                        <div style="width: 68%;"></div>
                    </div>
                    <div class="goods__rate__count">(23)</div>
                </div>
                <button type="button" class="my-goods__close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="my-goods__props">
                <div class="my-goods__props__inner">
                    <div class="my-goods__prop">
                        <div>В наличии</div>
                        <div>7 шт</div>
                    </div>
                    <div class="my-goods__prop">
                        <div>Доставка</div>
                        <div>завтра</div>
                    </div>
                    <div class="my-goods__prop">
                        <div>Самовывоз</div>
                        <div>сегодня</div>
                    </div>
                </div>
            </div>
            <div class="my-goods__rest">
                <div class="my-goods__price"><span>5 120</span> ₽ / шт</div>
                <div class="my-goods__points"><span>+42</span> балла на карту</div>
                <div class="my-goods__buttons">
                    <button type="button" class="button button-outline-green">В корзину</button>
                </div>
            </div>
            <div class="my-goods__buttons my-goods__buttons--col">
                <button type="button" class="button button-outline-green">В корзину</button>
                <button type="button" class="button button-green">Купить в 1 клик</button>
            </div>
        </div>

        <div class="my-goods__item my-goods__item--favorites">
            <div class="my-goods__image">
                <div class="goods__image goods__image--gray">
                    <div><img src="images/temp/goods/3.png" alt=""></div>
                </div>
            </div>
            <div class="my-goods__desc">
                <div class="my-goods__code">Артикул: 897-356</div>
                <div class="my-goods__title">
                    <a href="#">Ударная дрель Boss ДЭУ-6500 </a>
                </div>
                <div class="goods__rate my-goods__rate">
                    <div class="goods__rate__stars">
                        <div style="width: 68%;"></div>
                    </div>
                    <div class="goods__rate__count">(23)</div>
                </div>
                <button type="button" class="my-goods__close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="my-goods__props">
                <div class="my-goods__props__inner">
                    <div class="my-goods__prop">
                        <div>В наличии</div>
                        <div>7 шт</div>
                    </div>
                    <div class="my-goods__prop">
                        <div>Доставка</div>
                        <div>завтра</div>
                    </div>
                    <div class="my-goods__prop">
                        <div>Самовывоз</div>
                        <div>сегодня</div>
                    </div>
                </div>
            </div>
            <div class="my-goods__rest">
                <div class="my-goods__price"><span>5 120</span> ₽ / шт</div>
                <div class="my-goods__points"><span>+42</span> балла на карту</div>
                <div class="my-goods__buttons">
                    <button type="button" class="button button-outline-green">В корзину</button>
                </div>
            </div>
            <div class="my-goods__buttons my-goods__buttons--col">
                <button type="button" class="button button-outline-green">В корзину</button>
                <button type="button" class="button button-green">Купить в 1 клик</button>
            </div>
        </div>
    </div>

    <div class="my-goods__remove">
        <button class="button button-outline-black">Удалить все</button>
    </div>

</div>