<footer class="footer">
    <div class="page__center">
        <div class="footer__center">

            <nav class="footer__links">

                <div class="footer__links__group">
                    <div class="footer__links__title">интернет-магазин</div>
                    <div class="footer__links__list">
                        <div class="footer__links__list__ruler">
                            <div><a href="#">О магазине</a></div>
                            <div><a href="#">Оплата</a></div>
                            <div><a href="#">Гарантия</a></div>
                            <div><a href="#">Доставка</a></div>
                            <div><a href="#">Товары под заказ</a></div>
                            <div><a href="#">Помощь покупателю</a></div>
                            <div><a href="#">Персональные данные</a></div>
                            <div><a href="#">Договор оферты</a></div>
                            <div><a href="#">Вопросы</a></div>
                        </div>
                    </div>
                </div>

                <div class="footer__links__group">
                    <div class="footer__links__title">сервисы</div>
                    <div class="footer__links__list">
                        <div class="footer__links__list__ruler">
                            <div><a href="#">Новосёл</a></div>
                            <div><a href="#">Мега-Клуб</a></div>
                            <div><a href="#">Подарочные карты</a></div>
                            <div><a href="#">Колеровка краски</a></div>
                            <div><a href="#">Установка</a></div>
                            <div><a href="#">Центр кровли и фасадов</a></div>
                            <div><a href="#">Возврат</a></div>
                            <div><a href="#">Кредит и рассрочка</a></div>
                        </div>
                    </div>
                </div>

                <div class="footer__links__group">
                    <div class="footer__links__title">компания</div>
                    <div class="footer__links__list">
                        <div class="footer__links__list__ruler">
                            <div><a href="#">О компании</a></div>
                            <div><a href="#">Магазины</a></div>
                            <div><a href="#">Вакансии</a></div>
                            <div><a href="#">Истории успеха</a></div>
                            <div><a href="#">Новости</a></div>
                            <div><a href="#">Контакты</a></div>
                        </div>
                    </div>
                </div>

                <div class="footer__links__group">
                    <div class="footer__links__title">советы</div>
                    <div class="footer__links__list">
                        <div class="footer__links__list__ruler">
                            <div><a href="#">Строительные</a></div>
                            <div><a href="#">Отделочные</a></div>
                            <div><a href="#">По инструменту</a></div>
                            <div><a href="#">По даче и саду</a></div>
                            <div><a href="#">Для дома</a></div>
                        </div>
                    </div>
                </div>

                <div class="footer__links__group">
                    <div class="footer__links__title">партнерство</div>
                    <div class="footer__links__list">
                        <div class="footer__links__list__ruler">
                            <div><a href="#">Оптовикам</a></div>
                            <div><a href="#">Поставщикам</a></div>
                            <div><a href="#">Арендаторам</a></div>
                            <div><a href="#">Перевозчикам</a></div>
                        </div>
                    </div>
                </div>

            </nav>
            
            <div class="footer__contacts">

                <div class="footer__call">
                    <div class="footer__call__phone">
                        <i class="icon-phone"></i> 8-800-222-12-40
                    </div>
                    <div class="footer__call__desc">Мы работаем с 8:00 до 21:00</div>
                </div>

                <nav class="footer__social">
                    <a href="#" class="footer__social__link">
                        <img src="images/icons/social/vkontakte.svg" alt="Vkontakte">
                    </a>
                    <a href="#" class="footer__social__link">
                        <img src="images/icons/social/instagram.svg" alt="Instagram">
                    </a>
                </nav>

                <div class="footer__pay">
                    <div class="footer__pay__title">Мы принимаем к оплате</div>
                    <div class="footer__pay__cards">
                        <img src="images/icons/pay-cards/google-pay.svg" alt="Google Pay">
                        <img src="images/icons/pay-cards/apple-pay.svg" alt="Apple Pay">
                        <img src="images/icons/pay-cards/mir.svg" alt="Мир">
                        <img src="images/icons/pay-cards/visa.svg" alt="Visa">
                        <img src="images/icons/pay-cards/maestro.svg" alt="Maestro">
                        <img src="images/icons/pay-cards/master-card.svg" alt="MasterCard">
                    </div>
                </div>

                <div class="footer__author">
                    2021 © ооо «блеск»
                </div>

                <nav class="footer__apps">
                    <a href="#" class="footer__apps__link">
                        <img src="/images/icons/apps/google-play.svg" alt="Google Play">
                    </a>
                    <a href="#" class="footer__apps__link">
                        <img src="/images/icons/apps/app-store.svg" alt="App Store">
                    </a>
                </nav>

            </div>
            
        </div>
    </div>
</footer>