<footer class="footer">

    <div class="footer__content">
        <div class="page__center">
            <div class="footer__content__center">
                <div class="footer__content__nav">

                    <nav class="footer__nav" id="footer-nav">

                        <div class="footer__nav__group">
                            <div class="footer__nav__title collapsed" data-bs-toggle="collapse" data-bs-target='#footer-nav-1'>
                                <i class="icon-arrow-down"></i>
                                <span>Интернет-магазин</span>
                            </div>
                            <div class="collapse" data-bs-parent="#footer-nav" id="footer-nav-1">
                                <div class="footer__nav__list">
                                    <div><a href="#">О магазине</a></div>
                                    <div><a href="#">Оплата</a></div>
                                    <div><a href="#">Гарантия</a></div>
                                    <div><a href="#">Доставка</a></div>
                                    <div><a href="#">Товары под заказ</a></div>
                                    <div><a href="#">Помощь покупателю</a></div>
                                    <div><a href="#">Персональные данные</a></div>
                                    <div><a href="#">Договор оферты</a></div>
                                    <div><a href="#">Вопросы</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="footer__nav__group">
                            <div class="footer__nav__title collapsed" data-bs-toggle="collapse" data-bs-target='#footer-nav-2'>
                                <i class="icon-arrow-down"></i>
                                <span>Cервисы</span>
                            </div>
                            <div class="collapse" data-bs-parent="#footer-nav" id="footer-nav-2">
                                <div class="footer__nav__list">
                                    <div><a href="#">Новосёл</a></div>
                                    <div><a href="#">Мега-Клуб</a></div>
                                    <div><a href="#">Подарочные карты</a></div>
                                    <div><a href="#">Колеровка краски</a></div>
                                    <div><a href="#">Установка</a></div>
                                    <div><a href="#">Центр кровли и фасадов</a></div>
                                    <div><a href="#">Возврат</a></div>
                                    <div><a href="#">Кредит и рассрочка</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="footer__nav__group">
                            <div class="footer__nav__title collapsed" data-bs-toggle="collapse" data-bs-target='#footer-nav-3'>
                                <i class="icon-arrow-down"></i>
                                <span>Компания</span>
                            </div>
                            <div class="collapse" data-bs-parent="#footer-nav" id="footer-nav-3">
                                <div class="footer__nav__list">
                                    <div><a href="#">О компании</a></div>
                                    <div><a href="#">Магазины</a></div>
                                    <div><a href="#">Вакансии</a></div>
                                    <div><a href="#">Истории успеха</a></div>
                                    <div><a href="#">Новости</a></div>
                                    <div><a href="#">Контакты</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="footer__nav__group">
                            <div class="footer__nav__title collapsed" data-bs-toggle="collapse" data-bs-target='#footer-nav-4'>
                                <i class="icon-arrow-down"></i>
                                <span>Cоветы</span>
                            </div>
                            <div class="collapse" data-bs-parent="#footer-nav" id="footer-nav-4">
                                <div class="footer__nav__list">
                                    <div><a href="#">Строительные</a></div>
                                    <div><a href="#">Отделочные</a></div>
                                    <div><a href="#">По инструменту</a></div>
                                    <div><a href="#">По даче и саду</a></div>
                                    <div><a href="#">Для дома</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="footer__nav__group">
                            <div class="footer__nav__title collapsed" data-bs-toggle="collapse" data-bs-target='#footer-nav-5'>
                                <i class="icon-arrow-down"></i>
                                <span>Партнерство</span>
                            </div>
                            <div class="collapse" data-bs-parent="#footer-nav" id="footer-nav-5">
                                <div class="footer__nav__list">
                                    <div><a href="#">Оптовикам</a></div>
                                    <div><a href="#">Поставщикам</a></div>
                                    <div><a href="#">Арендаторам</a></div>
                                    <div><a href="#">Перевозчикам</a></div>
                                </div>
                            </div>
                        </div>

                    </nav>
                    
                </div>
                <div class="footer__content__touch">
                    
                    <div class="footer__phone">
                        <div class="footer__phone__number">
                            <i class="icon-phone"></i> 8-800-222-12-40
                        </div>
                        <div class="footer__phone__help">Мы работаем с 8:00 до 21:00</div>
                    </div>

                    <nav class="footer__apps">
                        <a href="#" class="footer__apps__item">
                            <img src="images/footer/google-play.svg" alt="Google Play">
                        </a>
                        <a href="#" class="footer__apps__item">
                            <img src="images/footer/app-store.svg" alt="App Store">
                        </a>
                    </nav>

                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="page__center">
            <div class="footer__bottom__center">
                <div class="footer__bottom__social">
                    <nav class="footer__social">
                        <a href="#" class="footer__social__item">
                            <i class="icon-vk-share"></i>
                        </a>
                        <a href="#" class="footer__social__item">
                            <i class="icon-instagram-2"></i>
                        </a>
                    </nav>
                </div>
                <div class="footer__bottom__cards">
                    <div class="footer__cards">
                        <div class="footer__cards__title">Мы принимаем к оплате</div>
                        <div class="footer__cards__icons">
                            <img src="images/footer/pay-cards/google-pay.svg" alt="Google Pay">
                            <img src="images/footer/pay-cards/apple-pay.svg" alt="Apple Pay">
                            <img src="images/footer/pay-cards/mir.svg" alt="Мир">
                            <img src="images/footer/pay-cards/visa.svg" alt="Visa">
                            <img src="images/footer/pay-cards/maestro.svg" alt="Maestro">
                            <img src="images/footer/pay-cards/master-card.svg" alt="MasterCard">
                        </div>
                    </div>
                </div>
                <div class="footer__bottom__author">
                    <div class="footer__author">
                        2021 © МЕГА
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>


<aside class="panel panel-city panel--hidden" id="panel-city">
	<div class="panel__arrow"></div>
	<div class="panel__box">
		<div class="panel__header">Выберите город</div>
		<div class="panel__body">
			<a href="#" class="panel-city__item active">Архангельск</a>
			<a href="#" class="panel-city__item">Северодвинск</a>
			<a href="#" class="panel-city__item">Сыктывкар</a>
		</div>
	</div>
</aside>

<aside class="panel panel-cart panel--hidden" id="panel-cart">
	<div class="panel__arrow"></div>
	<div class="panel__box">
		<div class="panel__header">Корзина</div>
		<div class="panel__body">
			<div class="panel-cart__products">
				<div class="goods-simple">
					{{#repeat 3}}
					<div class="goods-simple__item">
						<div class="goods-simple__image" style="background-image: url('images/temp/goods/2/1.jpeg');"></div>
						<div class="goods-simple__desc">
							<div class="goods-simple__title">Обои виниловые Elysium Авалон ограниченная серия Светящиеся в темноте звёзды Е21141 (1,06х10 м)</div>
							<div class="goods-simple__price">599 <span class="rubl">₽ / шт</span></div>
						</div>
						<button type="button" class="goods-simple__remove">
							<i class="icon-close"></i>
						</button>
					</div>
					{{/repeat}}
				</div>
			</div>
			<div class="panel-cart__see-all">
				<a href="#" class="button button-light-green button--full">Смотреть все</a>
			</div>
			<div class="panel-cart__info">
				<div class="panel-cart__info__row">
					<div class="panel-cart__info__label">Всего:</div>
					<div class="panel-cart__info__value">3 шт</div>
				</div>
				<div class="panel-cart__info__row">
					<div class="panel-cart__info__label">Общий вес:</div>
					<div class="panel-cart__info__value">3,5 кг</div>
				</div>
				<div class="panel-cart__info__row">
					<div class="panel-cart__info__label">К оплате:</div>
					<div class="panel-cart__info__value">2 377 <span class="rubl">₽</span></div>
				</div>
			</div>
			<div class="panel-cart__checkout">
				<a href="#" class="button button-green button--full">Оформить</a>
			</div>
		</div>
	</div>
</aside>

<form action="#" class="panel panel-call panel--hidden" id="panel-call">
	<div class="panel__arrow"></div>
	<div class="panel__box">
		<div class="panel__header">Заказать обратный звонок</div>
		<div class="panel__body">
			<div class="panel-call__input">
				<div class="input-label-up">
					<label class="input-label-up__label">Ваш телефон</label>
					<input type="text" class="input-label-up__input" data-mask="+7(000)000-00-00">
				</div>
			</div>
			<div class="panel-call__input">
				<div class="input-label-up">
					<label class="input-label-up__label">Ваше имя</label>
					<input type="text" class="input-label-up__input">
				</div>
			</div>
			<label class="check-default panel-call__agree">
				<input type="checkbox">
				<span>Я согласен с <a href="#" target="_blank">обработку персональных данных</a></span>
			</label>
			<div class="panel-call__submit">
				<button type="button" class="button button-green">Заказать</button>
			</div>
		</div>
	</div>
</form>

<form action="#" class="panel panel-auth panel--hidden" id="panel-auth">
	<div class="panel__arrow"></div>
	<div class="panel__box">
		<div class="panel-auth__body">
			<div class="panel-auth__desc">
				Войдите или зарегистрируйтесь, чтобы делать покупки, отслеживать заказы и пользоваться персональными скидками и баллами.
			</div>
			<div class="panel-auth__button">
				<button type="button" class="button button-outline-green">Войти</button>
			</div>
			<div class="panel-auth__button">
				<button type="button" class="button button-green">Зарегистрироваться</button>
			</div>
		</div>
	</div>
</form>

<nav class="nav-catalog nav-catalog--hidden" id="nav-catalog">
    <div class="page__center">
        <div class="nav-catalog__center">
            <div class="nav-catalog__side">
                <a href="#" class="active">Автотовары</a>
                <a href="#">Бытовая химия</a>
                <a href="#">Гигиена лица и тела</a>
                <a href="#">Двери и зси</a>
                <a href="#">Декор окна</a>
                <a href="#">Декор стены и потолка</a>
                <a href="#">Зимний сад и урожай</a>
                <a href="#">Инвентарь для уборки</a>
                <a href="#">Инженерная сантехника</a>
                <a href="#">Инструмент</a>
                <a href="#">Инструмент и техника для дачи</a>
                <a href="#">Интерьер и декорирование</a>
                <a href="#">Конструкционные материалы</a>
                <a href="#">Крепеж и такелаж</a>
                <a href="#">Кровля и водоотвод</a>
                <a href="#">Лакокрасочные материалы</a>
                <a href="#">Мебель и кухни</a>
                <a href="#">Напольные покрытия</a>
                <a href="#">Обустройство бани и сада</a>
                <a href="#">Освещение</a>
                <a href="#">Отдых</a>
                <a href="#">Печи и дымоходы</a>
                <a href="#">Плитка керамическая</a>
                <a href="#">Посуда и изделия для кухни</a>
                <a href="#">Праздник</a>
                <a href="#">Средства индивидуальной защиты</a>
                <a href="#">Строительные материалы</a>
                <a href="#">Текстиль</a>
                <a href="#">Товары для ванной комнаты</a>
                <a href="#">Уход за одеждой и обувью</a>
                <a href="#">Фасады и системы ограждений</a>
                <a href="#">Хобби и творчество</a>
                <a href="#">Хозяйственные товары</a>
                <a href="#">Хранение вещей и одежды</a>
                <a href="#">Электрика</a>
            </div>
            <div class="nav-catalog__main">
                <div class="nav-catalog__pane active">

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Ароматизаторы автомобильные</a>
                        <div class="nav-catalog__list">
                            <a href="#">Ароматизаторы</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Безопасность и техосмотр</a>
                        <div class="nav-catalog__list">
                            <a href="#">Ароматизаторы</a>
                            <a href="#">Автокресла</a>
                            <a href="#">Аптечки автомобильные</a>
                            <a href="#">Брелки светоотражающие</a>
                            <a href="#">Жилеты сигнальные</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +3</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Защита салона и кузова</a>
                        <div class="nav-catalog__list">
                            <a href="#">Брызговики</a>
                            <a href="#">Коврики автомобильные</a>
                            <a href="#">Накидки автомобильные</a>
                            <a href="#">Оплетки для руля</a>
                            <a href="#">Шторки солнцезащитные автомобильные</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Мойка и уборка авто</a>
                        <div class="nav-catalog__list">
                            <a href="#">Губки для мойки автомобиля</a>
                            <a href="#">Очистители для кузова и стекол</a>
                            <a href="#">Очистители для салона автомобиля</a>
                            <a href="#">Очистители стекол в бачок омывателя</a>
                            <a href="#">Полироли автомобильные</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +4</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Обслуживание автомобиля</a>
                        <div class="nav-catalog__list">
                            <a href="#">Антидождь</a>
                            <a href="#">Башмаки и противооткаты</a>
                            <a href="#">Воронки автомобильные</a>
                            <a href="#">Герметики автомобильные</a>
                            <a href="#">Домкраты</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +26</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Организация пространства автомобиля</a>
                        <div class="nav-catalog__list">
                            <a href="#">Держатели автомобильные</a>
                            <a href="#">Коврики противоскользящие</a>
                            <a href="#">Кружки и кипятильники для автомобиля</a>
                            <a href="#">Органайзеры автомобильные</a>
                            <a href="#">Подушки автомобильные</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +2</a>
                        </div>
                    </div>

                </div>
                <div class="nav-catalog__pane">
                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Уход за домом</a>
                        <div class="nav-catalog__list">
                            <a href="#">Атмосфера в доме</a>
                            <a href="#">Инсектициды</a>
                            <a href="#">Салфетки влажные для уборки</a>
                            <a href="#">Средства для мытья полов</a>
                            <a href="#">Средства для мытья стекол</a>
                            <a href="#" class="nav-catalog__more">Смотреть ещё +6</a>
                        </div>
                    </div>

                    <div class="nav-catalog__group">
                        <a href="#" class="nav-catalog__h2">Уход за одеждой</a>
                        <div class="nav-catalog__list">
                            <a href="#">Гели для стирки</a>
                            <a href="#">Капсулы для стирки</a>
                            <a href="#">Кондиционеры для белья</a>
                            <a href="#">Отбеливатели, красители</a>
                            <a href="#">Порошки стиральные</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="nav-burger" id="nav-burger">
    <div class="nav-burger__panel">
        <a href="#" class="nav-burger__city">
            <span>Архангельск</span>
            <i class="icon-location"></i>
        </a>
        <div class="nav-burger__list">
            <a href="#" class="nav-burger__item">Доставка</a>
            <a href="#" class="nav-burger__item">Cервисы</a>
            <a href="#" class="nav-burger__item">Мега-клуб</a>
            <a href="#" class="nav-burger__item">Блог</a>
            <a href="#" class="nav-burger__item">Магазины</a>
            <a href="#" class="nav-burger__item">Партнерство</a>
        </div>
        <div class="nav-burger__info">
            <div class="nav-burger__info__item">
                <div class="nav-burger__info__title">Напишите нам</div>
                <div class="nav-burger__write">
                    <a href="#" class="nav-burger__write__item nav-burger__write__item--call"><i class="icon-call"></i></a>
                    <a href="#" class="nav-burger__write__item nav-burger__write__item--telegram"><i class="icon-telegram"></i></a>
                    <a href="#" class="nav-burger__write__item nav-burger__write__item--vk"><i class="icon-vk-share"></i></a>
                </div>
            </div>
            <div class="nav-burger__info__item">
                <div class="nav-burger__info__title">Мы в социальных сетях</div>
                <div class="nav-burger__social">
                    <a href="#" class="nav-burger__social__item"><i class="icon-vk-share"></i></a>
                    <a href="#" class="nav-burger__social__item"><i class="icon-instagram-2"></i></a>
                </div>
            </div>
            <div class="nav-burger__info__item">
                <div class="nav-burger__call">
                    <div class="nav-burger__call__phone">
                        <i class="icon-phone"></i>
                        <span>8-800-222-12-40</span>
                    </div>
                    <div class="nav-burger__call__tip">Мы работаем с 8:00 до 21:00</div>
                </div>
            </div>
        </div>
    </div>
</nav>


{{> popup-quick-view }}

<div class="page__scroll hidden" id="scroll-up">
    <button type="button" class="button-scroll">
        <i class="icon-arrow-right-short rotate-90"></i>
    </button>
</div>

<div class="page__bg-mobile" id="bg-mobile"></div>