<form action="#" class="page__outer form-sorting">
    <div class="form-sorting__row">

        <div class="form-sorting__gap"></div>

        <div class="form-sorting__col form-sorting__col--select">
            <select>
                <option>По популярности (убывание)</option>
                <option>По популярности (возрастание)</option>
                <option>По рейтингу (убывание)</option>
                <option>По рейтингу (возрастание)</option>
                <option>По цене (убывание)</option>
                <option>По цене (возрастание)</option>
            </select>
        </div>
        
        <div class="form-sorting__col form-sorting__col--filter">
            <button class="button button-outline-white js-filter-show">
                <i class="icon-filter button__icon"></i>
                <span class="spinner-border"></span>
                <span class="button__text">Все фильтры</span>
            </button>
        </div>
        
        <div class="form-sorting__col form-sorting__col--right">
            <nav class="form-sorting__modes">
                <a href="#" class="form-sorting__modes__item active">
                    <i class="icon-menu"></i>
                </a>
                <a href="#" class="form-sorting__modes__item">
                    <i class="icon-list"></i>
                </a>
            </nav>
        </div>

        <div class="form-sorting__gap"></div>
    </div>
</form>