<section class="goods-cards goods-cards--nowrap">
    <div class="page__center">
        
        <div class="section__header">
            <h3 class="section__header__title">Вам понадобится</h3>
            <div class="section__header__link">
                <a href="#" class="button-more">
                    Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                </a>
            </div>
        </div>

        <div class="page__outer section__window" data-simplebar>
            <div class="goods-cards__list">
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/9.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Набор бит Boss PP-963</a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(23)</div>
                            </div>
                            <div class="goods-cards__price">1 740 <span class="rubl">₽ / шт</span></div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/10.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Ящик для инструментов ReWalt 40”</a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(23)</div>
                            </div>
                            <div class="goods-cards__price">2 120 <span class="rubl">₽ / шт</span></div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/11.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 136-681</div>
                            <div class="goods-cards__title">
                                <a href="#">Насадки Boss WS96-04 8 штук</a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(21)</div>
                            </div>
                            <div class="goods-cards__price"><span>1 778</span> </div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/12.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Набор инструментов Makita 42 предмета</a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(21)</div>
                            </div>
                            <div class="goods-cards__price">1 778 <span class="rubl">₽ / шт</span></div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/13.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Ключи из нержавеюще стали Hatter 5 штук</a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(21)</div>
                            </div>
                            <div class="goods-cards__price">985 <span class="rubl">₽ / шт</span></div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>