<section class="goods-cards goods-cards--nowrap">
    <div class="page__center">
        <div class="goods-cards__header">
            <h3 class="h1 mb-0">В избранном</h3>
            <a href="#" class="button button-outline-black button--size-1">
                Смотреть все
            </a>
        </div>
        <div class="goods-cards__window" data-simplebar>
            <div class="goods-cards__list ">
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/14.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">
                                    Теплоизоляционная плита ПЕНОПЛЭКС Комфорт 50 мм
                                </a>
                            </div>
                            <div class="rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(23)</div>
                            </div>
                            <div class="goods-cards__price"><span>284</span> ₽ / шт</div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/15.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Пена монтажная Формула мастера  350г</a>
                            </div>
                            <div class="rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(23)</div>
                            </div>
                            <div class="goods-cards__price"><span>146</span> ₽ / шт</div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                        <div class="goods-cards__labels">
                            <div class="goods-cards__labels__orange">
                                Выбор покупателя
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/16.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 136-681</div>
                            <div class="goods-cards__title">
                                <a href="#">Дрель Skills DP 4010</a>
                            </div>
                            <div class="rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(21)</div>
                            </div>
                            <div class="goods-cards__price"><span>3 450</span> ₽ / шт</div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                        <div class="goods-cards__labels">
                            <div class="goods-cards__labels__green">
                                Товар месяца
                            </div>
                            <div class="goods-cards__labels__red">
                                Скидка
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/17.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Мойка кухонная MILENA 50DG</a>
                            </div>
                            <div class="rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(21)</div>
                            </div>
                            <div class="goods-cards__price"><span>2 787</span> ₽ / шт</div>
                            <button class="button button-outline-orange button--full">
                                <span class="spinner-border"></span>
                                <span class="button__text">Под заказ</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                        
                    </div>
                </div>
                <div class="goods-cards__col">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/18.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Смеситель для ванны Valta D1109500</a>
                            </div>
                            <div class="rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(21)</div>
                            </div>
                            <div class="goods-cards__price"><span>5 120</span> ₽ / шт</div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                        <div class="goods-cards__labels">
                            <div class="goods-cards__labels__green">
                                Выбор покупателя
                            </div>
                            <div class="goods-cards__labels__blue">
                                Только онлайн
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

