<section class="section">
    <div class="page__center">
        
        <div class="section__header">
            <h3 class="section__header__title">Рекомендуем</h3>
            <div class="section__header__link">
                <a href="#" class="button-more">
                    Смотреть все <i class="icon-arrow-right button-more__icon"></i>
                </a>
            </div>
        </div>

        <div class="page__outer section__window" data-simplebar>
            <div class="goods-cards__row-line">
                <div class="goods-cards__gap-line"></div>
                <div class="goods-cards__col-line">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/14.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">
                                    Теплоизоляционная плита ПЕНОПЛЭКС Комфорт 50 мм
                                </a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(23)</div>
                            </div>
                            <div class="goods-cards__price">284 <span class="rubl">₽ / шт</span></div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col-line">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/15.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Пена монтажная Формула мастера  350г</a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(23)</div>
                            </div>
                            <div class="goods-cards__price">146 <span class="rubl">₽ / шт</span></div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                        <div class="goods-cards__labels">
                            <div class="labels">
                                <div class="labels__orange">Выбор покупателя</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col-line">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/16.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 136-681</div>
                            <div class="goods-cards__title">
                                <a href="#">Дрель Skills DP 4010</a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(21)</div>
                            </div>
                            <div class="goods-cards__price">3 450 <span class="rubl">₽ / шт</span></div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                        <div class="goods-cards__labels">
                            <div class="labels">
                                <div class="labels__green">Товар месяца</div>
                                <div class="labels__red">Скидка</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__col-line">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/17.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Мойка кухонная MILENA 50DG</a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(21)</div>
                            </div>
                            <div class="goods-cards__price">2 787 <span class="rubl">₽ / шт</span></div>
                            <button class="button button-outline-orange button--full">
                                <span class="spinner-border"></span>
                                <span class="button__text">Под заказ</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                        
                    </div>
                </div>
                <div class="goods-cards__col-line">
                    <div class="goods-cards__item">
                        <a href="#" class="goods-cards__image goods-cards__image--gray">
                            <div><img src="images/temp/goods/1/18.png" alt=""></div>
                        </a>
                        <div class="goods-cards__desc">
                            <div class="goods-cards__code">Артикул: 134-331</div>
                            <div class="goods-cards__title">
                                <a href="#">Смеситель для ванны Valta D1109500</a>
                            </div>
                            <div class="rating goods-cards__rating">
                                <div class="rating__stars">
                                    <div style="width: 68%;"></div>
                                </div>
                                <div class="rating__count">(21)</div>
                            </div>
                            <div class="goods-cards__price">5 120 <span class="rubl">₽ / шт</span></div>
                            <button class="button button-outline-green button--full goods-cards__add-to-cart">
                                <span class="spinner-border"></span>
                                <span class="button__text">В корзину</span>
                            </button>
                        </div>
                        <div class="goods-cards__ctrl">
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-heart"></i>
                            </button>
                            <button type="button" class="goods-cards__ctrl__item">
                                <i class="icon-stats"></i>
                            </button>
                        </div>
                        <div class="goods-cards__labels">
                            <div class="labels">
                                <div class="labels__green">Выбор покупателя</div>
                                <div class="labels__blue">Только онлайн</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods-cards__gap-line"></div>
            </div>
        </div>
    </div>
</section>

