<div class="goods-short">
    <div class="goods-short__item">
        <div class="goods-short__col-image">
            <div class="image-box image-box--contain" style="padding-top: 100%; background-image: url('images/temp/goods/5.jpeg')"></div>
        </div>
        <div class="goods-short__col-desc">

            <div class="goods-short__col-title">
                <div class="goods-short__title">
                    Наименование товара высотой в карточке товара в три строки 012-345-678-9
                </div>
                <div class="goods-short__labels">
                    <div class="labels">
                        <div class="labels__green">Товар месяца</div>
                    </div>
                </div>
            </div>

            <div class="goods-short__col-price">
                <div class="goods-short__points">
                    <div class="labels">
                        <div class="labels__orange">+Х000 баллов</div>
                    </div>
                </div>
                <div class="goods-short__price">
                    <div>8 345 <span class="rubl">₽</span></div>
                    <div class="old-price">12 345 <span class="rubl">₽</span></div>
                </div>
            </div>
            
        </div>
    </div>
</div>