<div class="grid-goods__row">
    <div class="grid-goods__col">
        <div class="goods-cards__item">

            <div class="goods-cards__image-size">
                <div class="goods-cards__image">
                    <img src="images/temp/goods/11.jpeg" alt="">
                </div>
                <div class="goods-cards__labels">
                    <div class="labels">
                        <div class="labels__blue">Только онлайн</div>
                        <div class="labels__red">Скидка</div>
                    </div>
                </div>
                <div class="goods-cards__quick-view">
                    <button class="button button-light-green button--full">Быстрый просмотр</button>
                </div>
            </div>
            
            <div class="goods-cards__desc">
                <a href="#" class="goods-cards__title">
                    Наименование товара высотой 
                    в карточке товара в три строки
                    012-345-678-9
                </a>

                <div class="goods-cards__points">
                    <div class="labels">
                        <div class="labels__orange">+Х000 баллов</div>
                    </div>
                </div>

                <div class="goods-cards__price">
                    <div class="goods-cards__price__item">
                        12 345 <span class="rubl">₽</span>
                    </div>
                    <div class="goods-cards__price__item goods-cards__price__item--old">
                        12 345 <span class="rubl">₽</span>
                    </div>
                </div>
                
                <div class="goods-cards__to-cart">
                    <button class="button button-outline-green  button--full">
                        <span class="spinner-border"></span>
                        <span class="button__text">В корзину</span>
                    </button>
                </div>

                <div class="goods-cards__actions">
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-bookmark button-icon__icon"></i>
                        В избранное
                    </a>
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-stats button-icon__icon"></i>
                        Сравнить
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="grid-goods__col">
        <div class="goods-cards__item">

            <div class="goods-cards__image-size">
                <div class="goods-cards__image">
                    <img src="images/temp/goods/2.jpeg" alt="">
                </div>
                <div class="goods-cards__labels">
                    <div class="labels">
                        <div class="labels__red">Скидка</div>
                    </div>
                </div>
                <div class="goods-cards__quick-view">
                    <button class="button button-light-green button--full">Быстрый просмотр</button>
                </div>
            </div>
            
            <div class="goods-cards__desc">
                <a href="#" class="goods-cards__title">
                    Наименование товара высотой 
                    в карточке товара в три строки
                    012-345-678-9
                </a>

                <div class="goods-cards__points">
                    <div class="labels">
                        <div class="labels__orange">+Х000 баллов</div>
                    </div>
                </div>

                <div class="goods-cards__price">
                    <div class="goods-cards__price__item">
                        12 345 <span class="rubl">₽</span>
                    </div>
                    <div class="goods-cards__price__item goods-cards__price__item--old">
                        12 345 <span class="rubl">₽</span>
                    </div>
                </div>
                
                <div class="goods-cards__to-cart">
                    <button class="button button-outline-green  button--full">
                        <span class="spinner-border"></span>
                        <span class="button__text">В корзину</span>
                    </button>
                </div>

                <div class="goods-cards__actions">
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-bookmark button-icon__icon"></i>
                        В избранное
                    </a>
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-stats button-icon__icon"></i>
                        Сравнить
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="grid-goods__col">
        <div class="goods-cards__item">

            <div class="goods-cards__image-size">
                <div class="goods-cards__image">
                    <img src="images/temp/goods/9.jpeg" alt="">
                </div>
                <div class="goods-cards__labels">
                    <div class="labels">
                        <div class="labels__red">Скидка</div>
                    </div>
                </div>
                <div class="goods-cards__quick-view">
                    <button class="button button-light-green button--full">Быстрый просмотр</button>
                </div>
            </div>
            
            <div class="goods-cards__desc">
                <a href="#" class="goods-cards__title">
                    Наименование товара высотой 
                    в карточке товара в три строки
                    012-345-678-9
                </a>

                <div class="goods-cards__points">
                    <div class="labels">
                        <div class="labels__orange">+Х000 баллов</div>
                    </div>
                </div>

                <div class="goods-cards__price">
                    <div class="goods-cards__price__item">
                        12 345 <span class="rubl">₽</span>
                    </div>
                    <div class="goods-cards__price__item goods-cards__price__item--old">
                        12 345 <span class="rubl">₽</span>
                    </div>
                </div>
                
                <div class="goods-cards__to-cart">
                    <button class="button button-outline-green  button--full">
                        <span class="spinner-border"></span>
                        <span class="button__text">В корзину</span>
                    </button>
                </div>

                <div class="goods-cards__actions">
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-bookmark button-icon__icon"></i>
                        В избранное
                    </a>
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-stats button-icon__icon"></i>
                        Сравнить
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="grid-goods__col">
        <div class="goods-cards__item">

            <div class="goods-cards__image-size">
                <div class="goods-cards__image">
                    <img src="images/temp/goods/4.jpeg" alt="">
                </div>
                <div class="goods-cards__labels">
                    <div class="labels">
                        <div class="labels__blue">Только онлайн</div>
                        <div class="labels__red">Скидка</div>
                    </div>
                </div>
                <div class="goods-cards__quick-view">
                    <button class="button button-light-green button--full">Быстрый просмотр</button>
                </div>
            </div>
            
            <div class="goods-cards__desc">
                <a href="#" class="goods-cards__title">
                    Наименование товара высотой 
                    в карточке товара в три строки
                    012-345-678-9
                </a>

                <div class="goods-cards__points">
                    <div class="labels">
                        <div class="labels__orange">+Х000 баллов</div>
                    </div>
                </div>

                <div class="goods-cards__price">
                    <div class="goods-cards__price__item">
                        12 345 <span class="rubl">₽</span>
                    </div>
                    <div class="goods-cards__price__item goods-cards__price__item--old">
                        12 345 <span class="rubl">₽</span>
                    </div>
                </div>
                
                <div class="goods-cards__to-cart">
                    <button class="button button-outline-green  button--full">
                        <span class="spinner-border"></span>
                        <span class="button__text">В корзину</span>
                    </button>
                </div>

                <div class="goods-cards__actions">
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-bookmark button-icon__icon"></i>
                        В избранное
                    </a>
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-stats button-icon__icon"></i>
                        Сравнить
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="grid-goods__col">
        <div class="goods-cards__item">

            <div class="goods-cards__image-size">
                <div class="goods-cards__image">
                    <img src="images/temp/goods/5.jpeg" alt="">
                </div>
                <div class="goods-cards__labels">
                    <div class="labels">
                        <div class="labels__red">Скидка</div>
                    </div>
                </div>
                <div class="goods-cards__quick-view">
                    <button class="button button-light-green button--full">Быстрый просмотр</button>
                </div>
            </div>
            
            <div class="goods-cards__desc">
                <a href="#" class="goods-cards__title">
                    Наименование товара высотой 
                    в карточке товара в три строки
                    012-345-678-9
                </a>

                <div class="goods-cards__points">
                    <div class="labels">
                        <div class="labels__orange">+Х000 баллов</div>
                    </div>
                </div>

                <div class="goods-cards__price">
                    <div class="goods-cards__price__item">
                        12 345 <span class="rubl">₽</span>
                    </div>
                    <div class="goods-cards__price__item goods-cards__price__item--old">
                        12 345 <span class="rubl">₽</span>
                    </div>
                </div>
                
                <div class="goods-cards__to-cart">
                    <button class="button button-outline-green  button--full">
                        <span class="spinner-border"></span>
                        <span class="button__text">В корзину</span>
                    </button>
                </div>

                <div class="goods-cards__actions">
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-bookmark button-icon__icon"></i>
                        В избранное
                    </a>
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-stats button-icon__icon"></i>
                        Сравнить
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="grid-goods__col">
        <div class="goods-cards__item">

            <div class="goods-cards__image-size">
                <div class="goods-cards__image">
                    <img src="images/temp/goods/6.jpeg" alt="">
                </div>
                <div class="goods-cards__labels">
                    <div class="labels">
                        <div class="labels__red">Скидка</div>
                    </div>
                </div>
                <div class="goods-cards__quick-view">
                    <button class="button button-light-green button--full">Быстрый просмотр</button>
                </div>
            </div>
            
            <div class="goods-cards__desc">
                <a href="#" class="goods-cards__title">
                    Наименование товара высотой 
                    в карточке товара в три строки
                    012-345-678-9
                </a>

                <div class="goods-cards__points">
                    <div class="labels">
                        <div class="labels__orange">+Х000 баллов</div>
                    </div>
                </div>

                <div class="goods-cards__price">
                    <div class="goods-cards__price__item">
                        12 345 <span class="rubl">₽</span>
                    </div>
                    <div class="goods-cards__price__item goods-cards__price__item--old">
                        12 345 <span class="rubl">₽</span>
                    </div>
                </div>
                
                <div class="goods-cards__to-cart">
                    <button class="button button-outline-green  button--full">
                        <span class="spinner-border"></span>
                        <span class="button__text">В корзину</span>
                    </button>
                </div>

                <div class="goods-cards__actions">
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-bookmark button-icon__icon"></i>
                        В избранное
                    </a>
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-stats button-icon__icon"></i>
                        Сравнить
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="grid-goods__col">
        <div class="goods-cards__item">

            <div class="goods-cards__image-size">
                <div class="goods-cards__image">
                    <img src="images/temp/goods/7.jpeg" alt="">
                </div>
                <div class="goods-cards__labels">
                    <div class="labels">
                        <div class="labels__blue">Только онлайн</div>
                        <div class="labels__red">Скидка</div>
                    </div>
                </div>
                <div class="goods-cards__quick-view">
                    <button class="button button-light-green button--full">Быстрый просмотр</button>
                </div>
            </div>
            
            <div class="goods-cards__desc">
                <a href="#" class="goods-cards__title">
                    Наименование товара высотой 
                    в карточке товара в три строки
                    012-345-678-9
                </a>

                <div class="goods-cards__points">
                    <div class="labels">
                        <div class="labels__orange">+Х000 баллов</div>
                    </div>
                </div>

                <div class="goods-cards__price">
                    <div class="goods-cards__price__item">
                        12 345 <span class="rubl">₽</span>
                    </div>
                    <div class="goods-cards__price__item goods-cards__price__item--old">
                        12 345 <span class="rubl">₽</span>
                    </div>
                </div>
                
                <div class="goods-cards__to-cart">
                    <button class="button button-outline-green  button--full">
                        <span class="spinner-border"></span>
                        <span class="button__text">В корзину</span>
                    </button>
                </div>

                <div class="goods-cards__actions">
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-bookmark button-icon__icon"></i>
                        В избранное
                    </a>
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-stats button-icon__icon"></i>
                        Сравнить
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="grid-goods__col">
        <div class="goods-cards__item">

            <div class="goods-cards__image-size">
                <div class="goods-cards__image">
                    <img src="images/temp/goods/8.jpeg" alt="">
                </div>
                <div class="goods-cards__labels">
                    <div class="labels">
                        <div class="labels__red">Скидка</div>
                    </div>
                </div>
                <div class="goods-cards__quick-view">
                    <button class="button button-light-green button--full">Быстрый просмотр</button>
                </div>
            </div>
            
            <div class="goods-cards__desc">
                <a href="#" class="goods-cards__title">
                    Наименование товара высотой 
                    в карточке товара в три строки
                    012-345-678-9
                </a>

                <div class="goods-cards__points">
                    <div class="labels">
                        <div class="labels__orange">+Х000 баллов</div>
                    </div>
                </div>

                <div class="goods-cards__price">
                    <div class="goods-cards__price__item">
                        12 345 <span class="rubl">₽</span>
                    </div>
                    <div class="goods-cards__price__item goods-cards__price__item--old">
                        12 345 <span class="rubl">₽</span>
                    </div>
                </div>
                
                <div class="goods-cards__to-cart">
                    <button class="button button-outline-green  button--full">
                        <span class="spinner-border"></span>
                        <span class="button__text">В корзину</span>
                    </button>
                </div>

                <div class="goods-cards__actions">
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-bookmark button-icon__icon"></i>
                        В избранное
                    </a>
                    <a href="#" class="button-icon goods-cards__actions__item">
                        <i class="icon-stats button-icon__icon"></i>
                        Сравнить
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>
</div>