
<header class="header">
    <div class="page__center">
        <div class="page__outer page__inner header__main" id="header-main">
            <div class="header__main__burger">
                <button class="hamburger hamburger--squeeze" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="header__main__logo">
                <img src="images/header/mega-logo.svg" alt="Мега">
            </div>
            <div class="header__main__city">
                <button type="button" class="header__city js-panel-button" data-target="#panel-city" data-parent="#header-main">
                    <i class="icon-location header__city__icon"></i>
                    <span>Архангельск</span>
                </button>
            </div>
            <div class="header__main__search-area">

                <div class="header__search">
                    <i class="icon-search header__search__icon"></i>
                    <input type="text" class="input-classic header__search__input" placeholder="Что Вы ищете?">
                    <button type="submit" class="button button-orange header__search__button">Найти</button>
                </div>

                <aside class="panel panel-search panel-search--hidden" id="panel-search">
                    <div class="panel__box">
                        <div class="panel__body">
                            <div class="panel-search__tips">
                                <a href="#" class="panel-search__tips__item"><b>обои</b></a>
                                <a href="#" class="panel-search__tips__item"><b>обои</b> флизелиновые</a>
                                <a href="#" class="panel-search__tips__item"><b>обои</b> под покраску</a>
                                <a href="#" class="panel-search__tips__item">клей для обоев</a>
                                <a href="#" class="panel-search__tips__item">шпатель для обоев</a>
                            </div>
                            <div class="panel-search__break"></div>
                            <div class="panel-search__goods">
                                <div class="goods-simple">
                                    {{#repeat 3}}
                                    <div class="goods-simple__item goods-simple__item--link">
                                        <div class="goods-simple__image" style="background-image: url('images/temp/goods/2/1.jpeg');"></div>
                                        <div class="goods-simple__desc">
                                            <div class="goods-simple__title">Обои виниловые Elysium Авалон ограниченная серия Светящиеся в темноте звёзды Е21141 (1,06х10 м)</div>
                                            <div class="goods-simple__price">599 <span class="rubl">₽ / шт</span></div>
                                        </div>
                                        <a href="#" class="link-area"></a>
                                    </div>
                                    {{/repeat}}
                                </div>
                            </div>
                            <div class="panel-search__show-all">
                                <a href="#" class="button button-green button--full">Показать все результаты</a>
                            </div>
                        </div>
                    </div>
                </aside>
                
            </div>
            <div class="header__main__call js-panel-button" data-target="#panel-call" data-parent="#header-main">
                <div class="header__main__call__phone">
                    <i class="icon-phone"></i>
                    <span>8-800-222-12-40</span>
                </div>
                <div class="header__main__call__time">
                    Мы работаем с 8:00 до 21:00
                </div>
            </div>
            <nav class="header__main__own">
                <a href="#">
                    <i class="icon-heart"></i>
                    <span>5</span>
                </a>
                <a href="#" class="js-panel-button" data-target="#panel-cart" data-parent="#header-main">
                    <i class="icon-shopping-cart"></i>
                    <span>3</span>
                </a>
                <a href="#" class="js-panel-button" data-target="#panel-auth" data-parent='#header-main'>
                    <i class="icon-person"></i>
                </a>
            </nav>
            <div class="header__main__search-btn">
                <button type="button">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>

        <nav class="header__menu">
            <a href="#">
                <i class="icon-menu"></i>
                <span>Каталог</span>
            </a>
            <a href="#">Доставка</a>
            <a href="#">Сервисы</a>
            <a href="#">Мега Клуб</a>
            <a href="#">Блог</a>
            <a href="#">Магазины</a>
            <a href="#">Партнёрство</a>
        </nav>

        
    </div>
</header>

