
<header class="header">
    <div class="page__center">
        <div class="header__topbar">
            <div class="header__topbar__left">
                <b>Присоединяйтесь</b>
                <nav class="header__topbar__social">
                    <a href="#"><i class="icon-vk"></i></a>
                    <a href="#"><i class="icon-instagram"></i></a>
                </nav>
            </div>
            <div class="header__topbar__right">
                <a href="#">О компании</a>
                <a href="#">Об интернет-магазине</a>
            </div>
        </div>

        <div class="page__outer page__inner header__main">
            <div class="header__main__burger">
                <button class="hamburger hamburger--squeeze" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="header__main__logo">
                <img src="images/header/mega-logo.svg" alt="Мега">
            </div>
            <div class="header__main__city">
                <div class="header__main__city__label">Ваш город</div>
                <div class="header__main__city__name">
                    <a href="#">
                        <i class="icon-location"></i>
                        <span>Архангельск</span>
                    </a>
                </div>
            </div>
            <div class="header__main__search-area">
                <i class="icon-search"></i>
                <input type="text" class="input-classic" placeholder="Что Вы ищете?">
                <button type="submit" class="button button-orange">
                    Найти
                </button>
            </div>
            <div class="header__main__call">
                <div class="header__main__call__phone">
                    <i class="icon-phone"></i>
                    <span>8-800-222-12-40</span>
                </div>
                <div class="header__main__call__time">
                    Мы работаем с 8:00 до 21:00
                </div>
            </div>
            <nav class="header__main__own">
                <a href="#">
                    <i class="icon-heart"></i>
                    <span>5</span>
                </a>
                <a href="#">
                    <i class="icon-shopping-cart"></i>
                    <span>3</span>
                </a>
                <a href="#">
                    <i class="icon-person"></i>
                </a>
            </nav>
            <div class="header__main__search-btn">
                <button type="button">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>

        <nav class="header__menu">
            <a href="#">
                <i class="icon-menu"></i>
                <span>Каталог</span>
            </a>
            <a href="#">Доставка</a>
            <a href="#">Сервисы</a>
            <a href="#">Мега Клуб</a>
            <a href="#">Блог</a>
            <a href="#">Магазины</a>
            <a href="#">Партнёрство</a>
        </nav>

        
    </div>
</header>