<nav class="nav-path">
    <div class="page__center">
        <div class="nav-path__window">
            <a href="#">Главная</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Инструмент</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Электро-бензоинструмент</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Подарков для мужчин</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Лучший подарок мужчине</a>
            <i class="icon-arrow-right"></i>
            <span>Дрели электрические, перфораторы</span>
        </div>
    </div>
</nav>