<nav class="nav-pages">
    <a href="#" class="nav-pages__link"><i class="icon-first-page"></i></a>
    <a href="#" class="nav-pages__link"><i class="icon-arrow-left"></i></a>
    <span class="nav-pages__text nav-pages__text--now">1</span>
    <span class="nav-pages__text nav-pages__text--sep">/</span>
    <span class="nav-pages__text">7</span>
    <a href="#" class="nav-pages__link"><i class="icon-arrow-right"></i></a>
    <a href="#" class="nav-pages__link"><i class="icon-last-page"></i></a>
</nav>