
<nav class="nav-bottom" id="nav-bottom">
    <a href="index.html" class="nav-bottom__item">
        <div class="nav-bottom__icon nav-bottom__icon--home">
            <i class="icon-home"></i>
        </div>
        <div class="nav-bottom__text">Главная</div>
    </a>
    <a href="#" class="nav-bottom__item">
        <div class="nav-bottom__icon">
            <i class="icon-heart"></i>
            <div class="nav-bottom__count">5</div>
        </div>
        <div class="nav-bottom__text">Список</div>
    </a>
    <a href="cart.html" class="nav-bottom__item">
        <div class="nav-bottom__icon">
            <i class="icon-shopping-cart"></i>
            <div class="nav-bottom__count">3</div>
        </div>
        <div class="nav-bottom__text">Корзина</div>
    </a>
    <a href="#" class="nav-bottom__item active">
        <div class="nav-bottom__icon">
            <i class="icon-person"></i>
        </div>
        <div class="nav-bottom__text">Профиль</div>
    </a>
    <a href="catalog-menu-1.html" class="nav-bottom__item">
        <div class="nav-bottom__icon nav-bottom__icon--tiles">
            <i class="icon-menu"></i>
        </div>
        <div class="nav-bottom__text">Каталог</div>
    </a>

</nav>

