<nav class="nav-path">
    <div class="page__center">
        <div class="nav-path__window">
            <a href="#">Главная</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Инструмент</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Электро-бензоинструмент</a>
            <i class="icon-arrow-right"></i>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem excepturi natus culpa ipsum a, repellat cum perspiciatis reiciendis ut officia, iste ipsam voluptatum necessitatibus dolorem quos voluptate beatae inventore. Numquam.</a>
            <i class="icon-arrow-right"></i>
            <span>Дрели электрические, перфораторы</span>
        </div>
    </div>
</nav>