<form action="#" class="order-details checkbox-default">
    <div class="order-details__header">
        <div class="order-details__title">Контактная информация</div>
    </div>
    <div class="order-details__body">
        <div class="order-details__list order-details__row">
            <div class="order-details__item order-details__col order-details__col--6">
                <label class="order-details__label">Имя</label>
                <input type="text" class="input input-default input--full" value="Елена" readonly>
            </div>
            
            <div class="order-details__item order-details__col order-details__col--6">
                <label class="order-details__label">Фамилия</label>
                <input type="text" class="input input-default input--full" value="Кочеткова" readonly>
            </div>
            
            <div class="order-details__item order-details__col order-details__col--6">
                <label class="order-details__label">Номер телефона</label>
                <input type="text" class="input input-default input--full" value="+79297287334" readonly>
            </div>
            
            <div class="order-details__item order-details__col order-details__col--6">
                <label class="order-details__label">E-mail</label>
                <input type="text" class="input input-default input--full" value="elena.kochenkova@gmail.com" readonly>
            </div>
            
            <div class="order-details__item order-details__col">
                <label class="order-details__label">Адрес</label>
                <input type="text" class="input input-default input--full" value="г. Москва, Строителей 56-377" readonly>
            </div>
        </div>
    </div>
</form>

<form action="#" class="order-details checkbox-default">
    <div class="order-details__header">
        <div class="order-details__title">Способ доставки</div>
    </div>
    <div class="order-details__body">

        <div class="order-details__list">
            <div class="order-details__item">
                <label class="order-details__check order-details__check--radio">
                    <input type="radio" name="radio1" checked>
                    <span>Доставка</span>
                </label>
            </div>

            <div class="order-details__item">
                <div class="order-details__label-lg">Дата доставки</div>
                <input type="text" class="input input-default input--full" value="12.05.2021" readonly>
            </div>

            <div class="order-details__total">
                Стоимость доставки: <strong>бесплатно</strong>
            </div>
            
        </div>

    </div>
</form>

<form action="#" class="order-details checkbox-default">
    <div class="order-details__header">
        <div class="order-details__title">Способ оплаты</div>
    </div>
    <div class="order-details__body">
        
        <div class="order-details__list">
            <div class="order-details__item">
                <label class="order-details__check order-details__check--radio">
                    <input type="radio" name="radio3" checked>
                    <span>Безналичная оплата при получении</span>
                </label>
            </div>
        </div>

    </div>

</form>

<form action="#" class="order-details checkbox-default">
    <div class="order-details__header">
        <div class="order-details__title">Комментарий к заказу</div>
    </div>
    <div class="order-details__body">

        <div class="order-details__list">

            <div class="order-details__item">
                <textarea class="input input-default input--full" placeholder="Ваш комментарий"></textarea>
            </div>

            <div class="order-details__actions">
                <button type="button" class="button button-green">
                    Повторить заказ
                </button>
                <button type="button" class="button button-outline-green button--light">
                    Купить в 1 клик
                </button>
            </div>
        </div>
    
    </div>
</form>