<div class="page__more">
    <button class="button button-light-green button--full">
        <span class="spinner-border"></span>
        <span class="button__text">Показать ещё</span>
    </button>
</div>