{{!--  попап выбора города --}}
<aside class="popup popup-city" id="popup-city">
    <div class="popup__overlay">
        <div class="popup__loader">
            <div class="spinner"></div>
        </div>
    </div>
    <div class="popup__window">
        <div class="popup__content">
            <div class="page__center">
                <div class="popup__center">

                    <div class="popup__panel popup-city__panel">
                        <div class="popup__header">
                            Выберите город
                            <button type="button" class="popup__close js-popup-city-close">
                                <i class="icon-close"></i>
                            </button>
                        </div>
                        <div class="popup__body popup-city__body">

                           <div class="popup-city__confirm active">
                                <div class="popup-city__title">Архангельск</div>
                                <div class="popup-city__btns-apply">
                                    <div class="popup-city__btns-apply__item">
                                        <button type="button" class="button button-green button--full">
                                            Да, верно
                                        </button>
                                    </div>
                                    <div class="popup-city__btns-apply__item">
                                        <button type="button" class="button button-outline-green button--full js-popup-city-select">
                                            Нет, другой
                                        </button>
                                    </div>
                                </div>
                           </div>

                            <div class="popup-city__select">
                                <a href="#" class="popup-city__item active">Архангельск</a>
                                <a href="#" class="popup-city__item">Северодвинск</a>
                                <a href="#" class="popup-city__item">Сыктывкар</a>
                            </div>

                        </div>
                        <div class="popup__footer popup-city__footer">
                            От выбранного города зависят цены, наличие товара и способы доставки.
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</aside>
{{!-- /попап выбора города --}}