{{!--  попап добавить отзывы --}}
<aside class="popup popup-review" id="popup-review">
    <div class="popup__overlay">
        <div class="popup__loader">
            <div class="spinner"></div>
        </div>
    </div>
    <div class="popup__window">
        <div class="popup__content">
            <div class="page__center">
                <div class="popup__center">

                    <div class="popup__panel popup-review__panel">
                        <div class="popup__header">
                            Ваш заказ
                            <button type="button" class="popup__close js-popup-close">
                                <i class="icon-close"></i>
                            </button>
                        </div>
                        <div class="popup__body popup-review__body">

                            <form action="#" class="form-review">

                                <div class="h2">Аккумуляторная дрель-шуруповерт BossGSR 18V-60</div>

                                <div class="form-review__rating">
                                    <div class="form-review__rating__label">Оцените товар:</div>
                                    <div class="form-review__rating__stars">
                                        <div class="rating">
                                            <div class="rating__stars">
                                                <div class="rating__stars__value" style="width: 0%;"></div>
                                                <div class="rating__stars__vote">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <input type="hidden">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-review__item">
                                    <label class="form-review__label">Достоинства</label>
                                    <textarea class="input-classic" placeholder="Опишите достоинства товара"></textarea>
                                </div>

                                <div class="form-review__item">
                                    <label class="form-review__label">Недостатки</label>
                                    <textarea class="input-classic" placeholder="Опишите недостатки товара"></textarea>
                                </div>

                                <div class="form-review__item">
                                    <label class="form-review__label">Комментарий</label>
                                    <textarea class="input-classic" placeholder="Ваш комментарий"></textarea>
                                </div>

                                <div class="form-review__agree">
                                    <label class="check-default">
                                        <input type="checkbox">
                                        <span>Я согласен с <a href="#" target="_blank">обработку персональных данных</a></span>
                                    </label>
                                </div>

                                <div class="form-review__apply">
                                    <button type="button" class="button button-green button--full">
                                        Сохранить
                                    </button>
                                </div>
                            </form>

                        </div>
                        <div class="popup__footer">
                            <span>Возникли проблемы? Посетите раздел <a href="#">Вопросы</a></span>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</aside>
{{!-- /попап добавить отзывы --}}