{{!--  попап успешно заказ --}}
<aside class="popup popup-status popup-status--success" id="popup-success-order">
    <div class="popup__overlay">
        <div class="popup__loader">
            <div class="spinner"></div>
        </div>
    </div>
    <div class="popup__window">
        <div class="popup__content">
            <div class="page__center">
                <div class="popup__center">

                    <div class="popup__panel popup-status__panel">
                        <div class="popup__header ">
                            Ваш заказ
                            <button type="button" class="popup__close js-popup-close">
                                <i class="icon-close"></i>
                            </button>
                        </div>
                        <div class="popup__body popup-status__body">
                            <div class="popup-status__icon popup-status__icon--success">
                                <i class="icon-checked"></i>
                            </div>
                            <div class="popup-status__message">
                                Заказ принят в работу. Менеджер уточнит сроки и условия доставки и перезвонит вам в ближайшее время.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</aside>
{{!-- /попап успешно заказ --}}
