{{!--  попап ошибка заказ --}}
<aside class="popup popup-status popup-status--error" id="popup-error-order">
    <div class="popup__overlay">
        <div class="popup__loader">
            <div class="spinner"></div>
        </div>
    </div>
    <div class="popup__window">
        <div class="popup__content">
            <div class="page__center">
                <div class="popup__center">

                    <div class="popup__panel popup-status__panel">
                        <div class="popup__header">
                            Ваш заказ
                            <button type="button" class="popup__close js-popup-close">
                                <i class="icon-close"></i>
                            </button>
                        </div>
                        <div class="popup__body popup-status__body">
                            <div class="popup-status__icon popup-status__icon--error">
                                <i class="icon-close"></i>
                            </div>
                            <div class="popup-status__message">
                                Произошла неизвестная ошибка. Пожалуйста, обратитесь в поддержку по телефону 8-800-222-12-40.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</aside>
{{!-- /попап ошибка заказ --}}