<div class="nav-info__paper">
    <article class="article">
        <strong>Дрель Boss EasyImpact 550</strong> – инструмент от надежного производителя. Компания выпускает проверенное оборудование, которое прослужит вам в течение длительного периода. Дрель удобна в использовании и отлично справляется со своими задачами.
        <br>Модель Bosch EasyImpact 550 получила мощность 550 Вт. Патрон быстрозажимного типа. Удается оперативно сменить оснастку и продолжить выполнять работы. Максимальная скорость вращения – 3000 оборотов в минуту. Также дрель наносит 33000 ударов за этот период.
        <br>Диаметр зажима в патроне составляет от 2 до 13 мм. Есть функция реверса, она позволяет запустить вращение в противоположном направлении. Дрель подойдет для сверления различных материалов – кирпича, бетона, древесины, металла.
        <br>Подключается модель к сети с напряжением 220 В. Используется кабель с оптимальной длиной 2.5 м. В комплекте предоставляется дополнительная рукоятка. Она позволяет снизить выраженность вибраций при работе. Также покупатель получает кейс. Он используется для хранения инструмента и его переноски.
    </article>
</div>