

<div class="product-reviews">

    <div class="product-reviews__header">
        <div>
            <button type="button" class="button button-green product-reviews__button js-popup-open" data-target="#popup-review">
                Написать отзыв
            </button>
        </div>
        <div class="product-reviews__header__sorting">
            <select>
                <option>По популярности (убывание)</option>
                <option>По популярности (возрастание)</option>
                <option>По рейтингу (убывание)</option>
                <option>По рейтингу (возрастание)</option>
                <option>По цене (убывание)</option>
                <option>По цене (возрастание)</option>
            </select>
        </div>
    </div>
    
    <div class="product-reviews__list">

        <div class="product-reviews__item">

            <div class="product-reviews__author">
                <div class="product-reviews__author__name">Иван К.</div>
                <div class="product-reviews__author__city">Архангельск</div>
                <div class="product-reviews__author__time">
                    02.05.2021<br>
                    12:03:40
                </div>
            </div>
            
            <div class="product-reviews__desc">

                <div class="rating product-reviews__rating">
                    <div class="rating__stars"><div style="width: 68%;"></div></div>
                    <div class="rating__count">(23)</div>
                </div>
                
                <div class="product-reviews__text">
                    <h6>Достоинства</h6>
                    <p>Шуруповерт в деле меня не подвел. На одном заряде работает около 6 ч. В деле показал себя прекрасно. Справляется с любыми крепежными элементами и сверлением по металлу. Сам шурик очень легкий и компактный. Его приятно держать в руке. Кисть от веса не устает, когда долго работаешь. </p>

                    <h6>Недостатки</h6>
                    <p>Не обнаружил. Минус - слабые биты. </p>

                    <h6>Комментарий</h6>
                    <p>Покупал шуруповерт когда собирался делать забор из профлиста. Как по мне в соотношении такой цены и представленного качества это один из отличных вариантов. Довольно быстро заряжается и есть специальные индикаторы заряда-разряда батареи.</p>
                </div>

                <div class="product-reviews__reply">
                    
                    <div class="product-reviews__likes">
                        <button type="button" class="button-like">
                            <i class="icon-like"></i>
                            <span class="button-like__count">6</span>
                        </button>
                        <button type="button" class="button-like">
                            <i class="icon-dislike"></i>
                            <span class="button-like__count button-like__count--red">2</span>
                        </button>
                    </div>

                    <div class="product-reviews__write">
                        <button type="button" class="button-collapse collapsed" data-bs-toggle="collapse" data-bs-target="#product-reviews-1">
                            <span>Оставить комментарий</span>
                            <i class="icon-arrow-up"></i>
                        </button>
                    </div>
                    
                </div>

                <div class="collapse" id="product-reviews-1">
                    <form action="#" class="product-reviews__form">
                        <div class="product-reviews__form__input">
                            <textarea class="input-classic" placeholder="Ваш комментарий"></textarea>
                        </div>
                        <div class="product-reviews__form__button">
                            <button type="submit" class="button button-green product-reviews__button">Отправить</button>
                        </div>
                    </form>
                </div>

                

            </div>
        </div>

    </div>

    <div class="page__more product-reviews__more">
        <button class="button button-light-green button--full">
            <span class="spinner-border"></span>
            <span class="button__text">Показать ещё</span>
        </button>
    </div>

</div>
