
<div class="nav-info__paper">

    <div class="product-reviews">

        <div class="product-reviews__header">
            <div class="product-reviews__header__add-new">
                <button type="button" class="button button-green">
                    Написать отзыв
                </button>
            </div>
            <div class="product-reviews__header__sorting">
                <select>
                    <option>По популярности (убывание)</option>
                    <option>По популярности (возрастание)</option>
                    <option>По рейтингу (убывание)</option>
                    <option>По рейтингу (возрастание)</option>
                    <option>По цене (убывание)</option>
                    <option>По цене (возрастание)</option>
                </select>
            </div>
        </div>
        
        <div class="product-reviews__list">
            {{#repeat 2}}
            <div class="product-reviews__item">
                <div class="product-reviews__author">
                    <div class="product-reviews__author__name">Иван К.</div>
                    <div class="product-reviews__author__city">Архангельск</div>
                    <div class="product-reviews__author__date">
                        02.05.2021
                        <br>12:03:40
                    </div>
                </div>
                <div class="product-reviews__desc">
                    <div class="rating product-reviews__rating">
                        <div class="rating__stars">
                            <div style="width: 68%;"></div>
                        </div>
                        <div class="rating__count">(23)</div>
                    </div>
                    <div class="product-reviews__comment">
                        <div class="product-reviews__comment__title">Достоинства</div>
                        <div class="product-reviews__comment__desc">
                            Шуруповерт в деле меня не подвел. На одном заряде работает около 6 ч. В деле показал себя прекрасно. Справляется с любыми крепежными элементами и сверлением по металлу. Сам шурик очень легкий и компактный. Его приятно держать в руке. Кисть от веса не устает, когда долго работаешь. 
                        </div>
                    </div>
                    <div class="product-reviews__comment">
                        <div class="product-reviews__comment__title">Недостатки</div>
                        <div class="product-reviews__comment__desc">
                            Не обнаружил. Минус - слабые биты. 
                        </div>
                    </div>
                    <div class="product-reviews__comment">
                        <div class="product-reviews__comment__title">Комментарий</div>
                        <div class="product-reviews__comment__desc">
                            Покупал шуруповерт когда собирался делать забор из профлиста. Как по мне в соотношении такой цены и представленного качества это один из отличных вариантов. Довольно быстро заряжается и есть специальные индикаторы заряда-разряда батареи. 
                        </div>
                    </div>
                    <div class="product-reviews__voting">
                        <div class="product-reviews__voting__form">
                            <span class="product-reviews__voting__label">Ответ был полезен?</span>
                            <button type="button" class="product-reviews__voting__yes">Да</button>
                            <button type="button" class="product-reviews__voting__no">Нет</button>
                        </div>
                        <div class="product-reviews__voting__result">
                            4 человека считают этот отзыв <span>полезным</span>
                        </div>
                    </div>
                    <div class="product-reviews__answer">
                        <button type="button" class="product-reviews__answer__button">Оставить комментарий</button>
                    </div>
                </div>
            </div>
            {{/repeat}}
            
        </div>

        <div class="product-reviews__show-more">
            <button type="button" class="button button-outline-green">Показать ещё</button>
        </div>

    </div>

</div>