<div class="page__paper">
    <div class="article">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus soluta blanditiis impedit! Excepturi placeat esse deleniti natus possimus voluptatibus dicta sapiente dolor ipsam illum, reiciendis incidunt iusto rem voluptatem consectetur?
    </div>
</div>