<div class="product">
    <div class="product__gallery">
        <section class="gallery" id="gallery">
            <div class="gallery__image">
                <div class="gallery__image__default">
                    <img src="images/temp/gallery/1/1.webp" alt="">
                </div>
                <div class="gallery__image__zoomed" style="background-image: url('images/temp/gallery/1/1.webp');"></div>
            </div>
            <div class="gallery__nav">
                <div class="gallery__nav__window" data-simplebar>
                    <div class="gallery__nav__list">
                        <div class="gallery__nav__item active">
                            <img src="images/temp/gallery/1/1.webp" alt="">
                        </div>
                        <div class="gallery__nav__item">
                            <img src="images/temp/gallery/1/2.webp" alt="">
                        </div>
                        <div class="gallery__nav__item">
                            <img src="images/temp/gallery/1/3.webp" alt="">
                        </div>
                        <div class="gallery__nav__item">
                            <img src="images/temp/gallery/1/1.webp" alt="">
                        </div>
                        <div class="gallery__nav__item">
                            <img src="images/temp/gallery/1/2.webp" alt="">
                        </div>
                        <div class="gallery__nav__item">
                            <img src="images/temp/gallery/1/3.webp" alt="">
                        </div>
                        <div class="gallery__nav__item">
                            <img src="images/temp/gallery/1/2.webp" alt="">
                        </div>
                        <div class="gallery__nav__item">
                            <img src="images/temp/gallery/1/3.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="product__props">
        <section class="product-props product-props--short">
            <h3 class="product-props__title">Характеристики</h3>

            <div class="product-props__list">
                <dl>
                    <dt>
                        <span>
                            Тип <i class="icon-help-circle product-props__info js-tooltip" title="Перейти к товарам данной категории"></i>
                        </span>
                    </dt>
                    <dd>
                        <a href="#" class="js-tooltip" title="Перейти к товарам данной категории">Дрель-шуруповерт</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <span>
                            Вид питания
                        </span>
                    </dt>
                    <dd>
                        Сменный аккумулятор
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <span>
                            Напряжение аккумулятора
                        </span>
                    </dt>
                    <dd>
                        18 В
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <span>
                            Тип аккумулятора
                        </span>
                    </dt>
                    <dd>
                        Li-ion
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <span>
                            Количество аккумуляторов в комплекте
                        </span>
                    </dt>
                    <dd>
                        2
                    </dd>
                </dl>
            </div>

            <div class="product-props__more">
                <a href="#">Смотреть все характеристики</a>
            </div>
            
        </section>
    </div>
    <div class="product__order">
        {{> checkout-product }}
    </div>
</div>