<section class="props props--panel scale-mobile">
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Тип <i class="icon-help-circle props__info js-tooltip" title="Перейти к товарам данной категории"></i>
            </span>
        </dt>
        <dd class="props__value">
            <a href="#" class="js-tooltip" title="Перейти к товарам данной категории">Дрель-шуруповерт</a>
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Вид питания
            </span>
        </dt>
        <dd class="props__value">
            Сменный аккумулятор
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Напряжение аккумулятора
            </span>
        </dt>
        <dd class="props__value">
            18 В
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Тип аккумулятора
            </span>
        </dt>
        <dd class="props__value">
            Li-ion
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Количество аккумуляторов в комплекте
            </span>
        </dt>
        <dd class="props__value">
            2
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Функциональные особенности
            </span>
        </dt>
        <dd class="props__value">
            Автоотключение при перегреве
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Конструктивные особенности
            </span>
        </dt>
        <dd class="props__value">
            Рукоятки с резиновым покрытием
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Режимы работы
            </span>
        </dt>
        <dd class="props__value">
            <a href="#">Сверление</a>
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Тип патрона
            </span>
        </dt>
        <dd class="props__value">
            <a href="#">Быстрозажимной</a>
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Крутящий момент, Нм
            </span>
        </dt>
        <dd class="props__value">
            50
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Время работы от аккумулятора, ч.
            </span>
        </dt>
        <dd class="props__value">
            0.8
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Количество скоростей
            </span>
        </dt>
        <dd class="props__value">
            2
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Макс. обороты на 1ой скорости, об./мин
            </span>
        </dt>
        <dd class="props__value">
            460
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Макс. обороты на 2ой скорости, об./мин
            </span>
        </dt>
        <dd class="props__value">
            1800
        </dd>
    </dl>
    <dl class="props__item">
        <dt class="props__label">
            <span class="props__name">
                Макс. диаметр патрона, мм
            </span>
        </dt>
        <dd class="props__value">
            13
        </dd>
    </dl>
</section>