<div class="nav-info__paper">
    <section class="product-props product-props--all">
        <dl>
            <dt>
                <span>
                    Тип <i class="icon-help-circle product-props__info js-tooltip" title="Перейти к товарам данной категории"></i>
                </span>
            </dt>
            <dd>
                <a href="#" class="js-tooltip" title="Перейти к товарам данной категории">Дрель-шуруповерт</a>
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Вид питания
                </span>
            </dt>
            <dd>
                Сменный аккумулятор
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Напряжение аккумулятора
                </span>
            </dt>
            <dd>
                18 В
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Тип аккумулятора
                </span>
            </dt>
            <dd>
                Li-ion
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Количество аккумуляторов в комплекте
                </span>
            </dt>
            <dd>
                2
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Функциональные особенности
                </span>
            </dt>
            <dd>
                Автоотключение при перегреве
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Конструктивные особенности
                </span>
            </dt>
            <dd>
                Рукоятки с резиновым покрытием
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Режимы работы
                </span>
            </dt>
            <dd>
                <a href="#">Сверление</a>
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Тип патрона
                </span>
            </dt>
            <dd>
                <a href="#">Быстрозажимной</a>
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Крутящий момент, Нм
                </span>
            </dt>
            <dd>
                50
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Время работы от аккумулятора, ч.
                </span>
            </dt>
            <dd>
                0.8
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Количество скоростей
                </span>
            </dt>
            <dd>
                2
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Макс. обороты на 1ой скорости, об./мин
                </span>
            </dt>
            <dd>
                460
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Макс. обороты на 2ой скорости, об./мин
                </span>
            </dt>
            <dd>
                1800
            </dd>
        </dl>
        <dl>
            <dt>
                <span>
                    Макс. диаметр патрона, мм
                </span>
            </dt>
            <dd>
                13
            </dd>
        </dl>
    </section>
</div>