<div class="goods-list goods-list--panel scale-mobile">
        
    <aside class="sorting">
        <div class="sorting__left">
            <select>
                <option>По популярности (убывание)</option>
                <option>По популярности (возрастание)</option>
                <option>По рейтингу (убывание)</option>
                <option>По рейтингу (возрастание)</option>
                <option>По цене (убывание)</option>
                <option>По цене (возрастание)</option>
            </select>
        </div>
        <div class="sorting__right">
            <div class="sorting__count">Товаров: <span class="sorting__count__value">5</span></div>
        </div>
    </aside>

    <div class="goods-list__list">
        <div class="goods-list__item goods-list__item--favorites">
            <div class="goods-list__image">
                <div class="goods-cards__image-size">
                    <div class="goods-cards__image">
                        <img src="images/temp/goods/1.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="goods-list__desc">
                <div class="goods-list__code">Артикул: 897-356</div>
                <div class="goods-list__title">
                    <a href="#">Дрель AEК BE 750 R 449160</a>
                </div>
                <div class="rating goods-list__rating">
                    <div class="rating__stars">
                        <div style="width: 68%;"></div>
                    </div>
                    <div class="rating__count">(23)</div>
                </div>
                <button type="button" class="goods-list__close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="goods-list__props">
                <div class="goods-list__props__inner">
                    <div class="goods-list__prop">
                        <div>В наличии</div>
                        <div>7 шт</div>
                    </div>
                    <div class="goods-list__prop">
                        <div>Доставка</div>
                        <div>завтра</div>
                    </div>
                    <div class="goods-list__prop">
                        <div>Самовывоз</div>
                        <div>сегодня</div>
                    </div>
                </div>
            </div>
            <div class="goods-list__rest">
                <div class="goods-list__price">5 120 <span class="rubl">₽ / шт</span></div>
                <div class="goods-list__points"><span>+42</span> балла на карту</div>
                <div class="goods-list__buttons">
                    <button type="button" class="button button-outline-green">В корзину</button>
                </div>
            </div>
            <div class="goods-list__buttons goods-list__buttons--col">
                <button type="button" class="button button-outline-green">В корзину</button>
                <button type="button" class="button button-green">Купить в 1 клик</button>
            </div>
        </div>

        <div class="goods-list__item goods-list__item--favorites">
            <div class="goods-list__image">
                <div class="goods-cards__image-size">
                    <div class="goods-cards__image">
                        <img src="images/temp/goods/2.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="goods-list__desc">
                <div class="goods-list__code">Артикул: 897-356</div>
                <div class="goods-list__title">
                    <a href="#">Дрель AEК BE 750 R 449160</a>
                </div>
                <div class="rating goods-list__rating">
                    <div class="rating__stars">
                        <div style="width: 68%;"></div>
                    </div>
                    <div class="rating__count">(23)</div>
                </div>
                <button type="button" class="goods-list__close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="goods-list__props">
                <div class="goods-list__props__inner">
                    <div class="goods-list__prop">
                        <div>В наличии</div>
                        <div>7 шт</div>
                    </div>
                    <div class="goods-list__prop">
                        <div>Доставка</div>
                        <div>завтра</div>
                    </div>
                    <div class="goods-list__prop">
                        <div>Самовывоз</div>
                        <div>сегодня</div>
                    </div>
                </div>
            </div>
            <div class="goods-list__rest">
                <div class="goods-list__price">5 120 <span class="rubl">₽ / шт</span></div>
                <div class="goods-list__points"><span>+42</span> балла на карту</div>
                <div class="goods-list__buttons">
                    <button type="button" class="button button-outline-green">В корзину</button>
                </div>
            </div>
            <div class="goods-list__buttons goods-list__buttons--col">
                <button type="button" class="button button-outline-green">В корзину</button>
                <button type="button" class="button button-green">Купить в 1 клик</button>
            </div>
        </div>

        <div class="goods-list__item goods-list__item--favorites">
            <div class="goods-list__image">
                <div class="goods-cards__image-size">
                    <div class="goods-cards__image">
                        <img src="images/temp/goods/3.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="goods-list__desc">
                <div class="goods-list__code">Артикул: 897-356</div>
                <div class="goods-list__title">
                    <a href="#">Ударная дрель Boss ДЭУ-6500 </a>
                </div>
                <div class="rating goods-list__rating">
                    <div class="rating__stars">
                        <div style="width: 68%;"></div>
                    </div>
                    <div class="rating__count">(23)</div>
                </div>
                <button type="button" class="goods-list__close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="goods-list__props">
                <div class="goods-list__props__inner">
                    <div class="goods-list__prop">
                        <div>В наличии</div>
                        <div>7 шт</div>
                    </div>
                    <div class="goods-list__prop">
                        <div>Доставка</div>
                        <div>завтра</div>
                    </div>
                    <div class="goods-list__prop">
                        <div>Самовывоз</div>
                        <div>сегодня</div>
                    </div>
                </div>
            </div>
            <div class="goods-list__rest">
                <div class="goods-list__price">5 120 <span class="rubl">₽ / шт</span></div>
                <div class="goods-list__points"><span>+42</span> балла на карту</div>
                <div class="goods-list__buttons">
                    <button type="button" class="button button-outline-green">В корзину</button>
                </div>
            </div>
            <div class="goods-list__buttons goods-list__buttons--col">
                <button type="button" class="button button-outline-green">В корзину</button>
                <button type="button" class="button button-green">Купить в 1 клик</button>
            </div>
        </div>
    </div>

    <div class="goods-list__remove">
        <button class="button button-outline-black">Удалить все</button>
    </div>

</div>