<form action="#" class="form scale-mobile">
    <div class="form__header">
        <div class="form__title">Ваши данные</div>
    </div>
    <div class="form__body">
        <div class="form__list">

            <div class="form__row">
                <div class="form__item form__col form__col--6">
                    <label class="form__label">Имя</label>
                    <input type="text" class="input-classic" placeholder="Ваше имя">
                </div>
                
                <div class="form__item form__col form__col--6">
                    <label class="form__label">Фамилия</label>
                    <input type="text" class="input-classic" placeholder="Ваша фамилия">
                </div>
                
                <div class="form__item form__col form__col--6">
                    <label class="form__label">Номер телефона</label>
                    <input type="text" class="input-classic" placeholder="+7(___)___-__-__" data-mask="+7(000)000-00-00">
                </div>
                
                <div class="form__item form__col form__col--6">
                    <label class="form__label">E-mail</label>
                    <input type="text" class="input-classic" placeholder="Ваш e-mail">
                </div>
                
                <div class="form__item form__col">
                    <label class="form__label">Адрес</label>
                    <input type="text" class="input-classic" placeholder="Ваш адрес">
                </div>
            </div>

            <div class="form__item">
                <label class="check-default">
                    <input type="checkbox">
                    <span>Я согласен с <a href="#" target="_blank">обработку персональных данных</a></span>
                </label>
            </div>

            <div class="form__actions">
                <button type="button" class="button button-green">
                    Сохранить изменения
                </button>
            </div>

            <div class="form__sep"></div>

            <div class="form__auth">
                <div class="form__auth__desc">
                    Вы можете связать свой профиль с профилями в социальных сетях и сервисах:
                </div>
                <div class="form__auth__icons">
                    <a href="#" class="form__auth__icons__item form__auth__icons__item--vk">
                        <i class="icon-vk-share"></i>
                    </a>
                </div>
            </div>
            
        </div>

    </div>
</form>