
<section class="my-cards">

    <h3 class="my-cards__header">Карты</h3>

    <div class="my-cards__body">
        <div class="my-cards__item">
            <div class="my-cards__col-image">
                <div class="image-box my-cards__demo" style="padding-top: 63%;"></div>
            </div>
            <div class="my-cards__col-desc">
                <div class="my-cards__name">Карта МЕГА</div>
                <div class="my-cards__balance">Количество баллов: 349</div>
                <div class="my-cards__info">Карточный счет *9439</div>
                <nav class="my-cards__menu">
                    <a href="#">Закрыть</a>
                    <a href="#">Реквизиты</a>
                    <a href="#">Ещё</a>
                </nav>
            </div>
        </div>
    </div>


</section>

<section class="my-shopping">

    <h3  class="my-shopping__header">История покупок</h3>

    <div class="my-shopping__body">
        <div class="my-shopping__sorting">
            <div class="my-shopping__sorting__select">
                <select>
                    <option>Все магазины</option>
                    <option>Мега Архангельск</option>
                    <option>Мега Северодвинск</option>
                    <option>Мега Сыктывкар</option>
                    <option>Мега Лайт Соломбала</option>
                    <option>Мега Лайт Петромост</option>
                    <option>Мега Лайт в БУМ</option>
                </select>
            </div>
            <div class="my-shopping__sorting__select">
                <select>
                    <option>7 дней</option>
                    <option>30 дней</option>
                    <option>90 дней</option>
                    <option>все время</option>
                </select>
            </div>
        </div>

        <div class="my-shopping__list">
            <div class="my-shopping__item">
                <div class="my-shopping__name">МЕГА Архангельск</div>
                <div class="my-shopping__date">12 июня 2020, 17:58</div>
                <div class="my-shopping__sum">–235</div>
            </div>

            <div class="my-shopping__item">
                <div class="my-shopping__name">МЕГА Архангельск</div>
                <div class="my-shopping__date">12 июня 2020, 17:58</div>
                <div class="my-shopping__sum">–235</div>
            </div>
        </div>

        <div class="my-shopping__more">
            <button type="button" class="button button-light-green">Показать еще</button>
        </div>

    </div>
    

</section>

