
<section class="my-history">

    <div class="my-history__sorting">
        <div class="my-history__sorting__select">
            <select>
                <option>Все магазины</option>
                <option>Мега Архангельск</option>
                <option>Мега Северодвинск</option>
                <option>Мега Сыктывкар</option>
                <option>Мега Лайт Соломбала</option>
                <option>Мега Лайт Петромост</option>
                <option>Мега Лайт в БУМ</option>
            </select>
        </div>
        <div class="my-history__sorting__count">Заказов: 44</div>
    </div>

    <div class="my-history__body">
        <div class="my-history__head">
            <div>
                <div>№ заказа</div>
                <div>Дата создания</div>
            </div>
            <div>
                <div>Товары</div>
                <div>Сумма</div>
            </div>
            <div>
                <div>Статус</div>
            </div>
        </div>
        <div class="my-history__item">
            <div class="my-history__item__row">
                <div>
                    <div>165-963</div>
                    <div>5.06.2021</div>
                </div>
                <div>
                    <div>5 шт.</div>
                    <div>7 965 ₽</div>
                </div>
                <div>
                    <div class="my-history__collapse my-history__collapse--pending">
                        <button type="button" class="button-collapse collapsed"
                            data-bs-toggle="collapse" 
                            data-bs-target="#my-history-1">
                            <span>Исполняется</span>
                            <i class="icon-arrow-up"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse" id="my-history-1">
                <div class="my-history__item__data">
                    
                    {{> goods-list }}

                    <div class="my-history__repeat">
                        <button type="button" class="button button-green">Повторить заказ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-history__item">
            <div class="my-history__item__row">
                <div>
                    <div>165-963</div>
                    <div>5.06.2021</div>
                </div>
                <div>
                    <div>5 шт.</div>
                    <div>7 965 ₽</div>
                </div>
                <div>
                    <div class="my-history__collapse my-history__collapse--pending">
                        <button type="button" class="button-collapse collapsed"
                            data-bs-toggle="collapse" 
                            data-bs-target="#my-history-2">
                            <span>Исполняется</span>
                            <i class="icon-arrow-up"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse" id="my-history-2">
                <div class="my-history__item__data">
                    
                    {{> goods-list }}

                    <div class="my-history__repeat">
                        <button type="button" class="button button-green">Повторить заказ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-history__item">
            <div class="my-history__item__row">
                <div>
                    <div>165-963</div>
                    <div>5.06.2021</div>
                </div>
                <div>
                    <div>5 шт.</div>
                    <div>7 965 ₽</div>
                </div>
                <div>
                    <div class="my-history__collapse my-history__collapse--success">
                        <button type="button" class="button-collapse collapsed"
                            data-bs-toggle="collapse" 
                            data-bs-target="#my-history-3">
                            <span>Выполнен</span>
                            <i class="icon-arrow-up"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse" id="my-history-3">
                <div class="my-history__item__data">
                    
                    {{> goods-list }}

                    <div class="my-history__repeat">
                        <button type="button" class="button button-green">Повторить заказ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-history__more">
        <button class="button button-light-green button--full">
            <span class="spinner-border"></span>
            <span class="button__text">Показать ещё</span>
        </button>
    </div>
</section>