
<aside class="promo-best-price">
    <h3 class="promo-best-price__title">
        Нашли дешевле?
        <br> Cнизим цену!
    </h3>
    <a href="#" class="button button-outline-white promo-best-price__button">
        <span>Подробнее</span>
        <i class="icon-arrow-forward"></i>
    </a>
</aside>