<aside class="promo-1">
    <div class="promo-1__crop">
        <div class="promo-1__slider">
            <div class="promo-1__slider__item">
                <div class="promo-1__content" style="background: #ef1a1a;">
                    <div class="promo-1__desc">
                        <h3  class="promo-1__title">Скидки к 23 февраля</h3> 
                        <div class="promo-1__text">
                            Подарки для настоящих мужчин
                        </div>
                    </div>
                    <div class="promo-1__image">
                        <img src="images/temp/promo-1/toolkit.png" alt="">
                    </div>
                </div>
            </div>

            <div class="promo-1__slider__item">
                <div class="promo-1__content" style="background: #ef1a1a;">
                    <div class="promo-1__desc">
                        <h3  class="promo-1__title">Распродажа обоев</h3> 
                        <div class="promo-1__text">
                            до 50%
                        </div>
                    </div>
                    <div class="promo-1__image promo-1__image--top">
                        <img src="images/temp/promo-1/wallpaper.png" alt="">
                    </div>
                </div>
            </div>

            <div class="promo-1__slider__item">
                <div class="promo-1__content" style="background: #bb6bd9;">
                    <div class="promo-1__desc">
                        <h3  class="promo-1__title">Товары под заказ</h3> 
                        <div class="promo-1__text">
                            расширенный ассортимент товаров
                        </div>
                    </div>
                    <div class="promo-1__image">
                        <img src="images/temp/promo-1/bath.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>