
<aside class="promo-best">
    <div class="promo-best__title">Нашли дешевле?<br> Мы снизим цену!</div>
    <div class="promo-best__button">Подробнее</div>
    <a href="#" class="link-area"></a>
</aside>