<section class="pros">
    <div class="page__center">
        <div class="pros__center">
            <h3 class="pros__h1">Наши преимущества</h3>
            <div class="pros__window" data-simplebar>
                <div class="pros__list">
                    <div class="pros__item">
                        <div class="pros__item__icon">
                            <img src="images/pros/shopping-cart.svg" alt="">
                        </div>
                        <div class="pros__item__title">Широкий ассортимент</div>
                        <div class="pros__item__desc">Свыше 300.000 товаров</div>
                    </div>
                    <div class="pros__sep"></div>
                    <div class="pros__item">
                        <div class="pros__item__icon">
                            <img src="images/pros/insurance.svg" alt="">
                        </div>
                        <div class="pros__item__title">Гарантия низких цен</div>
                        <div class="pros__item__desc">Нашли дешевле - вернем 150% разницы</div>
                    </div>
                    <div class="pros__sep"></div>
                    <div class="pros__item">
                        <div class="pros__item__icon">
                            <img src="images/pros/delivery-truck.svg" alt="">
                        </div>
                        <div class="pros__item__title">Бесплатная доставка</div>
                        <div class="pros__item__desc">Бесплатная доставка по городу при покупке от 3 000 рублей</div>
                    </div>
                    <div class="pros__sep"></div>
                    <div class="pros__item">
                        <div class="pros__item__icon">
                            <img src="images/pros/real-estate.svg" alt="">
                        </div>
                        <div class="pros__item__title">Скидки новоселам</div>
                        <div class="pros__item__desc">Карта со скидкой до 5% на ассортимент</div>
                    </div>
                    <div class="pros__sep"></div>
                    <div class="pros__item">
                        <div class="pros__item__icon pros__item__icon--return-box">
                            <img src="images/pros/return-box.svg" alt="">
                        </div>
                        <div class="pros__item__title">Легкий возврат</div>
                        <div class="pros__item__desc">Возврат в течении 120 дней</div>
                    </div>
                </div>
            </div>
            <a href="#" class="button button-outline-black button--size-1 pros__see-all">
                Смотреть все
            </a>
        </div>
    </div>
</section>