<section class="section slider-items-1 slider-dots-1">
    <div class="page__center">
        <div class="slider-items-1__center">
            <div class="section__hidden">
                <div class="slider-items-1__list">
                    <div class="slider-items-1__item">
                        <div class="slider-items-1__slide"></div>
                    </div>
                    <div class="slider-items-1__item">
                        <div class="slider-items-1__slide"></div>
                    </div>
                    <div class="slider-items-1__item">
                        <div class="slider-items-1__slide"></div>
                    </div>
                </div>
            </div>

            <button type="button" class="button-slider button-slider--prev">
                <i class="icon-arrow-left"></i>
            </button>

            <button type="button" class="button-slider button-slider--next">
                <i class="icon-arrow-right"></i>
            </button>
        </div>
    </div>
</section>