<section class="subscribe">
    <div class="page__center">
        <div class="subscribe__center">

            <div class="subscribe__header">
                <h3 class="subscribe__title">
                    <div class="subscribe__title__icon">
                        <img src="images/subscribe/email.svg" alt="">
                    </div>
                    <div class="subscribe__title__text">
                        Подпишись на новости, скидки и акции компании 
                    </div>
                </h3>
                <div class="subscribe__desc">Получи бонусные баллы за подписку на карту прямо сейчас</div>
            </div>
            
            <div class="subscribe__form">
                <div class="subscribe__input">
                    <input type="text" class="input-classic" placeholder="Ваш email">
                </div>
                <div class="subscribe__button">
                    <button type="button" class="button button-orange">
                        Подписаться
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>