<section class="subscribe">
    <div class="page__center">
        <div class="subscribe__center">
            <h3 class="subscribe__h1">
                <div class="subscribe__h1__icon">
                    <img src="images/subscribe/email.svg" alt="">
                </div>
                <div class="subscribe__h1__text">
                    Подпишись на новости, скидки и акции компании 
                </div>
            </h3>
            <div class="subscribe__form">
                <div class="subscribe__fields">
                    <input type="text" class="input input-default input--full subscribe__input" placeholder="Ваш email">
                </div>
                <div class="subscribe__submit">
                    <button type="button" class="button button-orange button--full subscribe__button">
                        Подписаться
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>