.layout-basic {
	&__center {
		display: flex;
	}

	&__side {
		flex: 0 0 auto;
		overflow: hidden;
		width: 0;
	}

	&__main {
		flex: 0 0 auto;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.layout-basic {
		&__side {
			width: 230px;
		}

		&__main {
			padding-left: 17px;
			width: calc(100% - 230px);
		}
	}
}
