.default-input {
	transition: all 0.2s;
	display: block;
	width: 100%;
	border: (1/15) + em solid transparent;
	border-radius: (4/15) + em;
	font-size: (15/16) + em;
	padding: (10/15) + em (10/15) + em;
	border-color: #e7e7e8;
	background: #fafafa;
	color: #2e2e2e;

	&:not(:read-only):focus {
		border-color: #21a73f;
	}

	&::placeholder {
		color: #b2b3b3;
	}
}

@media (min-width: 992px) {
	.default-input {
		font-size: 18px;
	}
}
