::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
	display: none;
}

*:focus {
	outline: none;
}

body {
	background: #fafafa;
	min-width: 320px;
	font-family: "KievitPro", sans-serif;
	font-feature-settings: "pnum" on, "lnum" on;
	line-height: 1.2;
	color: #2e2e2e;
}

textarea {
	resize: vertical;
	min-height: 6em;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	transition: all 0.2s;
}

.h2 {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 700;
	color: #21a73f;
}

@media (min-width: 768px) {
	.h2 {
		margin-bottom: 30px;
		font-size: 32px;
	}
}

@media (min-width: 992px) {
	.h2 {
		margin-bottom: 15px;
	}
}
