.clearfix {
	&::after {
		display: block;
		clear: both;
		content: "";
	}
}

.is-flipped-x {
	transform: scaleX(-1);
}

.rotate-90 {
	transform: rotate(-90deg);
}

.rotate-180 {
	transform: rotate(-180deg);
}

.rotate-270 {
	transform: rotate(-270deg);
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.d-none {
	display: none !important;
}

.d-block {
	display: block !important;
}

.ws-nowrap {
	white-space: nowrap !important;
}

.ws-normal {
	white-space: normal !important;
}

.fw-normal {
	font-weight: normal !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.rubl {
	text-transform: uppercase;
	font-size: 0.5em;
	font-weight: 700;
}

.link-area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@for $i from 1 through 20 {
	.gap-#{$i*5} {
		height: #{$i * 5}px;
	}
}

@for $i from 1 through 12 {
	.col-#{$i} {
		flex: 0 0 auto;
		width: $i/12 * 1%;
	}
}
