.clearfix {
	&::after {
		display: block;
		clear: both;
		content: "";
	}
}

.is-flipped-x {
	transform: scaleX(-1);
}

.rotate-90 {
	transform: rotate(-90deg);
}

.rotate-180 {
	transform: rotate(-180deg);
}

.rotate-270 {
	transform: rotate(-270deg);
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

@for $i from 1 through 20 {
	.gap-#{$i*5} {
		height: #{$i * 5}px;
	}
}

@for $i from 1 through 12 {
	.col-#{$i} {
		flex: 0 0 auto;
		width: $i/12 * 1%;
	}
}
