@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?ekxj3b");
	src: url("../fonts/icomoon.eot?ekxj3b#iefix") format("embedded-opentype"),
		url("../fonts/icomoon.ttf?ekxj3b") format("truetype"),
		url("../fonts/icomoon.woff?ekxj3b") format("woff"),
		url("../fonts/icomoon.svg?ekxj3b#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus-circle:before {
	content: "\e91d";
}
.icon-arrow-left-short:before {
	content: "\e91b";
}
.icon-arrow-right-short:before {
	content: "\e91c";
}
.icon-calendar:before {
	content: "\e91a";
}
.icon-download:before {
	content: "\e917";
}
.icon-email:before {
	content: "\e918";
}
.icon-print:before {
	content: "\e919";
}
.icon-close:before {
	content: "\e916";
}
.icon-arrow-forward:before {
	content: "\e915";
}
.icon-stats:before {
	content: "\e914";
}
.icon-telegram:before {
	content: "\e910";
}
.icon-twitter:before {
	content: "\e911";
}
.icon-vk-share:before {
	content: "\e912";
}
.icon-whatsapp:before {
	content: "\e913";
}
.icon-first-page:before {
	content: "\e90d";
}
.icon-last-page:before {
	content: "\e90e";
}
.icon-arrow-left:before {
	content: "\e90f";
}
.icon-arrow-right:before {
	content: "\e90a";
}
.icon-arrow-down:before {
	content: "\e91e";
}
.icon-arrow-up:before {
	content: "\e901";
}
.icon-checked:before {
	content: "\e90c";
}
.icon-list:before {
	content: "\e90b";
}
.icon-search:before {
	content: "\e909";
}
.icon-vk:before {
	content: "\e902";
}
.icon-instagram:before {
	content: "\e903";
}
.icon-heart:before {
	content: "\e904";
}
.icon-person:before {
	content: "\e905";
}
.icon-shopping-cart:before {
	content: "\e906";
}
.icon-location:before {
	content: "\e907";
}
.icon-menu:before {
	content: "\e908";
}
.icon-phone:before {
	content: "\e900";
}
.icon-home:before {
	content: "\e91f";
}
.icon-help-circle:before {
	content: "\e920";
}
.icon-instagram-2:before {
	content: "\e921";
}
.icon-dialog:before {
	content: "\e922";
}
.icon-time:before {
	content: "\e923";
}
.icon-package:before {
	content: "\e924";
}
.icon-bus:before {
	content: "\e925";
}
.icon-bookmark:before {
	content: "\e926";
}
.icon-filter:before {
	content: "\e927";
}
.icon-call:before {
	content: "\e928";
}
.icon-dislike:before {
	content: "\e929";
}
.icon-like:before {
	content: "\e92a";
}
