// vendor
@import "../../node_modules/destyle.css/destyle";
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/_mixins";
@import "../../node_modules/bootstrap/scss/_transitions";
@import "../../node_modules/simplebar/dist/simplebar";
@import "vendor/select2";
@import "vendor/hamburgers";
@import "vendor/spinners";

// sprites
.icon {
	display: inline-block;
}

@import "../../temp/css/sprite";
@include retina-sprites($retina-groups);

// partials
@import "_fonts";
@import "_fix-vendors";
@import "_defaults";
@import "_helpers";

// blocks
@import "blocks/page";

@import "blocks/button";
@import "blocks/input";
@import "blocks/article";
@import "blocks/spacer";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/error-404";
@import "blocks/subscribe";
@import "blocks/pros";
@import "blocks/table-areas";
@import "blocks/content";
@import "blocks/sorting";
@import "blocks/news";
@import "blocks/news-item";
@import "blocks/nav-path";
@import "blocks/nav-side";
@import "blocks/nav-info";
@import "blocks/nav-pages";
@import "blocks/goods";
@import "blocks/cart";
