//
// VENDOR
//
@import "../../node_modules/destyle.css/destyle";
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/_mixins";
@import "../../node_modules/bootstrap/scss/_transitions";
@import "../../node_modules/simplebar/dist/simplebar";
@import "../../node_modules/js-datepicker/dist/datepicker.min";
@import "../../node_modules/tooltipster/dist/css/tooltipster.bundle";
@import "../../node_modules/jquery-custom-select/dist/css/jquery.custom-select";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/jquery-range/jquery.range";
@import "vendor/hamburgers";
@import "vendor/spinners";

//
// SPRITES
//
.icon {
	display: inline-block;
}

@import "../../temp/css/sprite";
@include retina-sprites($retina-groups);

//
// PARTIALS
//
@import "_fonts";
@import "_icomoon";
@import "_fix-vendors";
@import "_helpers";
@import "_common";

//
// COMPONENTS
//
@import "components/page";

@import "components/rating.scss";
@import "components/labels.scss";

@import "components/buttons/button";
@import "components/buttons/button-dialog";
@import "components/buttons/button-scroll";
@import "components/buttons/button-more";
@import "components/buttons/button-icon";
@import "components/buttons/button-slider";

@import "components/inputs/input-classic";
@import "components/inputs/input-datepicker";
@import "components/inputs/input-top-label";
@import "components/inputs/input-label-up";
@import "components/inputs/input-readonly";
@import "components/inputs/count-editor";
@import "components/inputs/check-default";
@import "components/inputs/check-border";

@import "components/article";
@import "components/header";
@import "components/footer";
@import "components/error-404";
@import "components/subscribe";
@import "components/benefits";
@import "components/table-areas";
@import "components/content";
@import "components/sorting";
@import "components/news";
@import "components/news-item";

@import "components/nav-path";
@import "components/nav-side";
@import "components/nav-info";
@import "components/nav-pages";
@import "components/nav-profile";
@import "components/nav-bottom";
@import "components/nav-catalog";
@import "components/layout-basic";
@import "components/layout-order";
@import "components/layout-profile";
@import "components/form";
@import "components/form-card";
@import "components/promo-best-price";
@import "components/promo-1";
@import "components/cart-total";
@import "components/order-complete";
@import "components/order-info";
@import "components/order-details";
@import "components/my-cards";
@import "components/my-purchases";

@import "components/goods/goods-cards";
@import "components/goods/goods-list";
@import "components/goods/goods-simple";
@import "components/goods/goods-short";

@import "components/shops-cards";
@import "components/product";
@import "components/gallery";
@import "components/props";
@import "components/order";
@import "components/reviews";
@import "components/filter";

@import "components/panels/panel";
@import "components/panels/panel-search";
@import "components/panels/panel-cart";
@import "components/panels/panel-call";
@import "components/panels/panel-city";
@import "components/panels/panel-auth";

@import "components/section";
@import "components/popup";
@import "components/popup-city-confirm";
@import "components/popup-status";

@import "components/sliders/slider-main";
@import "components/sliders/slider-items-3";
@import "components/sliders/slider-items-1";
@import "components/sliders/slider-goods";
@import "components/sliders/slider-dots-1";
@import "components/sliders/slider-shops";

@import "components/brands";
