// vendor
@import "../../node_modules/destyle.css/destyle";
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/_mixins";
@import "../../node_modules/bootstrap/scss/_transitions";
@import "../../node_modules/simplebar/dist/simplebar";
@import "../../node_modules/js-datepicker/dist/datepicker.min";
@import "../../node_modules/tooltipster/dist/css/tooltipster.bundle";
@import "vendor/select2";
@import "vendor/hamburgers";
@import "vendor/spinners";
@import "vendor/icheck-flat";

// sprites
.icon {
	display: inline-block;
}

@import "../../temp/css/sprite";
@include retina-sprites($retina-groups);

// partials
@import "_fonts";
@import "_icomoon";
@import "_fix-vendors";
@import "_helpers";
@import "_common";

// blocks
@import "blocks/page";
@import "blocks/button";
@import "blocks/input";
@import "blocks/article";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/error-404";
@import "blocks/subscribe";
@import "blocks/pros";
@import "blocks/table-areas";
@import "blocks/content";
@import "blocks/sorting";
@import "blocks/news";
@import "blocks/news-item";
@import "blocks/nav-path";
@import "blocks/nav-side";
@import "blocks/nav-info";
@import "blocks/nav-pages";
@import "blocks/nav-profile";
@import "blocks/goods";
@import "blocks/layout-basic";
@import "blocks/layout-order";
@import "blocks/layout-profile";
@import "blocks/form-panel";
@import "blocks/form-card";
@import "blocks/promo-best-price";
@import "blocks/promo-23-feb";
@import "blocks/cart-total";
@import "blocks/order-complete";
@import "blocks/order-info";
@import "blocks/order-details";
@import "blocks/my-cards";
@import "blocks/my-purchases";
@import "blocks/my-goods";
@import "blocks/product";
@import "blocks/gallery";
@import "blocks/props";
@import "blocks/order";
