.nav-info {
	margin-top: 10px;
	margin-bottom: 30px;
	padding-bottom: 2px;
	overflow: hidden;

	&__title {
		&__count {
			margin: -10/18 + em 0;
			margin-left: 10/18 + em;
			display: inline-block;
			min-width: 30/18 + em;
			padding: 5/18 + em;
			background: #f2f3f5;
			border-radius: 4/18 + em;
			text-align: center;
			font-size: 18/20 + em;
			font-weight: normal;
			color: #2e2e2e;
		}
	}

	&__list {
		padding: 8px 0;
	}

	&__quit {
		display: block;
		margin-top: 10/16 + em;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.nav-info {
		margin-top: 20px;

		&__list {
			padding: 10px 0;
		}
	}
}

@media (max-width: 991.98px) {
	.nav-info {
		&__group {
			margin: -2px 0;
		}

		&__title {
			position: relative;
			display: block;
			padding: 16px 18px;
			border: 2px solid #f2f3f5;
			border-radius: 4px;
			background: #fff;
			font-size: 20px;
			font-weight: 500;
			color: #21a73f;

			&:before {
				content: " ";
				position: absolute;
				top: 0;
				height: 100%;
				left: -2px;
				border-left: 4px solid #21a73f;
				border-radius: 4px 0 0 4px;
			}

			&.collapsed {
				color: #2e2e2e;

				&:before {
					display: none;
				}

				i {
					transform: rotate(0);
				}
			}

			i {
				transition: all 0.2s;
				transform: rotate(180deg);
				position: absolute;
				top: 50%;
				margin-top: -0.5em;
				right: 18px;
				font-size: 0.7em;
				color: #2e2e2e;
			}
		}

		&__tabs {
			display: none;
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.nav-info {
		&__title {
			font-size: 36px;
			padding: 18px 35px;

			i {
				right: 35px;
			}
		}
	}
}

@media (min-width: 992px) {
	.nav-info {
		&__tabs {
			position: relative;
			z-index: 10;
			display: flex;
			height: 56px;
			border: 2px solid #f2f3f5;
			background: #fff;
			margin-bottom: -2px;
			border-radius: 4px 4px 0 0;
			font-size: 14px;
			font-weight: 500;
			text-align: center;

			&--product {
				height: 50px;
				font-size: 18px;
			}

			&__item {
				position: relative;
				display: flex;
				align-items: center;
				padding: 0 20px;

				&:before {
					transition: all 0.2s;
					content: " ";
					position: absolute;
					width: 100%;
					bottom: -2px;
					left: 0;
					height: 2px;
					background: #f2f3f5;
				}

				&.active {
					color: #21a73f;

					&:before {
						background: #21a73f;
					}
				}
			}
		}

		&__data {
			position: relative;
		}

		&__group {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			visibility: hidden;
			opacity: 0;

			&.active {
				transition: all 0.2s;
				position: static;
				visibility: visible;
				opacity: 1;
			}
		}

		&__crop {
			display: block !important;
		}

		&__title {
			display: none;
		}

		&__list {
			padding: 0;
		}

		&__quit {
			display: none;
		}
	}
}
