.nav-info {
	&__group {
		margin-bottom: -1px;
	}

	&__title {
		position: relative;
		display: block;
		border: 1px solid #f2f3f5;
		border-radius: 5px;
		padding: 12px 15px;
		background: #fff;
		font-size: 15px;
		color: #21a73f;

		&.collapsed {
			color: #2e2e2e;

			&:before {
				opacity: 0;
			}

			i {
				transform: rotate(0);
			}
		}

		&:before {
			transition: all 0.2s;
			content: " ";
			position: absolute;
			top: 0;
			height: 100%;
			left: 0;
			border-left: 2px solid #21a73f;
			border-radius: 5px 0 0 5px;
		}

		&__count {
			margin: -1em 0 -1em 0.5em;
			display: inline-block;
			min-width: 24/14 + em;
			padding: 4/14 + em;
			background: #f2f3f5;
			border-radius: 5px;
			text-align: center;
			font-size: 14/15 + em;
			color: #2e2e2e;
		}

		i {
			transition: all 0.2s;
			transform: rotate(180deg);
			position: absolute;
			top: 50%;
			margin-top: -0.5em;
			right: 15px;
			font-size: 0.8em;
			color: #2e2e2e;
		}
	}

	&__list {
		padding: 8px 0;
	}

	&__quit {
		display: block;
		margin-top: 10/16 + em;
		width: 100%;
	}

	&__tabs {
		display: none;
	}

	&__paper {
		padding: 20px;
		border: 1px solid #f2f3f5;
		border-radius: 5px;
		background: #fff;
	}
}

@media (min-width: 768px) {
	.nav-info {
		margin-top: 20px;

		&__group {
			margin-bottom: -2px;
		}

		&__title {
			border-width: 2px;
			padding: 24px 35px;
			font-size: 24px;

			&:before {
				border-left-width: 4px;
			}

			i {
				right: 35px;
			}
		}

		&__list {
			padding: 10px 0;
		}

		&__paper {
			border-width: 2px;
			padding: 40px 50px;
		}
	}
}

@media (min-width: 992px) {
	.nav-info {
		&__tabs {
			margin-bottom: -1px;
			position: relative;
			z-index: 10;
			display: flex;
			height: 56px;
			border: 1px solid #f2f3f5;
			background: #fff;
			border-radius: 5px 5px 0 0;
			font-size: 14px;
			font-weight: 500;
			text-align: center;

			&--product {
				height: 50px;
				font-size: 18px;
			}

			&__item {
				position: relative;
				display: flex;
				align-items: center;
				padding: 0 20px;

				&:before {
					transition: all 0.2s;
					content: " ";
					position: absolute;
					width: 100%;
					bottom: -1px;
					left: 0;
					height: 2px;
					background: #f2f3f5;
					opacity: 0;
				}

				&:hover {
					color: #21a73f;
				}

				&.active {
					color: #21a73f;

					&:before {
						opacity: 1;
						background: #21a73f;
					}
				}
			}
		}

		&__data {
			position: relative;
		}

		&__group {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			visibility: hidden;
			opacity: 0;

			&.active {
				transition: all 0.2s;
				position: static;
				visibility: visible;
				opacity: 1;
			}
		}

		&__crop {
			display: block !important;
		}

		&__title {
			display: none;
		}

		&__list {
			padding: 0;
		}

		&__quit {
			display: none;
		}

		&__paper {
			border-radius: 0 0 5px 5px;
			border-width: 1px;
			padding: 25px;
		}
	}
}
