<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title> МЕГА, {{ title }}</title>

	<link rel="stylesheet" href="https://i.icomoon.io/public/temp/876f22d68e/html-mega29/style.css">
	<link rel="stylesheet" href="css/main.min.css">
	
	<script src="js/modernizr-output.js"></script>
</head>

<body>

	{{> body }}

	<script src="js/bundle.js"></script>

	{{> filelist }}
</body>

</html>