.slider-gallery {
	position: relative;
	flex-grow: 1;
	font-size: 0;

	&__list {
	}

	&__item {
		position: relative;
		display: none;

		* {
			cursor: pointer;
		}

		&:first-child {
			display: block;
		}
	}

	&__slide {
		background: #fff 50% 50% no-repeat;
		background-size: contain;
		border-radius: 5px;

		&:before {
			content: "";
			display: block;
			padding-top: 100%;
		}
	}

	&__video {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;

		&:before {
			content: " ";
			display: block;
			padding-top: 56.25%;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__zoom {
		display: none;
	}

	&__nav {
		display: none;
	}
}

@media (min-width: 1220px) {
	.slider-gallery {
		&__list {
			margin-left: 84px;
		}

		&__item {
			&.hover {
				.slider-gallery__zoom {
					opacity: 1;
				}
			}
		}

		&__zoom {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-repeat: no-repeat;
		}

		&__nav {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 72px;
			overflow: hidden;

			&__window {
				height: 100%;
			}

			&__item {
				transition: all 0.2s;
				position: relative;
				margin-top: 12px;
				border: 1px solid #f2f3f5;
				background: #fff 50% 50% no-repeat;
				background-size: cover;
				border-radius: 4px;
				cursor: pointer;
				opacity: 0.7;

				&--video {
					border-color: transparent;

					&:after {
						content: " ";
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 36px;
						height: 36px;
						background: url(../images/play.svg) no-repeat 50% 50%;
						background-size: cover;
					}
				}

				&:first-child {
					margin-top: 0;
				}

				&:hover {
					opacity: 1;
				}

				&.active {
					border-color: #21a73f;
					opacity: 1;
				}

				&:before {
					content: "";
					display: block;
					padding-top: 100%;
				}
			}
		}

		.simplebar-track.simplebar-vertical {
			display: none;
		}

		.slick-dots {
			display: none !important;
		}
	}
}
