.slider-dots-1 {
	.slick-dots {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 7px;
		white-space: nowrap;
		font-size: 0;

		li {
			display: inline-block;
			margin: 0 3px;

			button {
				transition: all 0.2s;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
				width: 5px;
				height: 5px;
				background: #fff;
				border-radius: 10px;
				overflow: hidden;
			}

			&.slick-active {
				button {
					width: 15px;
					background: #21a73f;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.slider-dots-1 {
		&--large {
			.slick-dots {
				bottom: 17px;

				li {
					margin: 0 8px;

					button {
						width: 13px;
						height: 13px;
					}

					&.slick-active {
						button {
							width: 40px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.slider-dots-1 {
		.slick-dots {
			bottom: 10px;
		}
	}
}
