.slider-main {
	margin-top: 10px;
	overflow: hidden;

	&__list {
		margin: 0 -10px;
		line-height: 0;
	}

	&__item {
		padding: 0 10px;
		display: none;

		&:first-child {
			display: block;
		}
	}

	&__slide {
		background: #e7e7e8;
		height: 300px;
		border-radius: 5px;
	}

	.slick-list {
		overflow: visible;
	}

	.button-slider {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.slider-main {
		margin-top: 20px;

		&__list {
			margin: 0 -20px;
		}

		&__item {
			padding: 0 20px;
		}

		&__slide {
			height: 240px;
		}
	}
}

@media (min-width: 992px) {
	.slider-main {
		margin-top: 30px;

		&__list {
			margin: 0 -25px;
		}

		&__item {
			padding: 0 25px;
		}

		&__slide {
			height: 400px;
		}
	}
}

@media (min-width: 1220px) {
	.slider-main {
		.button-slider {
			display: flex !important;
		}

		.button-slider--prev {
			left: 5px;
		}

		.button-slider--next {
			right: 5px;
		}
	}
}
