.slider-items-1 {
	overflow: auto;

	&__center {
		position: relative;
	}

	&__list {
		white-space: nowrap;
		font-size: 0;
	}

	&__item {
		display: inline-block;
		padding-right: 10px;
		width: 100%;
	}

	&__slide {
		height: 75px;
		background: #e7e7e8;
		border-radius: 5px;
	}

	.button-slider {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.slider-items-1 {
		&__list {
		}

		&__item {
			padding-right: 20px;
		}

		&__slide {
			height: 180px;
		}
	}
}

@media (min-width: 992px) {
	.slider-items-1 {
		overflow: visible;

		&__list {
			margin: 0 -25px;
		}

		&__item {
			display: none;
			padding: 0 25px;

			&:first-child {
				display: block;
			}
		}

		&__slide {
		}
	}
}

@media (min-width: 1220px) {
	.slider-items-1 {
		.button-slider {
			display: flex !important;
		}

		.button-slider--prev {
			left: -20px;
		}

		.button-slider--next {
			right: -20px;
		}
	}
}
