::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
	display: none;
}

*:focus {
	outline: none;
}

.clearfix {
	&::after {
		display: block;
		clear: both;
		content: "";
	}
}

.is-flipped-x {
	transform: scaleX(-1);
}

body {
	background: #fafafa;
	min-width: 415px;
	font-family: "KievitPro", sans-serif;
	font-feature-settings: "pnum" on, "lnum" on;
	line-height: 1.2;
}

img {
	max-width: 100%;
	height: auto;
}
