// vendor
@import "../../node_modules/destyle.css/destyle";
@import "vendor/spinners";

// sprites
.icon {
	display: inline-block;
}

@import "../../temp/css/sprite";
@include retina-sprites($retina-groups);

// partials
@import "_fonts";
@import "_vendor-fix";
@import "_defaults";

// blocks
@import "blocks/page";
@import "blocks/footer";
@import "blocks/button";
@import "blocks/input";
@import "blocks/error-404";
@import "blocks/subscribe";
