.goods-cards {
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
		margin-top: -10px;
	}

	&__col {
		flex: 0 0 auto;
		width: 50%;
		padding: 0 5px;
		margin-top: 10px;
	}

	&__item {
		transition: all 0.2s;
		position: relative;
		flex-grow: 1;
		border: 1px solid #f2f3f5;
		border-radius: 5px;
		background: #fff;
		overflow: hidden;

		&:hover {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04),
				0px 5px 16px rgba(0, 0, 0, 0.08);
		}
	}

	&__image-size {
		display: block;
		position: relative;
		padding-top: 100%;
	}

	&__image,
	&__quick {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__labels {
		position: absolute;
		top: 7px;
		left: 7px;
		width: 10px;
		font-size: 7px;
	}

	&__quick {
		transition: all 0.2s;
		padding: 10/16 + em;
		background: rgba(50, 50, 50, 0.5);
		visibility: hidden;
		opacity: 0;
	}

	&__desc {
		text-align: center;
		padding: 10px;
		flex-grow: 1;
	}

	&__title {
		display: block;
		height: 3.6em;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 5px;
		font-size: 10px;
		font-weight: 500;

		&:hover {
			color: #21a73f;
		}
	}

	&__points {
		margin: 5px 0;
		font-size: 7px;
	}

	&__price {
		margin: 5px 0;
		white-space: nowrap;
		font-size: 16px;
		font-weight: 700;

		> * {
			display: inline-block;
			margin: 0 0.15em;
		}
	}

	&__to-cart {
		margin: 5px 0;

		.button {
			font-size: 10px;
		}
	}

	&__actions {
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 10px;

		&__item {
			margin: 0 0.5em;
		}
	}
}

@media (min-width: 768px) {
	.goods-cards {
		&__row {
			margin-right: -7px;
			margin-left: -7px;
		}

		&__col {
			width: 33.33%;
			padding-right: 7px;
			padding-left: 7px;
		}

		&__desc {
			padding: 15px;
		}

		&__labels {
			font-size: 11px;
		}

		&__title {
			font-size: 13px;
		}

		&__points {
			font-size: 11px;
		}

		&__price {
			margin: 10px 0;
			font-size: 24px;
		}

		&__to-cart {
			.button {
				font-size: 15px;
			}
		}

		&__actions {
			margin: 10px 0 -5px 0;
			font-size: 13px;
		}
	}
}

@media (min-width: 992px) {
	.goods-cards {
		&__image-size {
			&:hover {
				.goods-cards__quick {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

@media (min-width: 1220px) {
	.goods-cards {
		&__row {
			margin-top: -25px;
		}

		&__col {
			margin-top: 25px;
			width: 25%;
		}
	}
}
