.goods-list {
	&__item {
		margin-top: 5px;
		position: relative;
		border: 1px solid #f2f3f5;
		border-radius: 5px;
		background: #fff;
		display: flex;
		align-items: center;

		&:first-child {
			margin-top: 0;
		}
	}

	&__image {
		background: no-repeat 50% 50%;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 100%;
			display: block;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-size: 10px;
		font-weight: 500;
	}

	&__points {
		order: 1;
		font-size: 7px;
	}

	&__price {
		order: 2;
		margin: 10px 0;
		white-space: nowrap;
		font-size: 16px;
		font-weight: 700;

		> * {
			display: inline-block;
			margin: 0 0.15em;
		}
	}

	&__labels {
		position: absolute;
		width: 10px;
		top: 0;
		left: 0;
		padding: 7px;
		font-size: 7px;
	}

	&__btns-buy {
		&__quick-view {
			display: none;
		}

		.button {
			width: 100%;
			font-size: 10px;
		}
	}

	&__btns-save {
		margin-top: 10px;
		display: flex;
		justify-content: center;
		font-size: 10px;

		> * {
			margin: 0 0.5em;
		}
	}

	&__col-image {
		max-width: 180px;
		flex: 0 0 auto;
		width: 50%;
	}

	&__col-price {
		display: flex;
		flex-direction: column;
	}

	&__col-desc {
		max-width: 250px;
		margin: 0 auto;
		flex: 0 0 auto;
		width: 50%;
		padding: 10px;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.goods-list {
		&__title {
			font-size: 13px;
		}

		&__labels {
			position: static;
			width: auto;
			font-size: 11px;
			padding: 0;
		}

		&__points {
			order: 2;
			font-size: 11px;
		}

		&__price {
			order: 1;
			display: flex;
			flex-direction: column-reverse;
			font-size: 26px;

			> * {
				display: block;
			}
		}

		&__btns-buy {
			&__quick-view {
				display: block;
				margin-top: 5px;
			}

			.button {
				font-size: 18px;
			}
		}

		&__btns-save {
			margin-top: 5px;
			font-size: 13px;
		}

		&__col-image {
		}

		&__col-desc {
			display: flex;
			align-items: center;
			width: calc(100% - 180px);
			max-width: none;
		}

		&__col-info {
			max-width: 240px;
			padding-left: 10px;
			margin-right: auto;
		}
	}
}

@media (min-width: 992px) {
	.goods-list {
		&__price {
			font-size: 25px;
		}

		&__btns-buy {
			padding-left: 20px;
			flex-grow: 1;

			.button {
				font-size: 15px;
			}
		}

		&__btns-save {
			display: block;
			padding-left: 20px;
			margin: 0;

			> * {
				margin: 8px 0;
			}
		}

		&__col-image {
			max-width: 115px;
		}

		&__col-desc {
			padding: 15px;
			width: calc(100% - 115px);
			margin: 0;
		}

		&__col-title {
			max-width: 230px;
			margin: 0 auto;
		}

		&__col-info {
			flex-grow: 1;
			display: flex;
			align-items: center;
			max-width: none;
			padding-left: 5px;
			margin: 0;
		}

		&__col-price {
			padding-left: 20px;
		}

		&__col-btns {
			flex-grow: 1;
			display: flex;
			align-items: center;
		}
	}
}
