.goods-cards {
	&--nowrap {
		margin: 30px 0;

		.goods-cards__list {
			flex-wrap: nowrap;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -4px -2px 0 -2px;
	}

	&__col {
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		width: 50%;
		margin-top: 4px;
		padding: 0 2px;
	}

	&__item {
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		border: 1px solid #f2f3f5;
		border-radius: 4px;
		overflow: hidden;
		background: #fff;
	}

	&__image {
		display: block;
		position: relative;
		padding-top: 100%;

		.backgroundblendmode &--gray {
			background: #f2f3f5;

			img {
				mix-blend-mode: multiply;
			}
		}

		div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img {
			max-width: 80%;
			max-height: 80%;
		}
	}

	&__ctrl {
		position: absolute;
		top: 3px;
		right: 3px;

		&__item {
			display: block;
			padding: 7px;
			font-size: 16px;
			line-height: 0;
			color: #b2b3b3;
		}
	}

	&__labels {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 10px;
	}

	&__desc {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 10px;
		flex-grow: 1;
	}

	&__code {
		padding-bottom: 15px;
		font-size: 12px;
		color: #b2b3b3;
	}

	&__title {
		padding-bottom: 20px;
		flex-grow: 1;

		a {
			display: block;
			font-size: 12px;
			font-weight: 700;

			&:hover {
				color: #21a73f;
			}
		}
	}

	&__price {
		padding: 10px 0;
		font-size: 20px;
		font-weight: 500;
	}

	&__rating {
		justify-content: center;
	}
}

@media (max-width: 767.98px) {
	.goods-cards {
		&__add-to-cart {
			padding: (8/14) + em (15/14) + em;
		}
	}
}

@media (min-width: 600px) {
	.goods-cards {
		&__col {
			width: 33.33%;
		}
	}
}
@media (min-width: 768px) {
	.goods-cards {
		&__col {
			width: 25%;
		}
	}
}

@media (min-width: 992px) {
	.goods-cards {
		&--nowrap {
			.goods-cards__col {
				width: 20%;
			}
		}
	}
}
