.content {
	padding-bottom: 20px;

	&__center {
		display: flex;
	}

	&__side {
		display: none;
	}

	&__image {
		overflow: hidden;
		border-radius: 4px;
		line-height: 1;
	}
}

@media (min-width: 992px) {
	.content {
		&__center {
			display: flex;
		}

		&__side {
			display: block;
			flex: 0 0 230px;
		}

		&__main {
			flex-grow: 1;
			padding-left: 17px;
		}
	}
}
