.error-404 {
	padding: 75px 0;

	&__left {
		display: none;
	}

	&__right {
		text-align: center;
	}

	&__h1 {
		margin-bottom: 15px;
		font-size: 28px;
		font-weight: 700;
	}

	&__links {
		max-width: 65%;
		margin: 0 auto;

		> * {
			margin-top: 6px;
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.error-404 {
		padding: 150px 0;

		&__h1 {
			margin-bottom: 25px;
			font-size: 56px;
		}

		&__desc {
			font-size: 32px;
		}

		&__links {
			> * {
				font-size: 24px;
				padding-bottom: 15px;
				padding-top: 15px;
			}
		}
	}
}

@media (min-width: 992px) {
	.error-404 {
		padding-top: 110px;
		padding-bottom: 40px;

		&__center {
			display: flex;
			align-items: center;
		}

		&__left,
		&__right {
			display: block;
			flex: 0 0 50%;
			padding: 0 15px;
		}

		&__right {
			&__image {
				display: none;
			}
		}
		&__links {
			margin-top: 16px;
		}
	}
}
