.footer {
	background: #21a73f;
	color: #fff;

	&__contacts {
		text-align: center;
		padding: 40px 0;
	}

	&__call {
		&__phone {
			white-space: nowrap;
			font-size: 32px;
			font-weight: 700;

			i {
				font-size: 0.75em;
				margin-right: 6px;
			}
		}

		&__desc {
			font-size: 22px;
		}
	}

	&__social {
		font-size: 0;
		margin: 25px 0;

		&__link {
			display: inline-block;
			width: 70px;
			margin: 0 5px;

			img {
				width: 100%;
			}
		}
	}

	&__pay {
		margin-top: -10px;

		&__title {
			margin-bottom: 0.2em;
			font-size: 26px;
			font-weight: 500;
		}

		&__cards {
			font-size: 0;

			img {
				vertical-align: middle;
				margin: 2px;
				width: 47px;
			}
		}
	}

	&__apps {
		margin-top: -10px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		&__link {
			margin: 10px 5px 0 5px;
			width: 260px;

			img {
				width: 100%;
			}
		}
	}

	&__author {
		margin: 30px 0;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
	}
}

@media (max-width: 991.98px) {
	.footer {
		&__links {
			&__group {
				border-bottom: 1px solid rgba(#fafafa, 0.8);
				padding: 0 15px;
			}

			&__title {
				position: relative;
				padding: 15px 0;
				text-transform: uppercase;
				font-weight: 700;
				cursor: pointer;

				i {
					transition: all 0.2s;
					transform: rotate(180deg);
					position: absolute;
					right: 0;
					top: 50%;
					font-size: 14px;
					margin-top: -0.5em;
				}

				&.collapsed {
					i {
						transform: rotate(0);
					}
				}
			}

			&__list {
				> div {
					padding-bottom: 10px;
				}
				> div > div {
					margin-bottom: 10px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.footer {
		padding: 55px 0;

		&__center {
			display: flex;
			flex-direction: row-reverse;
		}

		&__contacts {
			flex: 0 0 230px;
			max-width: 230px;
			padding: 0;
		}

		&__links {
			display: flex;
			flex-grow: 1;
			flex-wrap: wrap;
			padding-top: 10px;

			&__group {
				padding-left: 25px;
				margin-bottom: 30px;
				flex-basis: 190px;
			}

			&__title {
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 800;

				i {
					display: none;
				}
			}

			&__list {
				display: block !important;
				height: auto !important;
				font-size: 13px;
				font-weight: 500;

				div {
					margin-top: 12px;
				}

				a {
					&:hover {
						border-bottom: 1px solid rgba(#fff, 0.5);
					}
				}
			}
		}

		&__call {
			&__phone {
				font-size: 21px;
			}

			&__desc {
				font-size: 15px;
				font-weight: 700;
			}
		}

		&__social {
			margin: 11px 0;

			&__link {
				width: 44px;
				margin: 0 3px;
			}
		}

		&__pay {
			margin-top: -3px;

			&__title {
				font-size: 17px;
			}

			&__cards {
				img {
					margin: 1px;
					width: 30px;
				}
			}
		}

		&__author {
			margin: 15px 0;
			font-size: 13px;
		}

		&__apps {
			margin-top: -5px;

			&__link {
				margin-top: 5px;
				width: 120px;
			}
		}
	}
}
