.input {
	transition: all 0.2s;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14px;
}

.input--full {
	display: block;
	width: 100%;
}

.input-default {
	padding: 11px 10px;
	border-color: #e7e7e8;
	background: #fafafa;
	color: #727271;

	&:focus {
		border-color: #b2b3b3;
	}

	&::placeholder {
		color: #b2b3b3;
	}
}
