.page {
	&__center {
		box-sizing: content-box;
		padding: 0 20px;
		max-width: 1180px;
		margin: 0 auto;
	}

	&__paper {
		padding: 13px 15px;
		border: 2px solid #f2f3f5;
		border-radius: 4px;
		background: #fff;

		&--sm-offset {
			padding: 10px;
		}
	}
}
