.check-default {
	position: relative;
	display: flex;
	margin-top: 7px;
	cursor: pointer;

	&:first-child {
		margin-top: 0;
	}

	&--radio {
		&.active {
			color: #21a73f;
		}
	}

	&__input {
		flex: 0 0 auto;
		width: 25/13 + em;

		input {
			position: absolute;
			opacity: 0;
		}
	}

	&__text {
		align-self: center;
	}

	.icheckbox {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 18/12 + em;
		height: 18/12 + em;
		border-radius: 4px;
		background: #e7e7e8;

		&.checked {
			background: #21a73f;
			color: #fff;

			&:before {
				content: "\e90c";
				font-family: "icomoon" !important;
				line-height: 1;
			}
		}
	}

	.iradio {
		width: 1em;
		height: 1em;
		transform: scale(1.1);
		transform-origin: 0 0;
		margin-left: 2/15 + em;
		border: 3/15 + em solid #2e2e2e;
		border-radius: 50%;

		&.checked {
			border: 5/15 + em solid #21a73f;
		}
	}

	a {
		color: #21a73f;
	}
}
