.input-classic {
	transition: all 0.2s;
	display: block;
	width: 100%;
	padding: 11px 13px;
	border: 1px solid #e7e7e8;
	border-radius: 5px;
	background: #fafafa;
	font-size: 15px;
	color: #2e2e2e;

	&:not(:read-only):focus {
		border-color: #21a73f;
	}

	&::placeholder {
		color: #b2b3b3;
	}
}

@media (min-width: 768px) {
	.input-classic {
		padding: 18px 13px;
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	.input-classic {
		padding: 15px 13px;
		font-size: 15px;
	}
}
