.input-readonly {
	border: (1/18) + em solid transparent;
	border-radius: (4/18) + em;
	font-size: (18/16) + em;
	font-weight: 700;
	padding: (9/18) + em (10/18) + em;
	border-color: #e7e7e8;
	background: #fafafa;
	color: #2e2e2e;
}
