.input-classic {
	transition: all 0.2s;
	display: block;
	width: 100%;
	padding: (11/14) + em (10/14) + em;
	border: 1px solid #e7e7e8;
	border-radius: 5px;
	background: #fafafa;
	font-size: (14/16) + em;
	color: #2e2e2e;

	&:not(:read-only):focus {
		border-color: #21a73f;
	}

	&::placeholder {
		color: #b2b3b3;
	}
}
