.input-top-label {
	position: relative;
	font-size: 15px;

	&__label {
		position: absolute;
		top: 0;
		margin-top: -0.6em;
		left: 8px;
		padding: 0 5px;
		background: #fff;
		font-size: 0.8em;
		font-weight: 700;
	}

	&__input {
		display: block;
		width: 100%;
		padding: 11px 13px;
		border: 1px solid #b2b3b3;
		border-radius: 5px;
		font-size: 1em;
		color: #000;

		&:not(:read-only):focus {
			border-color: #21a73f;
		}
	}
}

@media (min-width: 768px) {
	.input-top-label {
		font-size: 18px;

		&__label {
		}

		&__input {
			padding: 18px 13px;
		}
	}
}

@media (min-width: 992px) {
	.input-top-label {
		font-size: 15px;

		&__label {
		}

		&__input {
			padding: 15px 13px;
		}
	}
}
