.form-sorting {
	padding-bottom: 10px;
	margin-bottom: 10px;
	overflow: auto;

	&__row {
		display: flex;
	}

	&__gap {
		flex: 0 0 auto;
		width: 10px;
	}

	&__col {
		flex: 0 0 auto;
		margin-right: 10px;

		&--select {
			width: 18em;
			font-size: 12px;

			.selectric .label {
				padding-top: 0;
				padding-bottom: 0;
				height: 30px;
				line-height: 30px;
			}
		}

		&--filter {
			.button {
				padding-top: 0;
				padding-bottom: 0;
				height: 32px;
				font-size: 12px;
				font-weight: normal;
			}
		}

		&--right {
			margin-left: auto;
		}
	}

	&__modes {
		display: flex;
		align-items: center;
		height: 1em;
		padding: 0 3/40 + em;
		background: #f2f3f5;
		border-radius: 5px;
		font-size: 32px;

		&__item {
			margin: 0 3/40 + em;
			padding: 7/40 + em;
			border-radius: 5px;
			line-height: 0;

			&.active {
				background: #fff;
				color: #21a73f;
			}

			i {
				font-size: 18/40 + em;
			}
		}
	}
}

@media (min-width: 768px) {
	.form-sorting {
		margin-bottom: 20px;
		overflow: visible;

		&__row {
		}

		&__gap {
			width: 20px;
		}

		&__col {
			&--select {
				font-size: 17px;

				.selectric .label {
					height: 43px;
					line-height: 43px;
				}
			}

			&--filter {
				.button {
					height: 45px;
					font-size: 17px;
				}
			}
		}

		&__modes {
			font-size: 45px;
		}
	}
}

@media (min-width: 992px) {
	.form-sorting {
		margin-bottom: 10px;

		&__row {
		}

		&__gap {
		}

		&__col {
			&--select {
				font-size: 13px;

				.selectric .label {
					height: 38px;
					line-height: 38px;
				}
			}

			&--filter {
				display: none;

				.button {
					height: 40px;
					font-size: 13px;
				}
			}
		}

		&__modes {
			font-size: 40px;
		}
	}
}
