.form-search {
	&.focus {
		.form-search__panel {
			display: block;
		}
	}

	&.loading {
		.form-search__panel * {
			user-select: none;
			pointer-events: none;
		}

		.form-search__tips a:hover,
		.goods-simple__item:hover {
			background: transparent;
		}

		.form-search__tips span,
		.form-search__more .button,
		.goods-simple__image,
		.goods-simple__title,
		.goods-simple__price span {
			animation: infinite form-search-pulse 1s;
			background: #fafafa !important;
			color: transparent;
		}
	}

	&__header {
		display: flex;
		align-items: center;

		&__back {
			flex: 0 0 auto;
			width: 0;
		}
	}

	&__field {
		flex: 1 0 auto;
		position: relative;
		display: flex;
		background: #f2f3f5;
		border-radius: 4px;

		&__icon {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			height: 100%;
			display: flex;
			align-items: center;
			padding: 0 11px;
			font-size: 17px;
			color: #b2b3b3;
		}

		&__input {
			position: relative;
			z-index: 2;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0;
			background: transparent;
			padding-left: 35px;
		}

		&__button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			min-width: 96px;
		}
	}

	&__panel {
		display: none;
		position: absolute;
		top: 100%;
		margin-top: -10px;
		left: 0;
		width: 100%;
		min-width: 400px;
		z-index: 400;
		border: 1px solid #f1f1f1;
		border-radius: 4px;
		box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
			0px 4px 16px rgba(51, 51, 51, 0.08);
		background: #fff;
	}

	&__tips {
		padding: 15px 30px;

		a {
			transition: all 0.2s;
			display: block;
			padding: 10px 15px;
			border-radius: 5px;
			font-size: 18px;

			&:hover {
				background: #f1f1f1;
			}
		}
	}

	&__break {
		border-top: 1px solid #f1f1f1;
	}

	&__goods {
		padding: 15px 30px;
	}

	&__more {
		padding: 0 30px 30px 30px;
	}
}

@media (max-width: 991.98px) {
	.form-search {
		transition: transform 0.2s;
		transform: translateX(100%);
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #fff;
		overflow: auto;

		&.active {
			transform: translateX(0);
		}

		&__header {
			padding: 10px 20px;

			&__back {
				font-size: 20px;
				margin-right: 12px;
				width: auto;

				i {
					display: block;
				}
			}
		}

		&__field {
			&__input {
				border-radius: 5px;
				border: 1px solid #e7e7e8;
				font-size: 15px;
			}

			&__button {
				display: none;
			}
		}

		&__panel {
			display: block;
			position: static;
			margin: 0;
			box-shadow: none;
			border: 0;
			min-width: auto;
		}

		&__tips {
			padding: 0 10px 10px 10px;

			a {
				padding: 6px 10px;
				font-size: 15px;
			}
		}

		&__goods {
			padding: 20px 10px;
		}

		&__more {
			padding: 20px;
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.form-search {
		&__header {
			padding: 20px 35px;

			&__back {
				width: 60px;
				margin-right: 0;
				text-align: center;
			}
		}

		&__field {
			&__input {
				font-size: 18px;
			}
		}

		&__tips {
			padding: 20px 35px;

			a {
				padding: 20px 25px;
				font-size: 18px;
			}
		}

		&__goods {
			padding: 40px 55px;
		}

		&__more {
			padding: 0 35px 50px 35px;
		}
	}
}

@keyframes form-search-pulse {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}
