.form-filter {
	&__panel {
		background: #fff;
	}

	&__group {
		border-top: 1px solid #f2f3f5;
		font-size: 13px;

		&--orange {
			.form-filter__title,
			.form-filter__check.active {
				color: #ef7f1a;
			}
		}

		&--red {
			.form-filter__title,
			.form-filter__check.active {
				color: #ef1a1a;
			}
		}

		&:first-child {
			border-top: 0;
		}
	}

	&__title {
		position: relative;
		display: flex;
		align-items: center;
		padding: 19px 13px;
		font-weight: 500;

		&.collapsed {
			.form-filter__title__arrow {
				transform: rotate(0);
			}
		}

		&__arrow {
			transition: all 0.2s;
			transform: rotate(180deg);
			position: absolute;
			top: 50%;
			margin-top: -0.5em;
			right: 13px;
		}

		&__info {
			margin-left: 10px;
			font-size: 15px;
		}
	}

	&__body {
		padding: 13px;
		padding-top: 0;
	}

	&__props {
		margin-top: 5px;

		&:first-child {
			margin-top: 0;
		}

		&__title {
			margin-left: 5px;
			margin-bottom: 5px;
			font-weight: 500;
			color: #000;
		}

		&__list {
			padding: 7px;
			background: #fafafa;
			border-radius: 4px;
		}
	}

	&__ctrl {
		padding: 13px;
		border-top: 1px solid #e7e7e8;

		&__item {
			margin-top: 10px;
			display: block;
			width: 100%;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&__range {
		&__fields {
			display: flex;
			padding-top: 10px;
			font-size: 16px;
		}

		&__input {
			flex: 1 1 50%;
			padding: 0 7px;
		}

		&__space {
			flex: 0 0 auto;
			align-self: center;
			width: 12px;
			height: 1px;
			background: #b2b3b3;
		}

		&__slider {
			margin: 0 7px;
		}

		.slider-container {
			margin-top: 33px;
			margin-bottom: 20px;
		}

		.back-bar {
			height: 4px;
			background: #e7e7e8;
		}

		.selected-bar {
			background: #21a73f !important;
		}

		.pointer {
			top: -7px !important;
			width: 18px !important;
			height: 18px !important;
			border-color: transparent !important;
			background: #21a73f !important;
		}

		.scale {
			display: none;
		}
	}
}

@media (max-width: 991.98px) {
	.form-filter {
		&__lock {
			overflow: hidden;
		}

		&__overlay {
			transition: all 0.2s;
			position: fixed;
			z-index: 200;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0;
			visibility: hidden;
		}

		&__panel {
			transition: transform 0.2s;
			transform: translateX(-100%);
			position: fixed;
			z-index: 300;
			top: 60px;
			left: 0;
			width: 60%;
			min-width: 230px;
			max-width: 400px;
			bottom: 0;
			overflow: auto;
		}

		&.active {
			.form-filter__overlay {
				visibility: visible;
				opacity: 0.2;
			}

			.form-filter__panel {
				transform: translateX(0);
			}
		}
	}
}

@media (min-width: 992px) {
	.form-filter {
		&__panel {
			border: 1px solid #f2f3f5;
			border-radius: 4px;
		}
	}
}
