.grid-goods {
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
		margin-top: -10px;
	}

	&__col {
		flex: 0 0 auto;
		width: 50%;
		padding: 0 5px;
		margin-top: 10px;
	}
}

@media (min-width: 768px) {
	.grid-goods {
		&__row {
			margin-right: -7px;
			margin-left: -7px;
		}

		&__col {
			width: 33.33%;
			padding-right: 7px;
			padding-left: 7px;
		}
	}
}

@media (min-width: 1220px) {
	.grid-goods {
		&__row {
			margin-top: -25px;
		}

		&__col {
			margin-top: 25px;
			width: 25%;
		}
	}
}
