.button-more {
	transition: all 0.2s;
	display: flex;
	align-items: center;
	font-size: 11/16 + em;
	font-weight: 500;

	&__icon {
		margin-left: 5/11 + em;
		font-size: 7/11 + em;
	}

	&:hover {
		color: #21a73f;
	}
}

@media (min-width: 992px) {
	.button-more {
		font-size: 18px;
	}
}
