.button {
	transition: all 0.2s;
	position: relative;
	display: inline-block;
	padding: (11/14) + em (15/14) + em;
	min-width: 90px;
	border: (1/14) + em solid transparent;
	border-radius: (4/14) + em;
	text-align: center;
	font-size: (14/16) + em;
	font-weight: 700;

	.spinner-border {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1.4em;
		height: 1.4em;
		margin: -0.7em 0 0 -0.7em;
		display: none;
	}

	&.loading {
		.spinner-border {
			display: block;
		}
		.button__text {
			opacity: 0;
		}
	}

	&.loading,
	&.disabled {
		box-shadow: none !important;
		cursor: default !important;
	}

	&--full {
		display: block;
		width: 100%;
	}

	&--size-1 {
		padding: (7/12) + em (10/12) + em;
		font-weight: 400;
		font-size: (12/16) + em;
	}
}

.button-green {
	background: #21a73f;
	color: #fff;

	&.loading,
	&:hover,
	&.hover {
		background: #007334;
	}

	&:active,
	&.active {
		background: #007334;
		box-shadow: inset 0px 4/14 + em 15/14 + em rgba(0, 0, 0, 0.25);
	}

	&.disabled {
		background: #e7e7e8 !important;
		color: #979797 !important;
	}
}

.button-light-green {
	background: #cfe9d5;
	color: #21a73f;

	&.loading,
	&:hover,
	&.hover {
		background: #007334;
		color: #fff;
	}

	&:active,
	&.active {
		background: #007334;
		box-shadow: inset 0px 4/14 + em 15/14 + em rgba(0, 0, 0, 0.25);
		color: #fff;
	}

	&.disabled {
		background: #f2f3f5 !important;
		color: #979797 !important;
	}
}

.button-outline-green {
	border-color: #21a73f;
	color: #21a73f;

	&.loading,
	&:hover,
	&.hover {
		background: #21a73f;
		color: #fff;
	}

	&:active,
	&.active {
		background: #21a73f;
		box-shadow: inset 0px 4/14 + em 15/14 + em rgba(0, 0, 0, 0.25);
		color: #fff;
	}

	&.disabled {
		background: none !important;
		border-color: #979797 !important;
		color: #979797 !important;
	}
}

.button-orange {
	background: #ef7f1a;
	color: #fff;

	&.loading,
	&:hover,
	&.hover {
		background: #ea5e20;
	}

	&:active,
	&.active {
		background: #ea5e20;
		box-shadow: inset 0 (4/14) + em (4/14) + em rgba(#000, 0.3);
	}

	&.disabled {
		background: #e7e7e8 !important;
		color: #979797 !important;
	}
}

.button-light-orange {
	background: #fde6d1;
	color: #f68219;

	&.loading,
	&:hover,
	&.hover {
		background: #ea5e20;
		color: #fff;
	}

	&:active,
	&.active {
		background: #ea5e20;
		box-shadow: inset 0px 4/14 + em 15/14 + em rgba(0, 0, 0, 0.25);
		color: #fff;
	}

	&.disabled {
		background: #f2f3f5 !important;
		color: #979797 !important;
	}
}

.button-outline-orange {
	border-color: #ef7f1a;
	color: #ef7f1a;

	&.loading,
	&:hover,
	&.hover {
		background: #ef7f1a;
		color: #fff;
	}

	&:active,
	&.active {
		background: #ef7f1a;
		box-shadow: inset 0 (4/14) + em (4/14) + em rgba(#000, 0.3);
		color: #fff;
	}

	&.disabled {
		background: none !important;
		border-color: #979797 !important;
		color: #979797 !important;
	}
}

.button-outline-white {
	border-color: rgba(#fff, 0.7);
	color: #fff;

	&:hover,
	&.hover {
		background: #fff;
		color: #2e2e2e;
	}

	&:active,
	&.active {
		background: #fff;
		box-shadow: inset 0 (4/14) + em (4/14) + em rgba(#000, 0.3);
		color: #2e2e2e;
	}
}
