.button-icon {
	transition: all 0.2s;
	display: flex;
	align-items: center;
	padding: 0.3em 0;
	white-space: nowrap;
	font-size: 1em;
	font-weight: 500;
	color: #bdbdbd;

	&__icon {
		margin-right: 0.4em;
		font-size: 1.3em;
	}

	&:hover {
		color: #979797;
	}
}
